<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>{{ preSelectedFormData.StartedBy }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b>{{ preSelectedFormData.StartedByDesignation }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time : </b>{{
                        preSelectedFormData.StartedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{ preSelectedFormData.ModifiedBy }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Designation :</b>{{ preSelectedFormData.ModifiedByDesignation }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time :</b>
                        {{
                        preSelectedFormData.ModifiedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}</label>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Speech and comprehension impairment</p>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <ng-container *ngIf="isEditable; else SpeechLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [(ngModel)]="
                        CareSpeechLanguageFormData.speechComprehensionImpairment
                    " optionLabel="optionName" optionValue="optionId" [options]="speechComprehensionImpairmentOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #SpeechLabel>
                <label>{{
                    CareSpeechLanguageFormData.speechComprehensionImpairmentName
                    }}</label>
            </ng-template>
        </div>

        <div class="col-md-2 form-icon mt-4  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                    <br> Sub domain : <b>How i express myself , understand the world around me and make my needs known
                    </b>
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Non-verbal communication</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="isEditable; else NonVerbalLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [(ngModel)]="
                        CareSpeechLanguageFormData.nonVerbalCommunication
                    " optionLabel="optionName" optionValue="optionId" [options]="nonVerbalCommunicationOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #NonVerbalLabel>
                <label>{{
                    CareSpeechLanguageFormData.nonVerbalCommunicationName
                    }}</label>
            </ng-template>
        </div>

        <div class="col-md-2 form-icon   d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                    <br> Sub domain : <b>Person Centerd Information </b>
                    <hr>
                    Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My Communication Support Plan </b>

                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Effect of speech / language impairment</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="isEditable; else SpeechEffectLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [(ngModel)]="
                        CareSpeechLanguageFormData.speechLanguageImpairmentEffect
                    " optionLabel="optionName" optionValue="optionId" [options]="speechImpairmentEffectOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #SpeechEffectLabel>
                <label>{{
                    CareSpeechLanguageFormData.speechLanguageImpairmentEffectName
                    }}</label>
            </ng-template>
        </div>

        <div class="col-md-2 form-icon   d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                    <br> Sub domain : <b>Person Centerd Information </b>
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Interventions to promote the residents ability to communicate - what do we do to promote our
                    understanding</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else InterventionsLabel">
                <input pInputText type="text" required name="Interventions" class="form-control"
                    [(ngModel)]="CareSpeechLanguageFormData.interventions" />
                <p class="mb-4">
                    Interpret body language gestures used good day/bad day
                    day/night variances assistive aids used support required
                </p>
            </ng-container>
            <ng-template #InterventionsLabel>
                <label>{{ CareSpeechLanguageFormData.interventions }}</label>
            </ng-template>
        </div>

        <div class="col-md-2 form-icon   d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident have goals for speech and language</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="isEditable; else GoalsSpeechLanguageLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [(ngModel)]="
                        CareSpeechLanguageFormData.goalsForSpeechLanguage
                    " optionLabel="optionName" optionValue="optionId" [options]="goalsSpeechLanguageOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #GoalsSpeechLanguageLabel>
                <label>{{
                    CareSpeechLanguageFormData.goalsForSpeechLanguageName
                    }}</label>
            </ng-template>
        </div>

        <div class="col-md-2 form-icon   d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Agreed outcome
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Professional Input / referral</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else ProfessionalInputLabel">
                <input pInputText type="text" required name="ProfessionalInputReferral" class="form-control"
                    [(ngModel)]="
                        CareSpeechLanguageFormData.professionalInputReferral
                    " />
                <p class="mb-4">
                    Include SALT / Speech/ Language therapy or other
                    professional input
                </p>
            </ng-container>
            <ng-template #ProfessionalInputLabel>
                <label>{{
                    CareSpeechLanguageFormData.professionalInputReferral
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon   d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Agreed outcome
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Are there any other identified risks relating to the
                    residents speech and language
                </p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else OtherSpeechLanguageRisksInput">
                <input pInputText type="text" required name="OtherSpeechLanguageRisks" class="form-control" [(ngModel)]="
                        CareSpeechLanguageFormData.otherSpeechLanguageRisks
                    " />
                <p class="mb-4">
                    Specify any other risks that have not been identified above
                </p>
            </ng-container>
            <ng-template #OtherSpeechLanguageRisksInput>
                <label>{{
                    CareSpeechLanguageFormData.otherSpeechLanguageRisks
                    }}</label>
            </ng-template>
        </div>

        <div class="col-md-2 form-icon   d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Obseveton
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                    <hr>
                    Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Action to manage additional risk identified</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else ActionToManageAdditionalRiskInput">
                <input pInputText type="text" required name="ActionToManageAdditionalRisk" class="form-control"
                    [(ngModel)]="CareSpeechLanguageFormData.actionToManageAdditionalRisk" />
            </ng-container>
            <ng-template #ActionToManageAdditionalRiskInput>
                <label>{{ CareSpeechLanguageFormData.actionToManageAdditionalRisk }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon   d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">
                    Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My Communication Support Plan </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>3 MONTHLY REVIEW (or before)</p>
        </div>
        <div class="col-md-6 form-text mb-4">
            <ng-container *ngIf="isEditable; else MonthlyReviewLabel">
                <p-checkbox name="ChkMonthlyReview" [binary]="true" inputId="binary"
                    [(ngModel)]="CareSpeechLanguageFormData.monthlyReview"></p-checkbox>
            </ng-container>
            <ng-template #MonthlyReviewLabel>
                <label>{{
                    CareSpeechLanguageFormData.monthlyReview ? "Yes" : "No"
                    }}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group date">
                <ng-container *ngIf="isEditable; else NextReviewDateLabel">
                    <p-calendar name="nextReviewDate" [showIcon]="true" inputId="icon" [dateFormat]="" class="iconcal"
                        [readonlyInput]="true" appendTo="body" [minDate]="" [(ngModel)]="
                            CareSpeechLanguageFormData.nextReviewDate
                        "></p-calendar>
                    <div *ngIf="" class="alert alert-danger"></div>
                </ng-container>
                <ng-template #NextReviewDateLabel>
                    <label>{{
                        CareSpeechLanguageFormData.nextReviewDate
                        }}</label>
                </ng-template>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Save as Unfinished" (click)="saveAsUnfinished()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Complete" (click)="completeForm()" [disabled]="
                                CareSpeechLanguageFormData.isFormCompleted
                            "></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button pButton title="Save as PDF" label="Save as PDF" (click)="SaveAsPDF()"></button>
            </ng-template>
        </div>
    </div>
</div>