<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 labelcontent">
            <p>Does the resident display uninhibited behaviour</p>
        </div>
        <div class="col-md-6 mt-4 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being</b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident persistently noisy</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>


        <div class="col-md-4 labelcontent">
            <p>Is the resident persistently restless</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident resistant to care being given</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Does the resident interfere with others or exhibit behaviour that cause distress?</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Does the resident display sexually inhibited behaviour</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Does the resident urinate out with the designated areas</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Have there been any episodes of faecal smearing</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident forgetful or repetitive</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident prone to disorientation or confusion</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident prone to anxiety</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident prone to hallucinations</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident paranoid</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident prone to panic attacks</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident prone to depression</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident prone to mood swings / changes in behaviours</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Is the resident prone to loss of motivation / initiative</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Does the resident experience heightened levels of stress which they exhibit physically to those around
                them or themselves</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Where actual violence has occurred</p>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain : <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Does the resident display behaviour that is verbally abusive</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Goals the resident wishes to achieve</p>
        </div>
        <div class="col-md-6  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Agreed outcome
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Does the resident have a specific goal personal to them</p>
        </div>
        <div class="col-md-6  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Agreed outcome
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is the individual subject to any section of the Mental Health Act and if so, which one</p>
        </div>
        <div class="col-md-6  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Make sure you understand the guidelines before you consider the individual for continuing
                healthcare funding. Give details</p>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Intervention
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Triggers for Behaviours</p>
        </div>
        <div class="col-md-6  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Strategies & support required to manage behaviour</p>
        </div>
        <div class="col-md-6  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">include triggers such as fear or anxiety, include de-escalation techniques</p>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Intervention
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Are there any other identified risks relating to behaviour</p>
        </div>
        <div class="col-md-6  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Specify any other risks that have not been identified above</p>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Observation
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Action to manage additional identified risks</p>
        </div>
        <div class="col-md-6  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext">Mapped to : <b>Intervention
                    </b><br>Care domain : <b> My Mental health Well Being Support plan
                    </b> <br> Sub domain :
                    <b>Well being </b>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>