<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                        {{preSelectedFormData.StartedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> {{preSelectedFormData.StartedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{preSelectedFormData.StartedOn | date :
                        customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{preSelectedFormData.ModifiedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{preSelectedFormData.ModifiedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b>{{preSelectedFormData.ModifiedOn | date:
                        customDateFormat.DEF_DATE_TIME}} </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Has the resident been assessed or is assumed as having capacity to make decisions relating to eating
                    and drinking</p>
            </div>
        </div>
        <div class="col-md-7 mt-4 ">
            <ng-container *ngIf="this.isEditable; else ResidentStatusOfCapacity">
                <p-dropdown [required]="true" [options]="lstResidentStatusOfCapacity" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.ResidentStatusOfCapacity"
                    name="CareAssessmentEatsAndDrinksFormsData.ResidentStatusOfCapacity" optionValue="Id"
                    placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #ResidentStatusOfCapacity>
                <label>{{CareAssessmentEatsAndDrinksFormsData.ResidentStatusOfCapacityName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Detail the specific decision made relating to the residents eating and drinking</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else SpecificDecisionDetail">
                <input pInputText type="text" [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.SpecificDecisionDetail"
                    required name="CareAssessmentEatsAndDrinksFormsData.SpecificDecisionDetail"
                    class="form-control mr-4" [style]="{ width: '100%' }">
                <p class=" mb-4">Think about stroke, dyspepsia, diabetic, diverticulitis, coeliac etc. Only answer if
                    the
                    resident lacks
                    capacity</p>
            </ng-container>
            <ng-template #SpecificDecisionDetail>
                <label>{{CareAssessmentEatsAndDrinksFormsData.SpecificDecisionDetail}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Medical history affecting eating and drinking</p>

            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else MedicalHistory">
                <input pInputText type="text" [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.MedicalHistory" required
                    name="CareAssessmentEatsAndDrinksFormsData.MedicalHistory" class="form-control mr-4"
                    [style]="{ width: '100%' }">
                <p class=" mb-4">Think about Stroke, Parkinson, Dyspepsia, Diabetic, Diverticulitis, Coeliac etc</p>
            </ng-container>
            <ng-template #MedicalHistory>
                <label>{{CareAssessmentEatsAndDrinksFormsData.MedicalHistory}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Known food allergies</p>

            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else FoodAllergies">
                <input pInputText type="text" [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.FoodAllergies" required
                    name="CareAssessmentEatsAndDrinksFormsData.FoodAllergies" class="form-control mr-4"
                    [style]="{ width: '100%' }">
                <p class=" mb-4">
                    Consider Nuts, include reaction if known</p>
            </ng-container>
            <ng-template #FoodAllergies>
                <label>{{CareAssessmentEatsAndDrinksFormsData.FoodAllergies}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Foods to be avoided due to prescribed medications</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else FoodsToBeAvoided">
                <input pInputText type="text" [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.FoodsToBeAvoided"
                    required name="CareAssessmentEatsAndDrinksFormsData.FoodsToBeAvoided" class="form-control mr-4"
                    [style]="{ width: '100%' }">
                <p class=" mb-4">
                    Think about anticoagulant / statins</p>
            </ng-container>
            <ng-template #FoodsToBeAvoided>
                <label>{{CareAssessmentEatsAndDrinksFormsData.FoodsToBeAvoided}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Choking checklist</p>

            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else Choking">
                <p-dropdown [required]="true" [options]="lstChoking" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.Choking"
                    name="CareAssessmentEatsAndDrinksFormsData.Choking" optionValue="Id" placeholder="Select"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #Choking>
                <label>{{CareAssessmentEatsAndDrinksFormsData.ChokingName}}</label>
            </ng-template>
            <p class=" mb-4" *ngIf="isEditable==true">
                Where items are selected this indicates a choking risk</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Action needed to reduce choking</p>

            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else ActionNeededToReduceChoking">
                <p-dropdown [required]="true" [options]="lstActionNeededToReduceChoking" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.ActionNeededToReduceChoking"
                    name="CareAssessmentEatsAndDrinksFormsData.ActionNeededToReduceChoking" optionValue="Id"
                    placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #ActionNeededToReduceChoking>
                <label>{{CareAssessmentEatsAndDrinksFormsData.ActionNeededToReduceChokingName}}</label>
            </ng-template>
            <p class=" mb-4" *ngIf="isEditable==true">Include contact with health professionals referrals and outcomes
            </p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    ISDDI TRIANGLE - FOOD & FLUID SECTION</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else FoodAndFluid">
                <p-checkbox [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.FoodAndFluid" [binary]="true"
                    inputId="binary"></p-checkbox>
            </ng-container>
            <ng-template #FoodAndFluid>
                <label>{{CareAssessmentEatsAndDrinksFormsData.FoodAndFluid==true?'yes':'no'}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Food</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else Food">
                <p-dropdown [required]="true" [options]="lstFood" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.Food"
                    name="CareAssessmentEatsAndDrinksFormsData.Food" optionValue="Id" placeholder="Select"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #Food>
                <label>{{CareAssessmentEatsAndDrinksFormsData.FoodName}}</label>
            </ng-template>
            <p class=" mb-4" *ngIf="isEditable==true">
                Select Other to add additional comments
                <br>
                This response will update diet field in resident header
            </p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Fluids</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else Fluids">
                <p-dropdown [required]="true" [options]="lstFluids" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.Fluids"
                    name="CareAssessmentEatsAndDrinksFormsData.Fluids" optionValue="Id" placeholder="Select"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #Fluids>
                <label>{{CareAssessmentEatsAndDrinksFormsData.FluidsName}}</label>
            </ng-template>
            <p class=" mb-4" *ngIf="isEditable==true">
                Select Other to add additional comments
                <br>
                This response will update diet field in resident header
            </p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Eating and Drinking assistance</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else EatingAndDrinkingAssistance">
                <input pInputText type="text"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.EatingAndDrinkingAssistance" required
                    name="CareAssessmentEatsAndDrinksFormsData.EatingAndDrinkingAssistance" class="form-control mr-4"
                    [style]="{ width: '100%' }">
                <p class=" mb-4">E.g. diabetic / low fat / low salt / specific religious beliefs, high fibre, high
                    protein,
                    low calcium,
                    enriched diet. Include if the resident sticks to their special diet, size of portions and details of
                    fluid balance required & realistic</p>
            </ng-container>
            <ng-template #EatingAndDrinkingAssistance>
                <label>{{CareAssessmentEatsAndDrinksFormsData.EatingAndDrinkingAssistance}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Supplement or enteral feeding requirements</p>

            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else SupplementsRequire">
                <input pInputText type="text" [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.SupplementsRequire"
                    required name="CareAssessmentEatsAndDrinksFormsData.SupplementsRequire" class="form-control mr-4"
                    [style]="{ width: '100%' }">
                <p class=" mb-4">Forticreme/fortified milkshakes, frequency. Day / Night variances vitamins, name
                    thickener
                    agent in use,
                    PEG Feed, Bolus or overnight feed regime.</p>
            </ng-container>
            <ng-template #SupplementsRequire>
                <label>{{CareAssessmentEatsAndDrinksFormsData.SupplementsRequire}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Professional input</p>

            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else ProfessionalInput">
                <p-dropdown [required]="true" [options]="lstProfessionalInput" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.ProfessionalInput"
                    name="CareAssessmentEatsAndDrinksFormsData.ProfessionalInput" optionValue="Id" placeholder="Select"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #ProfessionalInput>
                <label>{{CareAssessmentEatsAndDrinksFormsData.ProfessionalInputName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Details of professional advice already received</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else ProfessionalAdviceDetail">
                <input pInputText type="text"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.ProfessionalAdviceDetail" required
                    name="CareAssessmentEatsAndDrinksFormsData.ProfessionalAdviceDetail" class="form-control mr-4"
                    [style]="{ width: '100%' }">
                <p class=" mb-4">See SALT protocols</p>
            </ng-container>
            <ng-template #ProfessionalAdviceDetail>
                <label>{{CareAssessmentEatsAndDrinksFormsData.ProfessionalAdviceDetail}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Goals the resident wishes to achieve</p>

            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else GoalsToAchieve">
                <p-dropdown [required]="true" [options]="lstGoalsToAchieve" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.GoalsToAchieve"
                    name="CareAssessmentEatsAndDrinksFormsData.GoalsToAchieve" optionValue="Id" placeholder="Select"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #GoalsToAchieve>
                <label>{{CareAssessmentEatsAndDrinksFormsData.GoalsToAchieveName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident have a specific goal personal to them</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else PersonalGoal">
                <input pInputText type="text" [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.PersonalGoal" required
                    name="CareAssessmentEatsAndDrinksFormsData.PersonalGoal" class="form-control mr-4"
                    [style]="{ width: '100%' }">

            </ng-container>
            <ng-template #PersonalGoal>
                <label>{{CareAssessmentEatsAndDrinksFormsData.PersonalGoal}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Strategies to manage the residents nutrition and hydration</p>

            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else StrategyToManageNutrition">
                <p-dropdown [required]="true" [options]="lstStrategyToManageNutrition" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.StrategyToManageNutrition"
                    name="CareAssessmentEatsAndDrinksFormsData.StrategyToManageNutrition" optionValue="Id"
                    placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #StrategyToManageNutrition>
                <label>{{CareAssessmentEatsAndDrinksFormsData.StrategyToManageNutritionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Is the resident at risk of malnutrition</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else RiskOfMalnutrition">
                <p-dropdown [required]="true" [options]="lstRiskOfMalnutrition" optionLabel="Name"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.RiskOfMalnutrition"
                    name="CareAssessmentEatsAndDrinksFormsData.RiskOfMalnutrition" optionValue="Id" placeholder="Select"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #RiskOfMalnutrition>
                <label>{{CareAssessmentEatsAndDrinksFormsData.RiskOfMalnutritionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>What additional actions are required at address the risk of malnutrition</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else AdditionalActionsRequired">
                <input pInputText type="text"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.AdditionalActionsRequired" required
                    name="CareAssessmentEatsAndDrinksFormsData.AdditionalActionsRequired" class="form-control mr-4"
                    [style]="{ width: '100%' }">

            </ng-container>
            <ng-template #AdditionalActionsRequired>
                <label>{{CareAssessmentEatsAndDrinksFormsData.AdditionalActionsRequired}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Are there any other identified risks relating to eating & drinking</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else OtherIdentifiedRisks">
                <input pInputText type="text" [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.OtherIdentifiedRisks"
                    required name="CareAssessmentEatsAndDrinksFormsData.OtherIdentifiedRisks" class="form-control mr-4"
                    [style]="{ width: '100%' }">
                <p class=" mb-4">Specify any other risks that have not been identified above</p>
            </ng-container>
            <ng-template #OtherIdentifiedRisks>
                <label>{{CareAssessmentEatsAndDrinksFormsData.OtherIdentifiedRisks}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Action to manage additional risk identified</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else ActionToManageAdditionalRisk">
                <input pInputText type="text"
                    [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.ActionToManageAdditionalRisk" required
                    name="CareAssessmentEatsAndDrinksFormsData.ActionToManageAdditionalRisk" class="form-control mr-4"
                    [style]="{ width: '100%' }">

            </ng-container>
            <ng-template #ActionToManageAdditionalRisk>
                <label>{{CareAssessmentEatsAndDrinksFormsData.ActionToManageAdditionalRisk}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Complete MUST weight chart</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else WeightChartStatus">
                <p-checkbox [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.WeightChartStatus" [binary]="true"
                    inputId="binary"></p-checkbox>
            </ng-container>
            <ng-template #WeightChartStatus>
                <label>{{CareAssessmentEatsAndDrinksFormsData.WeightChartStatus==true?'yes':'no'}}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Additional information</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else AdditionalInformation">
                <input pInputText type="text" [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.AdditionalInformation"
                    required name="CareAssessmentEatsAndDrinksFormsData.AdditionalInformation" class="form-control mr-4"
                    [style]="{ width: '100%' }">
                <p class=" mb-4">Include where the resident likes their meals, who they like to sit by and food
                    preferences.
                    Likes and
                    dislikes
                </p>
            </ng-container>
            <ng-template #AdditionalInformation>
                <label>{{CareAssessmentEatsAndDrinksFormsData.AdditionalInformation}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent implabel">
                <p>ASSESSMENT REVIEW </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else AssessmentReview">
                <p-checkbox [(ngModel)]="CareAssessmentEatsAndDrinksFormsData.AssessmentReview" [binary]="true"
                    inputId="binary"></p-checkbox>
            </ng-container>
            <ng-template #AssessmentReview>
                <label>{{CareAssessmentEatsAndDrinksFormsData.AssessmentReview==true?'yes':'no'}}</label>
            </ng-template>
            <p class=" mb-4" *ngIf="isEditable==true">This form should be reviewed EVERY MONTH or before if there are
                significant changes. Enter
                review date
                below.</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="input-group date">
                <p-calendar name="DateOfBirth" [showIcon]="true" inputId="icon" [dateFormat]="" class="iconcal"
                    [readonlyInput]="true" appendTo="body" [maxDate]="" #dobref=""></p-calendar>
                <div *ngIf="" class="alert alert-danger">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" (click)="saveAsUnfinished()" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" (click)="completeForm()" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>