<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Has the resident been assessed or assumed as having capacity to make decisions relating to oral care</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 mt-4 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Detail specific decision relating to the resident's oral care</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Condition of teeth / dentures</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Gum condition</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Tongue condition</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Engraving</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Assistance required</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Detail assistance and if they have their own teeth, dentures or a mixture of both, think
                about what the resident can still do, cues needed type of assistance, if the resident will let you help
                them, if the teeth, gums or tongue are not in good condition how can you help them to improve this.</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Is the resident registered with dentist</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Date of last dental appointment</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p class="mb-4">Please include date in the following format: DD/MM/YYYY. Does the resident need a dentist
                appointment arranging if so, how will you support them to arrange this</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Diet required for oral condition</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Oral care strategies / management</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Goals the resident wishes to achieve</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Does the resident have a specific goal personal to them</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Additional information</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Consider medication that may have oral side effects, consult with pharmacist. Does the
                resident smoke or complain of dry mouth</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Are there any other identified risks relating to oral hygiene</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Specify any other risks that have not been identified above</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Action to manage additional risk identified</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  mt-4 labelcontent implabel">
            <p>MONTHLY REVIEW (or before)</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-checkbox name="ChkMonthlyReview" [binary]="true" inputId="binary"></p-checkbox>
            <p class="mb-4">This form should be reviewed EVERY MONTH or before if there are significant changes. Enter
                review date below.</p>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>