<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                        {{preSelectedFormData.StartedBy}}</label>
                </div>
                <div class="col-md-4 ">
                    <label class="form-label"><b>Designation :</b> {{preSelectedFormData.StartedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{preSelectedFormData.StartedOn | date :
                        customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{preSelectedFormData.ModifiedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{preSelectedFormData.ModifiedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> {{preSelectedFormData.ModifiedOn | date:
                        customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mt-4">
            <div class="labelcontent">
                <p>Is the person at risk of Delirium</p>
            </div>
        </div>
        <div class="col-md-6 form-text mt-4">
            <ng-container *ngIf="this.isEditable; else DeliriumRiskCheck">
                <p-dropdown [required]="true" [options]="lstDeliriumRiskCheck" optionLabel="optionName"
                    [(ngModel)]="DeliriumRiskFormsData.deliriumRiskCheck" name="DeliriumRiskFormsData.DeliriumRiskCheck"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Chose all that are applicable to the person</p>
            </ng-container>
            <ng-template #DeliriumRiskCheck>
                <label>{{DeliriumRiskFormsData.deliriumRiskCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My medication, Healthcare, Treatments and Management Support Plan </b>
                    <br> Sub domain : <b>Delirium</b>
                </span>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="labelcontent">
                <p>If cognitive impairment or disorientation is a highlighted risk choose the below statement for
                    inclusion in preventative measures</p>
            </div>
        </div>
        <div class="col-md-6 ">
            <ng-container *ngIf="this.isEditable; else DisorientationPrevention">
                <p-dropdown [required]="true" [options]="lstDisorientationPrevention" optionLabel="optionName"
                    [(ngModel)]="DeliriumRiskFormsData.disorientationPrevention"
                    name="DeliriumRiskFormsData.disorientationPrevention" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DisorientationPrevention>
                <label>{{DeliriumRiskFormsData.disorientationPreventionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My medication, Healthcare, Treatments and Management Support Plan </b>
                    <br> Sub domain : <b>Delirium</b>
                </span>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="labelcontent">
                <p>If the resident is at risk of delirium due to hydration levels or constipation please select all of
                    the below statements</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DeliriumDueToHydrationPrevention">
                <p-dropdown [required]="true" [options]="lstDeliriumDueToHydrationPrevention" optionLabel="optionName"
                    [(ngModel)]="DeliriumRiskFormsData.deliriumDueToHydrationPrevention"
                    name="DeliriumRiskFormsData.deliriumDueToHydrationPrevention" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DeliriumDueToHydrationPrevention>
                <label>{{DeliriumRiskFormsData.deliriumDueToHydrationPreventionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My medication, Healthcare, Treatments and Management Support Plan </b>
                    <br> Sub domain : <b>Delirium</b>

                </span>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="labelcontent">
                <p>If the resident has an identified risk of delirium due to recent surgery or immobility/limited
                    mobility select all the applicable statement's below</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DeliriumDueToSurgeryPrevention">
                <p-dropdown [required]="true" [options]="lstDeliriumDueToSurgeryPrevention" optionLabel="optionName"
                    [(ngModel)]="DeliriumRiskFormsData.deliriumDueToSurgeryPrevention"
                    name="DeliriumRiskFormsData.DeliriumDueToSurgeryPrevention" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DeliriumDueToSurgeryPrevention>
                <label>{{DeliriumRiskFormsData.deliriumDueToSurgeryPreventionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My medication, Healthcare, Treatments and Management Support Plan </b>
                    <br> Sub domain : <b>Delirium</b>

                </span>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="labelcontent">
                <p>If the resident is at risk of experiencing delirium due to infection choose all applicable statements
                    below to reduce that risk</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DeliriumDueToInfectionPrevention">
                <p-dropdown [required]="true" [options]="lstDeliriumDueToInfectionPrevention" optionLabel="optionName"
                    [(ngModel)]="DeliriumRiskFormsData.deliriumDueToInfectionPrevention"
                    name="DeliriumRiskFormsData.DeliriumDueToInfectionPrevention" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DeliriumDueToInfectionPrevention>
                <label>{{DeliriumRiskFormsData.deliriumDueToInfectionPreventionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My medication, Healthcare, Treatments and Management Support Plan </b>
                    <br> Sub domain : <b>Delirium</b>

                </span>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="labelcontent">
                <p>If the resident is prescribed and taking multiple medications include the following statement in
                    their delirium prevention plan</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DeliriumPreventionPlan">
                <p-dropdown [required]="true" [options]="lstDeliriumPreventionPlan" optionLabel="optionName"
                    [(ngModel)]="DeliriumRiskFormsData.deliriumPreventionPlan"
                    name="DeliriumRiskFormsData.DeliriumPreventionPlan" optionValue="optionId" placeholder="--select--"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DeliriumPreventionPlan>
                <label>{{DeliriumRiskFormsData.deliriumPreventionPlanName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My medication, Healthcare, Treatments and Management Support Plan </b>
                    <br> Sub domain : <b>Delirium</b>

                </span>
            </div>
        </div>
        <div class="col-md-4  mb-4">
            <div class="labelcontent">
                <p>If the resident experiences sensory impairment please include all statements to minimise risk of
                    delirium</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DeliriumDueToSensoryImpairmentPrevention">
                <p-dropdown [required]="true" [options]="lstDeliriumDueToSensoryImpairmentPrevention"
                    optionLabel="optionName"
                    [(ngModel)]="DeliriumRiskFormsData.deliriumDueToSensoryImpairmentPrevention"
                    name="DeliriumRiskFormsData.DeliriumDueToSensoryImpairmentPrevention" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DeliriumDueToSensoryImpairmentPrevention>
                <label>{{DeliriumRiskFormsData.deliriumDueToSensoryImpairmentPreventionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My medication, Healthcare, Treatments and Management Support Plan </b>
                    <br> Sub domain : <b>Delirium</b>

                </span>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="labelcontent">
                <p>If the resident has a identified risk due to sleep disturbance please include the following
                    interventions to reduce risk</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DeliriumDueToSleepDisturbancePrevention">
                <p-dropdown [required]="true" [options]="lstDeliriumDueToSleepDisturbancePrevention"
                    optionLabel="optionName" [(ngModel)]="DeliriumRiskFormsData.deliriumDueToSleepDisturbancePrevention"
                    name="DeliriumRiskFormsData.deliriumDueToSleepDisturbancePrevention" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DeliriumDueToSleepDisturbancePrevention>
                <label>{{DeliriumRiskFormsData.deliriumDueToSleepDisturbancePreventionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My medication, Healthcare, Treatments and Management Support Plan </b>
                    <br> Sub domain : <b>Delirium</b>

                </span>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Save as Unfinished" (click)="saveAsUnfinished()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Complete" (click)="completeForm()" [disabled]="
                                DeliriumRiskFormsData.IsFormCompleted
                            "></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button pButton title="Save as PDF" label="Save as PDF" (click)="SaveAsPDF()"></button>
            </ng-template>
        </div>
    </div>
</div>