<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                        {{ preSelectedFormData.StartedBy }}</label>
                </div>
                <div class="col-md-4 ">
                    <label class="form-label"><b>Designation :</b>{{ preSelectedFormData.StartedByDesignation }} </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{
                        preSelectedFormData.StartedOn
                            | date : customDateFormat.DEF_DATE_TIME
                    }}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{ preSelectedFormData.ModifiedBy }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{ preSelectedFormData.ModifiedByDesignation }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> {{
                        preSelectedFormData.ModifiedOn
                            | date : customDateFormat.DEF_DATE_TIME
                    }}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>What is the resident current weight</p>
            </div>
        </div>
        <div class="col-md-7  mt-4">
            <ng-container *ngIf="isEditable; else CurrentWeight">
                <input
                    pInputText
                    type="text"
                    required
                    name="CurrentWeight"
                    class="form-control"
                    [(ngModel)]="
                        NutritionalManagementFormsData.CurrentWeight
                    "
                />
                <p class="mb-4">Please include the statement Julie's current weight is.......</p>
            </ng-container>
            <ng-template #CurrentWeight>
                <label>{{
                    NutritionalManagementFormsData.CurrentWeight
                }}</label>
            </ng-template>
           
        </div>
        <div class="col-md-1 mb-4 mt-4 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>What is the persons current MUST score?</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else CurrentScore">
                <input
                    pInputText
                    type="text"
                    required
                    name="CurrentScore"
                    class="form-control"
                    [(ngModel)]="
                        NutritionalManagementFormsData.CurrentScore
                    "
                />
                <p class="mb-4">Please detail the following statement Julie's current MUST score is.... they are scoring for
                    BMI of ....
                    and/or weight loss of ......in the last 6mths</p>
            </ng-container>
            <ng-template #CurrentScore>
                <label>{{
                    NutritionalManagementFormsData.CurrentScore
                }}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1  form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>What is the persons highest weight in the last 6mths?</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else HighestWeight">
                <input
                    pInputText
                    type="text"
                    required
                    name="HighestWeight"
                    class="form-control"
                    [(ngModel)]="
                        NutritionalManagementFormsData.HighestWeight
                    "
                />
                <p class="mb-4">Please include this question in your response, Julie highest weight in the last 6mths
                    is......</p>
            </ng-container>
            <ng-template #HighestWeight>
                <label>{{
                    NutritionalManagementFormsData.HighestWeight
                }}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1  form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Problems affecting Nutritional status -</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else NutritionalProblems">
                <p-dropdown
                    name="NutritionalProblems"
                    [(ngModel)]="
                        NutritionalManagementFormsData.NutritionalProblems
                    "
                    [options]="lstNutritionalProblems"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>Indicate factors affecting the resident ability to east and drink or nutritional status. Choose all that
                    are applicable and detail further details in the next question</p>
            </ng-container>
            <ng-template #NutritionalProblems>
                <label>{{
                    NutritionalManagementFormsData.NutritionalProblemsName
                }}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1  form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Further details of highlighted problems affecting persons nutritional status</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else NutritionalProblemsDetails">
                <input
                    pInputText
                    type="text"
                    required
                    name="NutritionalProblemsDetails"
                    class="form-control"
                    [(ngModel)]="
                        NutritionalManagementFormsData.NutritionalProblemsDetails
                    "
                />
                <p class="mb-4">If you have chosen any problem above please give further details on how we are managing that
                    problem, for
                    example referral to Speech and language, dentist etc</p>
            </ng-container>
            <ng-template #NutritionalProblemsDetails>
                <label>{{
                    NutritionalManagementFormsData.NutritionalProblemsDetails
                }}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1  form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Establish nutritional aims</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else NutritionalAims">
                <p-dropdown
                    name="NutritionalAims"
                    [(ngModel)]="
                        NutritionalManagementFormsData.NutritionalAims
                    "
                    [options]="lstNutritionalAims"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p class="mb-4">tick those appropriate to the person</p>
            </ng-container>
            <ng-template #NutritionalAims>
                <label>{{
                    NutritionalManagementFormsData.NutritionalAimsName
                }}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1  form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Choose all interventions being implemented</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else Interventions">
                <p-dropdown
                    name="Interventions"
                    [(ngModel)]="
                        NutritionalManagementFormsData.Interventions
                    "
                    [options]="lstInterventions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p class="mb-4">Please always choose the first 4 options and then choose a minimum of 3-4 of the Dietary
                    interventions.
                </p>
            </ng-container>
            <ng-template #Interventions>
                <label>{{
                    NutritionalManagementFormsData.InterventionsName
                }}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1  form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="input-group date">
                <ng-container *ngIf="this.isEditable; else ReviewDate">
                    <p-calendar name="ReviewDate" [showIcon]="true" inputId="icon" class="iconcal" [(ngModel)]="NutritionalManagementFormsData.ReviewDate"
                        [readonlyInput]="true" appendTo="body" [maxDate]="" #dobref=""></p-calendar>
                    <div *ngIf="" class="alert alert-danger">
                    </div>
                </ng-container>
                <ng-template #ReviewDate>
                    <label>{{NutritionalManagementFormsData.ReviewDate | date}}</label>
                </ng-template>
            </div>

        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" (click)="saveAsUnfinished()" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" (click)="Save()" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>