<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                        {{preSelectedFormData.StartedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b>{{preSelectedFormData.StartedByDesignation}} </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{preSelectedFormData.StartedOn | date :
                        customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{preSelectedFormData.ModifiedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{preSelectedFormData.ModifiedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> {{preSelectedFormData.ModifiedOn | date:
                        customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>What support does the person need to attend to their oral care</p>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <ng-container *ngIf="this.isEditable; else OralCareSupport">
                <p-dropdown [required]="true" [options]="lstOralCareSupport" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.oralCareSupport" name="OralHealthRiskFormsData.OralCareSupport"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #OralCareSupport>
                <label>{{OralHealthRiskFormsData.oralCareSupportName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                    <hr>Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident have any of their own natural teeth?</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else TeethCheck">
                <p-dropdown [required]="true" [options]="lstTeethCheck" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.teethCheck" name="OralHealthRiskFormsData.TeethCheck"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #TeethCheck>
                <label>{{OralHealthRiskFormsData.teethCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the person wear dentures?</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DenturesCheck">
                <p-dropdown [required]="true" [options]="lstDenturesCheck" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.denturesCheck" name="OralHealthRiskFormsData.denturesCheck"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DenturesCheck>
                <label>{{OralHealthRiskFormsData.denturesCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Are the dentures labelled</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DenturesLabelCheck">
                <p-dropdown [required]="true" [options]="lstDenturesLabelCheck" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.denturesLabelCheck"
                    name="OralHealthRiskFormsData.DenturesLabelCheck" optionValue="optionId" placeholder="--select--"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DenturesLabelCheck>
                <label>{{OralHealthRiskFormsData.denturesLabelCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the person needs help to clean their oral care teeth/dentures</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else TeethHelp">
                <p-dropdown [required]="true" [options]="lstTeethHelp" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.teethHelp" name="OralHealthRiskFormsData.TeethHelp"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #TeethHelp>
                <label>{{OralHealthRiskFormsData.teethHelpName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident experience any of the following?</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else HealthCheck">
                <p-dropdown [required]="true" [options]="lstHealthCheck" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.healthCheck" name="OralHealthRiskFormsData.HealthCheck"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #HealthCheck>
                <label>{{OralHealthRiskFormsData.healthCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>what is the date of the last known dental treatment?</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DentalTreatment">
                <p-dropdown [required]="true" [options]="lstDentalTreatment" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.dentalTreatment" name="OralHealthRiskFormsData.DentalTreatment"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DentalTreatment>
                <label>{{OralHealthRiskFormsData.dentalTreatmentName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Is the resident taking medication?</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else MedicationCheck">
                <p-dropdown [required]="true" [options]="lstMedicationCheck" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.medicationCheck" name="OralHealthRiskFormsData.MedicationCheck"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #MedicationCheck>
                <label>{{OralHealthRiskFormsData.medicationCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident experience a dry mouth</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DryMouthCheck">
                <p-dropdown [required]="true" [options]="lstDryMouthCheck" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.dryMouthCheck" name="OralHealthRiskFormsData.DryMouthCheck"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DryMouthCheck>
                <label>{{OralHealthRiskFormsData.dryMouthCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Actions to take if Resident does experience dry mouth</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DryMouthAction">
                <p-dropdown [required]="true" [options]="lstDryMouthAction" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.dryMouthAction" name="OralHealthRiskFormsData.DryMouthAction"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #DryMouthAction>
                <label>{{OralHealthRiskFormsData.dryMouthActionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident smoke</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else SmokeCheck">
                <p-dropdown [required]="true" [options]="lstSmokeCheck" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.smokeCheck" name="OralHealthRiskFormsData.SmokeCheck"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Please note in the other box The resident smokes ....... a day.</p>
            </ng-container>
            <ng-template #SmokeCheck>
                <label>{{OralHealthRiskFormsData.smokeCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>If further investigation required, please refer to dentist.</p>
            </div>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.isEditable; else DentistReferCheck">
                <p-dropdown [required]="true" [options]="lstDentistReferCheck" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.dentistReferCheck"
                    name="OralHealthRiskFormsData.DentistReferCheck" optionValue="optionId" placeholder="--select--"
                    [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Please note using the other box the date of referral to dentist, what the dentist advise
                    was
                    and if
                    resident refused dental assessment/Treatment</p>
            </ng-container>
            <ng-template #DentistReferCheck>
                <label>{{OralHealthRiskFormsData.dentistReferCheckName}}</label>
            </ng-template>

        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>The following measures shall be implemented to promote the Residents oral hygiene when they refuse
                </p>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <ng-container *ngIf="this.isEditable; else OralHygieneMeasures">
                <p-dropdown [required]="true" [options]="lstOralHygieneMeasures" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.oralHygieneMeasures"
                    name="OralHealthRiskFormsData.oralHygieneMeasures" optionValue="optionId" placeholder="--select--"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #OralHygieneMeasures>
                <label>{{OralHealthRiskFormsData.oralHygieneMeasuresName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>What is the residents preferred outcome in relation to their oral care?</p>
            </div>
        </div>
        <div class="col-md-6 ">
            <ng-container *ngIf="this.isEditable; else OralCareOutcomes">
                <p-dropdown [required]="true" [options]="lstOralCareOutcomes" optionLabel="optionName"
                    [(ngModel)]="OralHealthRiskFormsData.oralCareOutcomes"
                    name="OralHealthRiskFormsData.OralCareOutcomes" optionValue="optionId" placeholder="--select--"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #OralCareOutcomes>
                <label>{{OralHealthRiskFormsData.oralCareOutcomesName}}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Agreed outcome
                    </b><br> Care domain : <b>My Personal Care and Projection of Self Image , Oral Care, Foot Support
                        Plan </b>
                    <br> Sub domain : <b>Oral Care</b>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Save as Unfinished" (click)="saveAsUnfinished()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Complete" (click)="completeForm()" [disabled]="
                                OralHealthRiskFormsData.isFormCompleted
                            "></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button pButton title="Save as PDF" label="Save as PDF" (click)="SaveAsPDF()"></button>
            </ng-template>
        </div>
    </div>
</div>