<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4  mt-4 labelcontent">
            <p>Depressed or despairing</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The resident is frequently in a state of misery, grief or upset, a downcast expression,
                makes little eye contact. The resident says things that indicate feelings of hopelessness and
                helplessness. The resident quickly returns to this state after happier interludes. The resident
                cries a lot</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Intensely angry or aggressive</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The resident has outbursts of rage that go beyond expressing appropriate feelings.
                e.g. unprovoked attacks on other people. Howls of rage when things go wrong can be seen as signs
                of well-being e.g. the person is attempting to communicate or is expressing appropriate feelings
            </p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Shows anxiety or fear</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The resident appears worried, anxious, apprehensive etc. e.g. continual nervous
                movements, stuttering speech, trembling, repetitive actions. They may show signs of panic,
                nervous trembling, rapid stuttering, crouching in a fetal position</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Agitated or restless</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The person shows signs of agitation such as more movement than usual and or
                faster movement than usual. This also applies to speech, which is faster and more
                frequent than usual. Also look out for worried frowns. If a person is agitated,
                repetitive movements become faster</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Withdrawn or listless</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The resident does very little and is reluctant to join in activities.
                The resident does not seem alert, drifts in and out of sleep and does not respond to
                stimulation. The resident is not active</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Has physical discomfort or pain</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The resident shows signs of real or imagined pain e.g. wincing,
                rubbing or holding the sore place. They may say that some part of the body hurts
                but may not say anything. Watch out for signs that the resident is in pain</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Unresolved grieving over losses</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Grief over all the things that the person has lost is
                appropriate for someone moving into long-term care from own home. They have
                lost many things e.g. independence, status, being with loved ones,
                abilities, maybe they have lost a partner through death.</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Bodily tension</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The person shows a lot of bodily tension or adopts rigid
                positions. The resident is rarely relaxed</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Easily walked over by other people</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The person is put off or crushed by other people's
                remarks or actions. The resident creeps away if someone makes a
                critical remark or they stop doing an activity if someone else is
                watching. The resident does not defend themselves if someone takes
                something that belongs to them</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Feels like an outsider</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">The resident is living in a place where they are at
                risk of feeling like an outsider. e.g. their first language is
                not English, living in a place where everyone else is an English
                speaker. The only member of the group who follows a strict
                religious code</p>
        </div>
        <div class="col-md-4   labelcontent">
            <p>Scores more than 12 indicate some cause for concern about the
                well-being of the person</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">How will you improve this, document all actions</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4   labelcontent">
            <p> Does the resident have any goals relating to their ill being</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date<span class="required">*</span> </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <div class="input-group date">
                <p-calendar [required]="true" [showTime]="true" name="txtNextReviewDate" [showIcon]="true" inputId="icon"
                    [dateFormat]="" class="iconcal" [readonlyInput]="true" appendTo="body" [maxDate]=""
                    #dobref=""></p-calendar>
                <div *ngIf="" class="alert alert-danger">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>