<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4 ">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Ability to weight bear</p>
            </div>
        </div>
        <div class="col-md-7 mt-4 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Pain or fatigue</p>
            </div>
        </div>
        <div class="col-md-7 form-text ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Please</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Physical constraints</p>
            </div>

        </div>
        <div class="col-md-7">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>How does the person express how they are feeling during safer people movements</p>
            </div>
        </div>
        <div class="col-md-7">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Ability to manoeuvre</p>
            </div>

        </div>
        <div class="col-md-7">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Ability to stand</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Ability to carry out personal care</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Moving and handling risk score / level</p>
            </div>
        </div>
        <div class="col-md-7">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Additional factors to consider
                </p>
            </div>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Consider skin, pain level, infusion (drip), catheter, enteral (PEG), other</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Is the resident able to walk / mobilise</p>
            </div>
        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Is the resident able to put / place feet on the floor</p>
            </div>
        </div>
        <div class="col-md-7">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Is the resident able to stand / sit safely</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Transferring (e.g. chair to the toilet and vice versa)</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Dressing / undressing</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Getting in, moving around and getting out of bed</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Ability to sit back in a chair / wheelchair</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Help to get in and out of the bath</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Getting in and out of the shower</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Getting in and out of a vehicle</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Manage stairs</p>
            </div>
        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Getting up from the floor</p>
            </div>

        </div>
        <div class="col-md-7 ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Hoisting requirements</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Describe hoist / sling type and size, le.g.strap positions, loop attachments and colours. Describe
                different slings depending on the purpose of the transfer e.g. toilet, bath. Consider the suitability
                for emergency lifting cushion, good day/bad day</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Other equipment</p>
            </div>
        </div>
        <div class="col-md-7 form-text ">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Please select all relevant statements</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Detail the procedures to be followed by team</p>
            </div>

        </div>
        <div class="col-md-7 form-text ">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include any settings on all equipment - (include how to effectively communicate, gain consent and promote
                inclusion and abilities)</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Please detail if the resident experiences variability in their abilities to mobilse</p>
            </div>

        </div>
        <div class="col-md-7 form-text ">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Ensure it includes how staff would assess if they were having a good day and how to know
                what a
                challenging day looks like and what measures to take</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>How do we assess the persons pain</p>
            </div>

        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Please choose</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Is the correct equipment (suitable for the residents weight, height and size) in place</p>
            </div>

        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">If no, what actions have been taken to obtain it and how will the risk be managed until it
                arrives</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>


        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Are there ways of keeping active or exercising that the resident enjoys?</p>
            </div>

        </div>
        <div class="col-md-7 form-text ">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please ensure that we capture resident abilities and how we enable them to use these
                abilities, include
                social activities that encourage movement and the impact on health and wellbeing</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>


        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Does the resident like to be on the move alot indoors, is there anything that can help this to be
                    more enjoyable for them</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">This is about points of interest for the resident destination points, places they can walk
                to the use of
                signage to promote independence in accessing places they wish to promote orientation etc</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>What are the hazards in relation to staff</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Consider slip, trip hazards, oxygen cables, sufficient space to move hoist, training,
                lighting. summarise
                any behaviours that may impact interaction and actions to alleviate any stress and distress</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>What type of weather do you like, and not like to be outside in?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Discuss with resident their preferences, Include if required previous occupation of the
                resident, were
                they always outdoors as part of their profession and therefore enjoys being outdoors in all weathers</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="input-group date">
                <p-calendar name="DateOfBirth" [showIcon]="true" inputId="icon" [dateFormat]="" class="iconcal"
                    [readonlyInput]="true" appendTo="body" [maxDate]="" #dobref=""></p-calendar>
                <div *ngIf="" class="alert alert-danger">
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>