<div class="card">
    <div class="row d-flex align-items-center">

        <div class="my-2 d-flex">
            <label class="set-margin">Currently Showing: <span class="bold">{{actionPage}}</span></label>
            <button class="mx-1" pButton title="Missed" (click)="actionPageChange(1)" label="Missed"></button>
            <button class="mx-1" pButton title="Current" label="Current" (click)="actionPageChange(2)"></button>
            <button class="mx-1" pButton title="Upcoming" label="Upcoming" (click)="actionPageChange(3)"></button>
            <button class="mx-1" pButton title="Completed" label="Completed" (click)="actionPageChange(4)"></button>
            <button class="custom-margin" pButton title="Create a new action schedule"
                label="Create a new action schedule"></button>
        </div>

        <p-table #dt [value]="BodyMappingActionData" responsiveLayout="scroll" class="mt-2" styleClass="p-datatable-striped"
            [rowHover]="true" [scrollable]="true" scrollHeight="calc(100vh - 155px)" [paginator]="true" [rows]="5">
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns?.length">No records found</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="">Action</th>
                    <th *ngIf="actionPage == 'Completed'">Completed By</th>
                    <th *ngIf="actionPage == 'Completed'">Completed Date</th>
                    <th *ngIf="actionPage == 'Completed'">Reason for not required</th>
                    <th *ngIf="actionPage == 'Completed'">Completed after due date reason</th>
                    <th *ngIf="actionPage != 'Completed'">Assigned User</th>
                    <th>Due Date</th>
                    <th *ngIf="actionPage != 'Completed' && actionPage != 'Upcoming'"></th>
                    <th *ngIf="actionPage == 'Completed'">Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dt let-i="rowIndex">
                <tr>
                    <td><a type="button" class="text-primary" (click)="openForm(dt)">{{dt.ActionName}}</a></td>

                    <!-- <td *ngIf="actionPage == 'Completed'">{{dt.NotRequiredReason || dt.CompletionAfterDueDateReason ? dt.AssignedUserName : dt.LastEnteredByName}}</td> -->
                    <td *ngIf="actionPage == 'Completed'">
                        {{ (dt.NotRequiredReason || dt.CompletionAfterDueDateReason) && dt.AssignedUserName ? dt.AssignedUserName : dt.LastEnteredByName }}
                    </td>

                    <td *ngIf="actionPage == 'Completed'">{{dt.CompletionDate | date}}</td>

                    <td *ngIf="actionPage == 'Completed'">{{dt.NotRequiredReason}}</td>

                    <td *ngIf="actionPage == 'Completed'">{{dt.CompletionAfterDueDateReason}}</td>

                    <td *ngIf="actionPage != 'Completed'">{{dt.AssignedUserName}}</td>

                    <td>{{dt.Date | date}}</td>

                    <td *ngIf="actionPage != 'Completed' && actionPage != 'Upcoming'"><i *ngIf="dt.PrioritiseStatus" class="fa-regular fa-flag ms-5 fa-2x" style="color: red;"></i></td>

                    <td class="bold" [ngClass]="{
                        'text-info':dt.NotRequiredReason != null,
                        'text-success':dt.NotRequiredReason == null
                    }" *ngIf="actionPage == 'Completed'">
                        {{ dt.NotRequiredReason != null ? 'Not Required' : 'Completed' }}
                    </td>

                </tr>
            </ng-template>
        </p-table>

        <app-body-mapping-record (EmitUpdateForm)="EmitUpdateForm($event)" [preSelectedFormData]="selectedFormData" *ngIf="
        ShowChildComponent == true &&
        selectedFormMasterId == FormTypes.BodyMappingRecord
    "></app-body-mapping-record>
        <div *ngIf="isShowActionTakenPopup" class="card flex justify-content-center">
            <p-dialog [closable]="false" [header]="dialogHeader" [(visible)]="isShowActionTakenPopup" [modal]="true"
                [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '40vw' }" [draggable]="false"
                [resizable]="false">
                <div *ngIf="isShowActionTakenPopup">

                    <app-action-tab-list-popup (EmitUpdatePopup)="PopupStatus($event)" (EmitEditPopup)="EditPopup($event)" [ActionTakenData]="selectedFormData"></app-action-tab-list-popup>
                </div>
            </p-dialog>
        </div>

    </div>
</div>