<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-2 labelcontent">
            <p>Does the resident have the capacity to make decisions in relation to COVID vaccinations</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Has the resident given consent for the vaccine(s) to be administered</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4  labelcontent">
            <p class="mb-4"><b>RESIDENTS WHO ARE UNABLE TO CONSENT (Where Power of Attorney for Health and Welfare in
                    Place)</b></p>
        </div>
        <div class="col-md-7  form-text">
            <p-checkbox></p-checkbox>
        </div>
        <div class="col-md-4  labelcontent">
            <p class="mb-4">Details of legal authority to sign on behalf of resident</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include full names(s), designation(s) Relationship to resident and contact details
            </p>
        </div>
        <div class="col-md-4  labelcontent">
            <p class="mb-4"><b>RESIDENTS WHO ARE UNABLE TO CONSENT (Where no Power of Attorney for Health and Welfare in
                    Place)</b>
            </p>
        </div>
        <div class="col-md-7  form-text">
            <p-checkbox></p-checkbox>
            <p class="mb-4">Where no Power of Attorney for Health and Welfare in Place</p>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Confirmation of discussion which will be used to form a ‘Best Interest’ Decision’ for residents who lack
                capacity to consent</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">DISCUSSION WITH RELATIVE / FRIEND (PLEASE NOTE – THIS IS NOT CONSENT)</p>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Details of Relative / Friend</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include full names(s), designation(s) Relationship to resident and contact details
            </p>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Detail specific decision relating to the residents COVID vaccinations</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Only answer if the resident lacks capacity</p>
        </div>
        <div class="col-md-4  labelcontent">
            <p><b>Vaccine Administration</b></p>
        </div>
        <div class="col-md-7 mb-4 form-text">
            <p-checkbox></p-checkbox>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Date and Time vaccines were administered</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include date and time of First, Second and Booster vaccines</p>
        </div>
        <div class="col-md-1  form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Who administered the vaccines</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Please include First, Second and Booster vaccines</p>
        </div>
        <div class="col-md-1  form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Name and location of professional administering the vaccines</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include professional(s) full name(s) and designation(s) name of the Surgery /
                Hospital / Pharmacy</p>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Type of vaccines administered</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Please include First, Second and Booster vaccines</p>
        </div>
        <div class="col-md-1  form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Vaccine Serial Numbers</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include serial numbers of First, Second and Booster vaccines</p>
        </div>
        <div class="col-md-1  form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Body location of the vaccine administrations</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include the body locations for the First, Second and Booster vaccines</p>
        </div>
        <div class="col-md-1  form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Has the resident displayed signs of side effects from the vaccines</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include any side effects from the First, Second and Booster vaccines</p>
        </div>
        <div class="col-md-4  labelcontent">
            <p>Signs of side effects from the vaccines</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include all symptons and details of who has been contacted e.g. NHS111 - 999
                Emergency Services</p>
        </div>
        <div class="col-md-1  form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Date for review </p>
            </div>
        </div>
        <div class="col-md-8  ">
            <div class="input-group date">
                <p-calendar name="DateOfBirth" [showIcon]="true" inputId="icon" [dateFormat]="" class="iconcal"
                    [readonlyInput]="true" appendTo="body" [maxDate]="" #dobref=""></p-calendar>
                <div *ngIf="" class="alert alert-danger">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>