<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 labelcontent">
            <p>Has the resident been assessed as having capacity to make decisions relating to their social, cultural
                and spiritual care</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Does the resident agree to sharing their life history with staff</p>
        </div>
        <div class="col-md-1 mt-4 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Detail specific decision relating to social, cultural and spiritual care</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Only answer if the resident lacks capacity</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Where was the resident born and where did they grow up</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Where did the resident go to school, attend further education</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What was the resident's occupation, and what occupational skills has the resident retained</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include whether they enjoyed their work</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Give details of the resident's parents and any siblings including occupations</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include closeness to & feelings about parents and siblings</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What is the name of the resident's spouse / partner and do they have children</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include name / occupation / when and where married / special memories, whether in regular
                contact / reaction before and after visits</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have grandchildren or other relatives</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include names / whether in regular contact / reaction before and after visits</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Birthdays or anniversaries</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please ask if there are any special birthdays or anniversaries the resident wishes to
                commemorate, include any help or reminder, writing cards, buying presents</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have close friends / neighbours</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include names / whether in regular contact / reaction before and after visits</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Did / does the resident have pets</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include whether resident misses pets, bringing in and caring for own pet (RA), help caring
                for home's pet(s)</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Give details of any achievements that are special to the residen</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Give details of any person / topic / event that is special or important to the resident</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">This might include happy childhood memories, family anecdotes, jokes</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Give details of any person / topic / event not to be discussed</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident like physical contact / interaction with others</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include how to manage potential risk of isolation</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What makes the resident feel at home</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">What could the staff do to make the resident feel more at home</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Would the resident like notification of the home's activities</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Would the resident like to attend or be reminded of resident meetings</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Goals the resident wishes to achieve</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have a specific goal personal to them</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Comments / additional information</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent implabel">
            <p>MONTHLY REVIEW (or before)</p>
        </div>
        <div class="col-md-7 form-text mb-4">
            <p-checkbox name="ChkMonthlyReview" [binary]="true" inputId="binary"></p-checkbox>
            <p class="mb-4">This form should be reviewed EVERY MONTH or before if there are significant changes. Enter
                review date below.</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="input-group date">
                <p-calendar name="DateOfBirth" [showIcon]="true" inputId="icon" [dateFormat]="" class="iconcal"
                    [readonlyInput]="true" appendTo="body" [maxDate]="" #dobref=""></p-calendar>
                <div *ngIf="" class="alert alert-danger">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>