<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>How would you describe what 'feeling well' means for you?</p>
            </div>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please capture information from the person, their significant others, professionals, your
                direct experience with the person, their previous assessments. Include as much information as possible
                in what makes a good day good</p>
        </div>
        <div class="col-md-1 mt-4 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>What helps your sense of well-being?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>How do you tend to show that you are feeling 1. Content 2. Pleased</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please detail in here information from the person or the significant other</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Are there certain things that help you feel these emotions 1. Content 2. Pleased</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Consider in here there instant delights - what will instantly make the person smile.
                consider social interactions, people, animals, routines, outings</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>How do you tend to show that you are feeling 1. Fed up, 2. Anxious, 3. Frustrated</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please enter into the text box information gathered from the person, their significant
                others or previous assessments or experience with the person. Ensure you detail where the information
                has been collected from as a means of evidencing participation and collaboration.</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Is there any way you would like us to respond if you are feeling any of these negative emotions?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please capture information form the person, their significant others, other professionals,
                previous
                experience or assessements</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>In case you feel poorly or are in pain what's the best thing we could do if you're feeling unwell</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please gain information direct from the person, or their significant others, professionals,
                previous assessments or direct experience.</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Are there certain situations or times of the year that tend to affect your emotions?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please obtain as much information in relation from the person, life history, significant
                others, professionals, your experience and/or previous assessments, please make sure you detail where
                the information has been taken from</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>What motivates you in your day to day life?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please make sure you include the question in your answer.</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>What small touches help you feel at home?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />

        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p> Is there anything you would like us to know about any of your belongings that you have with you?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Do any of your belongings mean anything special to you.</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Is there anything we can do to help you get to know other residents, or for others to get to know
                    you?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Would you like support with social inclusion?</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>During the day there may be people you don't know coming and going throughout the home -how do you
                    feel about this?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Does seeing new people everyday excite you or does this make you feel uneasy?</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>What is important to you in terms of your room, how would you like it to look and feel?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>How would you like to personalise your room? Would you like it decorated in a certain way? Would you like
                photographs on the walls?</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>What can the staff do to show our respect, when we come to see you in your bedroom?</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Would you like us to chap the door to gain your consent to enter? Would you like us to call you by you first name or title and surname?</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>


        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>