<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 labelcontent">
            <p>Capacity - Probability of a resident leaving the home unnoticed</p>
        </div>
        <div class="col-md-8 mt-4 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Please select all correct statements about this resident</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Personal Safety - Probability of the resident leaving the home unnoticed</p>
        </div>
        <div class="col-md-8 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Please select all correct statements about this resident</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is the resident at risk of leaving the home unnoticed? Answer yes if any of the above answers end with at
                risk</p>
        </div>
        <div class="col-md-8 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">If you have answered yes, the resident is at risk, please fill in the rest of this form,
                otherwise do not</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Address of care / nursing home</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">

            <p>Phone number of care / nursing home</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Height/Weight /Build</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Hair colour/length and facial hair</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Hair on head and any facial hair - full beard Moustache.</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Distinguishing features</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Important medical information e.g. insulin controlled diabetic / epileptic / dementia</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Clothing description</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">To be completed by the care home on the day the resident is discovered missing include
                colours branding of headwear, gloves, scarf, trousers, skirt, outerwear, shirt, sweater, jewellery,
                handbag, backpack etc</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the person have access to a mobile phone and/or money</p>
        </div>
        <div class="col-md-8 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">pick all that are applicable</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Footwear</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">To be completed by the care home on the day the resident is discovered missing</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Any other relevant information</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include in here the mobile number of the phone the residnet has access to, who has access to
                the GPS or "find my" facility information, how much money the resident may have access to.</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Next of kin - name and relationship</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Next of kin - address</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Next of Kin - phone number</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Address likely to go to - name at address</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include in here previous addresses the person speaks about, or if they have been missing
                before where were the found previously. previous employment, significant places or interests</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Address likely to go to - full address</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Address likely to go to - phone number/s</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Address likely to go to - other addresses</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include details of any other addresses the resident may go to e.g. old homes,
                relatives home. Please include any relevant names, phone numbers and addresses</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Places likely to visit - name of place</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Think about their hobbies, recent discussions, points of interest, previous important places
                in their life.</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Places likely to visit - address</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Places likely to visit - phone number/s</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4 labelcontent">
            <p>Weekly habits/Routines</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">what regular rotuine do they follow? someone visits? weekly shop? day cafe? please include
                location/address where possible</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What matters to the person?</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include who matters to the person? what reduces their feelings of stress, what is the best
                way to speak to them</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the person have access to a bus/train/subway pass that they may have on their person</p>
        </div>
        <div class="col-md-8 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Identified Risk Factors</p>
        </div>
        <div class="col-md-8 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 labelcontent">
            <p>How independent is the person at the time of them going missing?</p>
        </div>
        <div class="col-md-8 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Briefly detail mobility, whether they are using any aids, are they able to communicate to
                those around them</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Has media release consent been given?</p>
        </div>
        <div class="col-md-8 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Does the resident or guardian/POA give consent to release media coverage of the person if
                missing?</p>
        </div>

        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>