<div class="row">
    <div class="col-md-4">
<div class="card">
    <div class="backbutton-cvr">
        <h5>Resident Profile <span class="backbutton"><button type="button" (click)="BacktoResidentList()" class="btn btn-primary mb-2">Back</button></span> </h5>
    </div>
 
    <div class="profile-box">
        <div class="profile-img">
            <img [src]="'assets/ui/images/avatar/' + objPatient.image" [alt]="objPatient.name" class="w-6 shadow-2 my-1 mx-0">
        </div>
        <h1>{{objPatient.name}}</h1>
        <div class="detail-table">
        <table class="table">
            <tr>
                <td>DOB</td>
                <td>:</td>
                <td>{{objPatient.DOB}}</td>
            </tr>
            <tr>
                <td>Contact No.</td>
                <td>:</td>
                <td> {{objPatient.ContactNo}}</td>
            </tr>
            <tr>
                <td>Date of Admission</td>
                <td>:</td>
                <td>{{objPatient.admDate}}</td>
            </tr>
            <tr>
                <td>Blood Group</td>
                <td>:</td>
                <td>{{objPatient.BloodGroup}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>:</td>
                <td>{{objPatient.Address}}</td>
            </tr>
            <tr>
                <td>Likes:</td>
                <td>:</td>
                <td>{{objPatient.Likes}}</td>
            </tr>
            <tr>
                <td>Dislikes</td>
                <td>:</td>
                <td>{{objPatient.Dislikes}}</td>
            </tr>
            <tr>
                <td>Drug Allergies</td>
                <td>:</td>
                <td>{{objPatient.DrugAllergies}}</td>
            </tr>
        </table>
    </div>
    </div>
</div>
</div>

<div class="col-md-8">
<div class="card">
    <h5>{{title}}</h5>
    <app-personal-details [tabid]="tabid" *ngIf="seq=='1'"></app-personal-details>
    <app-fluid-assessment *ngIf="seq=='3'"></app-fluid-assessment>
    <app-todo-list *ngIf="seq=='4'"> </app-todo-list>    
    <app-diet-planner *ngIf="seq=='6'"></app-diet-planner>    
</div>
</div>
</div>

    
