<div class="card">
    <div class="viewtype">
        <a href="#" (click)="ShowDetailview($event)"><i class="fas fa-list-ol"></i></a>     
        <span>|</span>
        <a href="#" (click)="ShowTableview($event)"><i class="fas fa-table"></i></a>
      </div>
    <div class="row note mt-1">
        <!-- Add progress Note -->
        <p-accordion>
            <p-accordionTab header="Add a Progress note" [selected]="isExpanded">
                <div class="row">

                    <div class="col-md-4 form-group">
                        <label class="form-label">Date Of event</label>
                        <p-calendar [required]="true" name="txtDateofEvent" [(ngModel)]="AddNote.DateOfEvent"
                            [ngModelOptions]="{standalone: true}" [showIcon]="true" inputId="icon" class="iconcal"
                            [maxDate]="todayDate" [dateFormat]="customDateFormat.CalendarFormat" [showTime]="true"
                            hourFormat="12" (onSelect)="changeValue()"></p-calendar>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label">Progress Note</label>
                                <textarea class="form-control" rows="5" cols="30" [(ngModel)]="AddNote.NoteDescription" (keypress)="changeValue()" pInputTextarea>
                        </textarea>
            
                            </div>
                  

                            <div class="col-md-4">
                    <div class="flex flex-wrap mt-4 pt-1 gap-2 justify-content-end btn-background">
                        <button pButton type="button"
                            [disabled]="((AddNote.NoteDescription!=null)&&(AddNote.DateOfEvent!=null))?false:true"
                            (click)="submit()">Save</button>
                        <button pButton type="button" (click)="Close()">Close</button>
                    </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
          <!-- Detailed view -->
       <div *ngIf="isDetailedview" class="accordion">
            <p-accordion [activeIndex]="0">
            <p-accordionTab header="All Progress notes since first admission">
                <div class="row">
                    <div class="form-group pos-rel col-md-6" *ngIf="!isProgressnoteDoc">
                        <label for="" class="form-label label-line">From / Upto</label>
                        <p-calendar #calendar [maxDate]="today" selectionMode="range" [(ngModel)]="SearchDate"
                            [ngModelOptions]="{standalone: true}" [showIcon]="true" inputId="icon"
                            [dateFormat]="customDateFormat.CalendarFormat" class="iconcal" [readonlyInput]="true"
                            [showButtonBar]="true" (onSelect)="onSelectDate()"
                            (onClearClick)="LoadResidentProgressDetails(admissionid,null,null,null,0)"></p-calendar>
                    </div>
                    <div class="form-group pos-rel col-md-6" *ngIf="!isProgressnoteDoc">
                        <label for="" class="form-label label-line">Types of Progress notes</label>
                        <p-multiSelect name="ddlFormTypes" display="chip" [(ngModel)]="SearchProgressnoteType"
                            [filter]="false" [options]="lstprogressnotetypes" optionLabel="name" optionValue="code"
                            (ngModelChange)="onSelectFormType()" placeholder="Please Select Progress notes Type"
                            [style]="{width: '100%'}" #usertyperef="" (onChange)="changeValue()">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div *ngIf="lstResidentProgressNote.length === 0" class="no-records-found">
                        No Records Found.
                    </div>
                    <div *ngFor="let dt of lstResidentProgressNote" class="additional-note">
                        <div class="card-body">
                            <div class="card-text">
                                    <h3>{{ dt.FullName }} 
                                    <small>wrote on - {{ (dt.DateofEvent | date:'yyyy') == '0001' ? '' : (dt.DateofEvent | date:'dd MMM yyyy HH:mm') }}</small></h3> 
                                    
                                    
                                <p>{{ dt.NoteDescription}}</p>
                                
                                
                                <h6>Additional Note : </h6>
                                <div class="mt-2" *ngFor="let additionalNote of dt.AdditionalNotes; let j = index">
                                    <p>
                                        {{ j + 1 }}. <b>{{additionalNote.CreatedByName}}</b>
                                        <br>
                                        {{ additionalNote.AdditionalNote }}
                                        <br>
                                        Date of Event : {{(additionalNote.AdditionalDateofEvent | date:'yyyy')=='0001'?'':
                                        additionalNote.AdditionalDateofEvent |
                                        date:customDateFormat.DEF_DATE_TIME}}
                                   
                                </div>
                                </div>
                                    
                            <div *ngIf="!isProgressnoteDoc" class="addbtn">
                                <button pButton type="button" (click)="ShowAddNote(dt.ResidentProgressNotesId)">Addtional Note</button>
                            </div>
                       
                           
                          
                                    
                                
                            </div>

                        </div>

                    </div>
                </div>
            </p-accordionTab>
            </p-accordion>
        </div>
        <!-- Table View -->
      <div *ngIf="isTableview" class="accordion">
        <p-table #dt styleClass="p-datatable-striped" [rowHover]="true" [value]="lstResidentProgressNote" [lazy]="true"
    [lazyLoadOnInit]="false" [globalFilterFields]="['User','Observation','Document','Date','Time']" [scrollable]="true"
    scrollHeight="calc(100vh - 200px)" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row"> 
                <span class="mr-2">
                    {{ lstResidentProgressNote?.length > 0 ? 'Total Records: ' + lstResidentProgressNote.length : '' }}
                </span>               
        </div>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="3">
                No records found
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>User</th>
            <th>Observation</th>
            <th>Document</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dt let-i="rowIndex">
        <tr>
            <td> <a style="cursor: pointer; color: blue; text-decoration: underline; width: 180px;" 
                (click)="ShowProgressNote(dt.ResidentProgressNotesId)" >{{dt.FullName}}</a></td>
            <td>{{dt.NoteDescription}}</td>
            <td>{{dt.NoteDescript1ion}}</td>
            <td style="width:250px">{{(dt.DateofEvent | date:'yyyy')=='0001'?'':
                dt.DateofEvent |
                date:customDateFormat.DEF_DATE}}</td>
            <td style="width:250px">
                {{ (dt.DateofEvent | date:'yyyy') === '0001' ? '' : (dt.DateofEvent | date:'hh:mm a') }}
            </td>
        </tr>
    </ng-template>
        </p-table>
      </div>
    </div>
</div>

<!-- show  Additional Note-->
<p-dialog [modal]="true" header="Additional Note" [(visible)]="showAdditionalNote" [style]="{width: '60vw'}">
    <div class="form-group">
        <label class="form-label">Additional Note</label>
    <textarea class="form-control" rows="5" cols="30" pInputTextarea
        [(ngModel)]="AdditionalProgressNote.AdditionalNote" >
   </textarea>
</div>
    <div class="form-group">
        <label class="form-label">Date Of event</label>
        <p-calendar [required]="true" name="txtAdditionalDateofEvent" appendTo="body"
            [(ngModel)]="AdditionalProgressNote.AdditionalDateofEvent" [ngModelOptions]="{standalone: true}"
            [showIcon]="true" inputId="icon" class="iconcal" [maxDate]="todayDate"
            [dateFormat]="customDateFormat.CalendarFormat" [showTime]="true" hourFormat="12" (onSelect)="changeValue()"></p-calendar>

    </div>
    <div>
        <button pButton type="button" (click)="ClearAddionalNote()" class="mr-3">Cancel</button>
        <button pButton type="button"
            [disabled]="((AdditionalProgressNote.AdditionalNote!=null)&&(AdditionalProgressNote.AdditionalDateofEvent!=null))?false:true"
            (click)="SaveAdditionalProgressNote()">Save</button>
    </div>
</p-dialog>

<!-- show Progress Note (POPUP)-->
<p-dialog [modal]="true" header="Progress Note" [(visible)]="showProgressNote" [style]="{width: '60vw'}">
    <div *ngFor="let dt of lstshowProgressNote" class="additional-note">                    
        <div class="card-body">                   
            <div class="card-text">
                <h3>{{ dt.FullName }} <small>{{ (dt.DateofEvent | date:'yyyy') == '0001' ? '' : (dt.DateofEvent | date:'dd MMM yyyy HH:mm') }}</small></h3>
               
                                         
            <p>{{ dt.NoteDescription}} </p>
                
       <h6>Additional Note : </h6>
       <div class="mt-2" *ngFor="let additionalNote of dt.AdditionalNotes; let j = index">
           <p>                             
              {{ j + 1 }}. <b>{{additionalNote.CreatedByName}}</b>
              <br>
               {{ additionalNote.AdditionalNote }}    
               <br>                      
           Date of Event : {{(additionalNote.AdditionalDateofEvent | date:'yyyy')=='0001'?'':
           additionalNote.AdditionalDateofEvent |
             date:customDateFormat.DEF_DATE_TIME}} 
           </p>
       </div>
    
     
       </div>
    
       <div *ngIf="!isProgressnoteDoc">
        <button pButton (click)="ShowAddNote(dt.ResidentProgressNotesId)">Addtional Note</button>
    </div>
    </div>
    </div>
     
</p-dialog>
