
        <div class="card">
            <form [formGroup]="profileForm" (ngSubmit)="changePwd()">
                <div class="row">
                    <div class="col-md-3">
                    <div class="form-group">
                    <label class="form-label bold" for="">Current Password <span class="required">*</span></label>
              
                            <div class="pwd">
                                <input class="form-control" type="password" formControlName="oldPassword"
                                    [(ngModel)]="oldPassword" maxlength="20" autocomplete="off" 
                                    [type]="showOldPwd ? 'text' : 'password'"/>
                                <div class="password-hide">
                                    <i class="fa" [ngClass]="showOldPwd ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                        (click)="showOldPwd=!showOldPwd"></i>
                                </div>
                            </div>
                            <div *ngIf="profileForm.controls['oldPassword'].touched &&
                                            profileForm.controls['oldPassword'].invalid"
                                class="alert alert-danger">
                                <div *ngIf="profileForm.controls['oldPassword'].errors && (profileForm.controls['oldPassword'].hasError('minlength') ||
                                                profileForm.controls['oldPassword']?.['errors']?.['required'])">
                                    Current Password should contain 7 characters</div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-3">
                        <div class="form-group">
                        <label class="form-label bold">New Password <span class="required">*</span></label>
                
                            <div class="pwd">
                                <input class="form-control" type="password" formControlName="newPassword"
                                    [(ngModel)]="newPassword" minlength="7" maxlength="20" autocomplete="off"
                                    [type]="showNewPwd ? 'text' : 'password'" />
                                <div class="password-hide">
                                    <i class="fa" [ngClass]="showNewPwd ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                        (click)="showNewPwd=!showNewPwd"></i>  
                                </div>
                            </div>

                            <div *ngIf="profileForm.controls['newPassword'].touched &&
                                                                                profileForm.controls['newPassword'].invalid"
                                class="alert alert-danger">
                                <div
                                    *ngIf="profileForm.controls['newPassword'].errors && (profileForm.controls['newPassword'].hasError('minlength') ||
                                                                                    profileForm.controls['newPassword']?.['errors']?.['required'])">
                                    New Password should contain 7 characters</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-3">
                        <div class="form-group">
                        <label class="form-label bold">Confirm Password <span class="required">*</span></label>
                
                            <div class="pwd">
                                <input class="form-control" type="password" formControlName="confirmPassword"
                                    [(ngModel)]="confirmPassword" maxlength="20" autocomplete="off"
                                    pattern="{{ newPassword }}" 
                                    [type]="showConfirmPwd ? 'text' : 'password'" />
                                <div class="password-hide">
                                    <i class="fa" [ngClass]="showConfirmPwd ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                    (click)="showConfirmPwd=!showConfirmPwd"></i> 
                                </div>
                            </div>
                            <div *ngIf="profileForm.controls['confirmPassword'].touched && profileForm.controls['confirmPassword'].invalid"
                                class="alert alert-danger">
                                <div
                                    *ngIf="profileForm.controls['confirmPassword'].errors && profileForm.controls['confirmPassword']?.['errors']?.['required']">
                                    Confirm Password is required.</div>
                                <div *ngIf="profileForm.controls['confirmPassword']?.['errors']?.['pattern']"> Password &
                                    Confirm Password does not match.</div>
                            </div>
                        </div>
                    </div>
      
                    <div class="col-md-3 pt-5">
                        <button pButton type="submit"
                            [disabled]="!profileForm.valid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
