<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                        {{preSelectedFormData.StartedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> {{preSelectedFormData.StartedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{preSelectedFormData.StartedOn | date :
                        customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{preSelectedFormData.ModifiedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{preSelectedFormData.ModifiedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b>{{preSelectedFormData.ModifiedOn | date:
                        customDateFormat.DEF_DATE_TIME}} </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 labelcontent">
            <p>Has the resident been assessed or assumed to have the capacity in relation to their wishes for the future
            </p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <ng-container *ngIf="this.isEditable; else CapacityInRelationData">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [options]="lstCapacityInRelation"
                    optionLabel="optionName" optionValue="optionId" name="CareWishesFormsData.CapacityInRelation"
                    [(ngModel)]="CareWishesFormsData.CapacityInRelation">
                </p-dropdown>
            </ng-container>
            <ng-template #CapacityInRelationData>
                <label>{{CareWishesFormsData.CapacityInRelationName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 mt-4 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is the resident happy to discuss their wishes for the future</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else WishesData">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [options]="lstWishes"
                    optionLabel="optionName" optionValue="optionId"
                    [(ngModel)]="CareWishesFormsData.Wishes"></p-dropdown>
            </ng-container>
            <ng-template #WishesData>
                <label>{{CareWishesFormsData.WishesName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is there somebody who the resident would like us to talk to about this (e.g. a relative)</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else PersonNameData">
                <input pInputText type="text" required name="CareWishesFormsData.PersonName"
                    [(ngModel)]="CareWishesFormsData.PersonName" class="form-control" />
                <p class="mb-4">If so, please provide name and contact details</p>
            </ng-container>

            <ng-template #PersonNameData>
                <label>{{CareWishesFormsData.PersonName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is the resident aware of their illnesses / diagnosis and prognosis</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else IllnessesAndDiagnosisData">
                <input pInputText type="text" required name="CareWishesFormsData.IllnessesAndDiagnosis"
                    [(ngModel)]="CareWishesFormsData.IllnessesAndDiagnosis" class="form-control" />
                <p class="mb-4">Please provide relevant details e.g. illnesses / prognosis</p>
            </ng-container>
            <ng-template #IllnessesAndDiagnosisData>
                <label>{{CareWishesFormsData.IllnessesAndDiagnosis}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Are the family / close friends aware of the resident's illness / diagnosis and prognosis</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else RelativeNameData">
                <input pInputText type="text" required class="form-control" name="CareWishesFormsData.RelativeName"
                    [(ngModel)]="CareWishesFormsData.RelativeName" />
                <p class="mb-4">Please provide any relevant details, such as who is aware, names and relationships</p>
            </ng-container>
            <ng-template #RelativeNameData>
                <label>{{CareWishesFormsData.RelativeName}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have any wishes / desires (e.g. things they might like to do / people they may like to
                see (including pets) before they die)</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else DesiresData">
                <input pInputText type="text" required name="CareWishesFormsData.Desires"
                    [(ngModel)]="CareWishesFormsData.Desires" class="form-control" />
                <p class="mb-4">Please include any relevant details, such as how you can help to fulfil this, e.g.
                    contacting relatives or others</p>
            </ng-container>
            <ng-template #DesiresData>
                <label>{{CareWishesFormsData.Desires}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is there anyone the resident does not wish to see</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else NameAndRelationshipData">
                <input pInputText type="text" required name="CareWishesFormsData.NameAndRelationship"
                    [(ngModel)]="CareWishesFormsData.NameAndRelationship" class="form-control" />
                <p class="mb-4">Please provide relevant details, e.g. names and relationships</p>

            </ng-container>
            <ng-template #NameAndRelationshipData>
                <label>{{CareWishesFormsData.NameAndRelationship}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is the resident happy for certain members of their family to make decisions for them if they are unable
                to</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else DecisionsMakerData">
                <input pInputText type="text" required name="CareWishesFormsData.DecisionsMaker"
                    [(ngModel)]="CareWishesFormsData.DecisionsMaker" class="form-control" />
                <p class="mb-4">Please provide relevant details, e.g. names and relationships</p>
            </ng-container>
            <ng-template #DecisionsMakerData>
                <label>{{CareWishesFormsData.DecisionsMaker}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is there anything that the resident would like to be remembered for</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else TraitsData">
                <input pInputText type="text" required name="CareWishesFormsData.Traits"
                    [(ngModel)]="CareWishesFormsData.Traits" class="form-control" />
                <p class="mb-4">Please provide relevant details, sense of humour, kindness, a particular trait.</p>
            </ng-container>
            <ng-template #TraitsData>
                <label>{{CareWishesFormsData.Traits}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have a funeral plan in place</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else FuneralPlaneData">
                <input pInputText type="text" required name="CareWishesFormsData.FuneralPlane"
                    [(ngModel)]="CareWishesFormsData.FuneralPlane" class="form-control" />
                <p class="mb-4">Please provide a copy of the funeral plan (if applicable), or state where this is held
                    (name
                    and contact details)</p>
            </ng-container>
            <ng-template #FuneralPlaneData>
                <label>{{CareWishesFormsData.FuneralPlane}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have a preferred undertaker that they would like to care for them following their death
            </p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else PreferredUndertakerData">
                <input pInputText type="text" required name="CareWishesFormsData.PreferredUndertaker"
                    [(ngModel)]="CareWishesFormsData.PreferredUndertaker" class="form-control" />
                <p class="mb-4">If the resident does not have a preferred undertaker, please detail any preferences,</p>
            </ng-container>
            <ng-template #PreferredUndertakerData>
                <label>{{CareWishesFormsData.PreferredUndertaker}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Would the resident prefer to be buried / cremated</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else BuriedOrCrematedData">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [options]="lstBuriedOrCremated"
                    optionLabel="optionName" optionValue="optionId"
                    [(ngModel)]="CareWishesFormsData.BuriedOrCremated"></p-dropdown>
            </ng-container>
            <ng-template #BuriedOrCrematedData>
                <label>{{CareWishesFormsData.BuriedOrCrematedName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Are there any other arrangements that have been made (e.g. organ donation / medical research)</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else DetailForOrganDonationData">
                <input pInputText type="text" required name="CareWishesFormsData.DetailForOrganDonation"
                    [(ngModel)]="CareWishesFormsData.DetailForOrganDonation" class="form-control" />
                <p class="mb-4">Please provide details and attach relevant information</p>
            </ng-container>
            <ng-template #DetailForOrganDonationData>
                <label>{{CareWishesFormsData.DetailForOrganDonation}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have a solicitor / are their affairs in order</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else SolicitorData">
                <input pInputText type="text" required name="CareWishesFormsData.Solicitor"
                    [(ngModel)]="CareWishesFormsData.Solicitor" class="form-control" />
                <p class="mb-4">Please provide relevant details e.g. if consent provided, record details of solicitor's
                    name, practice and contact number</p>
            </ng-container>
            <ng-template #SolicitorData>
                <label>{{CareWishesFormsData.Solicitor}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>If the resident becomes unwell, do they wish to go to hospital</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else RelativeNameForHospitalData">
                <input pInputText type="text" required name="CareWishesFormsData.RelativeNameForHospital"
                    [(ngModel)]="CareWishesFormsData.RelativeNameForHospital" class="form-control" />
                <p class="mb-4">Please provide relevant details e.g. appropriateness of going to hospital for acute
                    illnesses / Treatment Escalation Plan may be in place, review ReSPECT/ACP</p>
            </ng-container>
            <ng-template #RelativeNameForHospitalData>
                <label>{{CareWishesFormsData.RelativeNameForHospital}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have a preference about where they wish to die</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else PreferenceForDieData">
                <input pInputText type="text" required name="CareWishesFormsData.PreferenceForDie"
                    [(ngModel)]="CareWishesFormsData.PreferenceForDie" class="form-control" />
                <p class="mb-4">Please provide relevant details e.g. where and how we can support this</p>
            </ng-container>
            <ng-template #PreferenceForDieData>
                <label>{{CareWishesFormsData.PreferenceForDie}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident wish for any of their friends to be involved in their care</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else FriendDetailForCareData">
                <input pInputText type="text" required name="CareWishesFormsData.FriendDetailForCare"
                    [(ngModel)]="CareWishesFormsData.FriendDetailForCare" class="form-control" />
                <p class="mb-4">Please provide relevant details e.g. names and contact details</p>
            </ng-container>
            <ng-template #FriendDetailForCareData>
                <label>{{CareWishesFormsData.FriendDetailForCare}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Are there any religious / cultural / spiritual needs that need to be considered</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else ReligiousDetailsData">
                <input pInputText type="text" required name="CareWishesFormsData.ReligiousDetails"
                    [(ngModel)]="CareWishesFormsData.ReligiousDetails" class="form-control" />
                <p class="mb-4">Please provide details e.g. to see a priest / last rights. How you can support the
                    resident,
                    has a priest been contacted etc. Please also provide names and contact details where appropriate</p>
            </ng-container>
            <ng-template #ReligiousDetailsData>
                <label>{{CareWishesFormsData.ReligiousDetails}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is there anything that the resident is worried or concerned about</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else AnythingConcernedData">
                <input pInputText type="text" required name="CareWishesFormsData.AnythingConcerned"
                    [(ngModel)]="CareWishesFormsData.AnythingConcerned" class="form-control" />
                <p class="mb-4">Please provide details of what this is e.g. frightened of dying, may be in pain. How can
                    you
                    support and help to try and alleviate fears - would / could a counsellor / other professional help
                </p>
            </ng-container>
            <ng-template #AnythingConcernedData>
                <label>{{CareWishesFormsData.AnythingConcerned}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is there anyone the resident would like present at the end of their life e.g. family, friends or both</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else NameWhoPresentResidentEndLifeData">
                <input pInputText type="text" required name="CareWishesFormsData.NameWhoPresentResidentEndLife"
                    [(ngModel)]="CareWishesFormsData.NameWhoPresentResidentEndLife" class="form-control" />
                <p class="mb-4">Please provide names and contact details</p>
            </ng-container>
            <ng-template #NameWhoPresentResidentEndLifeData>
                <label>{{CareWishesFormsData.NameWhoPresentResidentEndLife}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Do the family / friends live locally</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else DetailWhoLiveLocallyData">
                <input pInputText type="text" required name="CareWishesFormsData.DetailWhoLiveLocally"
                    [(ngModel)]="CareWishesFormsData.DetailWhoLiveLocally" class="form-control" />
                <p class="mb-4">Please provide relevant details and supply information about local hotels and B&Bs to
                    friends / relatives if necessary</p>
            </ng-container>
            <ng-template #DetailWhoLiveLocallyData>
                <label>{{CareWishesFormsData.DetailWhoLiveLocally}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is there anything specific the resident would like in their room or immediate surroundings</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else AnythingSpecificForResidentSurroundingData">
                <input pInputText type="text" required name="CareWishesFormsData.AnythingSpecificForResidentSurrounding"
                    [(ngModel)]="CareWishesFormsData.AnythingSpecificForResidentSurrounding" class="form-control" />
                <p class="mb-4">Please provide relevant details e.g. fresh flowers, music, lighting, photographs, aroma,
                    other (please state)</p>
            </ng-container>
            <ng-template #AnythingSpecificForResidentSurroundingData>
                <label>{{CareWishesFormsData.AnythingSpecificForResidentSurrounding}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Please provide details of how the resident wishes to live the last stages of their life and the main
                comforts they desire</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else WishesForLastStageOfLifeData">
                <input pInputText type="text" required name="CareWishesFormsData.WishesForLastStageOfLife"
                    [(ngModel)]="CareWishesFormsData.WishesForLastStageOfLife" class="form-control" />
                <p class="mb-4">Please provide details of the actions which will be carried out by staff when the time
                    is
                    reached that the resident is actively dying.</p>
            </ng-container>
            <ng-template #WishesForLastStageOfLifeData>
                <label>{{CareWishesFormsData.WishesForLastStageOfLife}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is there someone specific the resident would like to be contacted immediately after they die</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else PersonNameWhoTakeInfoAfterDieData">
                <input pInputText type="text" required name="CareWishesFormsData.PersonNameWhoTakeInfoAfterDie"
                    [(ngModel)]="CareWishesFormsData.PersonNameWhoTakeInfoAfterDie" class="form-control" />
                <p class="mb-4">Please provide relevant details e.g. names and contact details</p>
            </ng-container>
            <ng-template #PersonNameWhoTakeInfoAfterDieData>
                <label>{{CareWishesFormsData.PersonNameWhoTakeInfoAfterDie}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Do the resident's family or friends have any concerns or fears</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else DetailForFearsData">
                <input pInputText type="text" required name="CareWishesFormsData.DetailForFears"
                    [(ngModel)]="CareWishesFormsData.DetailForFears" class="form-control" />
                <p class="mb-4">Please provide relevant details e.g. what fears exist and how you could offer support
                </p>
            </ng-container>
            <ng-template #DetailForFearsData>
                <label>{{CareWishesFormsData.DetailForFears}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Do the family or friends have any special wishes or needs</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else AnyRelativeWishesData">
                <input pInputText type="text" requiredname="CareWishesFormsData.AnyRelativeWishes"
                    [(ngModel)]="CareWishesFormsData.AnyRelativeWishes" class="form-control" />
                <p class="mb-4">Please provide details e.g. what these are and how you could offer support</p>
            </ng-container>
            <ng-template #AnyRelativeWishesData>
                <label>{{CareWishesFormsData.AnyRelativeWishes}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Goals the resident wishes to achieve</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else GoalsData">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [options]="lstGoals"
                    optionLabel="optionName" optionValue="optionId"
                    [(ngModel)]="CareWishesFormsData.Goals"></p-dropdown>
            </ng-container>
            <ng-template #GoalsData>
                <label>{{CareWishesFormsData.GoalsName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have a specific goal personal to them</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else PersonalGoalData">
                <input pInputText type="text" required name="chartheadname" class="form-control"
                    [(ngModel)]="CareWishesFormsData.PersonalGoal" />
            </ng-container>
            <ng-template #PersonalGoalData>
                <label>{{CareWishesFormsData.PersonalGoal}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent implabel">
            <p>Section 2 TO BE COMPLETED IF THE RESIDENT REQUIRES PALLIATIVE CARE</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else RequiresPalliativeCareData">
                <p-checkbox name="ChkMonthlyReview" [binary]="true" inputId="binary" [(ngModel)]="CareWishesFormsData.RequiresPalliativeCare"></p-checkbox>
            </ng-container>
            <ng-template #RequiresPalliativeCareData>
                <label>{{CareWishesFormsData.RequiresPalliativeCare==true?'yes':'no'}}</label>
            </ng-template>

        </div>
        <div class="col-md-4 labelcontent">
            <p>Palliative end of life</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else PalliativeEndOfLifeData">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [options]="lstPalliativeEndOfLife"
                    optionLabel="optionName" optionValue="optionId"
                    [(ngModel)]="CareWishesFormsData.PalliativeEndOfLife"></p-dropdown>
            </ng-container>
            <ng-template #PalliativeEndOfLifeData>
                <label>{{CareWishesFormsData.PalliativeEndOfLifeName}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Medical support from GP</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else MadicalSupportData">
                <input pInputText type="text" required name="CareWishesFormsData.MadicalSupport"
                    [(ngModel)]="CareWishesFormsData.MadicalSupport" class="form-control" />
                <p class="mb-4">Consider who will be involved and how they will assist e.g. DN intervention and support,
                    GP
                    intervention and support, Specialist Palliative Team</p>
            </ng-container>
            <ng-template #MadicalSupportData>
                <label>{{CareWishesFormsData.MadicalSupport}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Pain relief and symptom control from GP</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else MadicionNameData">
                <input pInputText type="text" required name="CareWishesFormsData.MadicionName"
                    [(ngModel)]="CareWishesFormsData.MadicionName" class="form-control" />
                <p class="mb-4">Consider how, e.g. just in case medication, symptom control - pain scales /
                    observations.
                    When people have advanced illness, they sometimes experience a range of symptoms.</p>
            </ng-container>
            <ng-template #MadicionNameData>
                <label>{{CareWishesFormsData.MadicionName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Oral care</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else OralCareData">
                <input pInputText type="text" required name="CareWishesFormsData.OralCare"
                    [(ngModel)]="CareWishesFormsData.OralCare" class="form-control" />
                <p class="mb-4">Consider how, e.g. nutrition and hydration - mouth swab, moisture. Food fluid monitoring
                    (if
                    appropriate - liaise with GP)</p>
            </ng-container>
            <ng-template #OralCareData>
                <label>{{CareWishesFormsData.OralCare}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Eating and drinking (nutrition and hydration)</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else EatingAndDrinkingData">
                <input pInputText type="text" required name="CareWishesFormsData.EatingAndDrinking"
                    [(ngModel)]="CareWishesFormsData.EatingAndDrinking" class="form-control" />
                <p class="mb-4">How will you support nutrition and hydration. Food fluid monitoring (if appropriate -
                    liaise
                    with GP)</p>
            </ng-container>
            <ng-template #EatingAndDrinkingData>
                <label>{{CareWishesFormsData.EatingAndDrinking}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Skin care</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else SkinCareData">
                <input pInputText type="text" required name="CareWishesFormsData.SkinCare"
                    [(ngModel)]="CareWishesFormsData.SkinCare" class="form-control" />
                <p class="mb-4">Consider how, e.g. creaming regime</p>
            </ng-container>
            <ng-template #SkinCareData>
                <label>{{CareWishesFormsData.SkinCare}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Re-positioning / pressure relief</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else PressureReliefData">
                <input pInputText type="text" required name="CareWishesFormsData.PressureRelief"
                    [(ngModel)]="CareWishesFormsData.PressureRelief" class="form-control" />
                <p class="mb-4">Consider how, e.g. pressure relieving equipment / re-positioning</p>
            </ng-container>
            <ng-template #PressureReliefData>
                <label>{{CareWishesFormsData.PressureRelief}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Personal hygiene</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else PersonalHygieneData">
                <input pInputText type="text" required name="CareWishesFormsData.PersonalHygiene"
                    [(ngModel)]="CareWishesFormsData.PersonalHygiene" class="form-control" />
            </ng-container>
            <ng-template #PersonalHygieneData>
                <label>{{CareWishesFormsData.PersonalHygiene}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Emotional support</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else EmotionalSupportData">
                <input pInputText type="text" required name="CareWishesFormsData.EmotionalSupport"
                    [(ngModel)]="CareWishesFormsData.EmotionalSupport" class="form-control" />
                <p class="mb-4">Consider how, e.g. being present, talking, appropriate touch with comforts</p>
            </ng-container>
            <ng-template #EmotionalSupportData>
                <label>{{CareWishesFormsData.EmotionalSupport}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Close observations</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else CloseObservationsData">
                <input pInputText type="text" required name="CareWishesFormsData.CloseObservations"
                    [(ngModel)]="CareWishesFormsData.CloseObservations" class="form-control" />
                <p class="mb-4">Consider how, e.g. record 30 minute observations (DoLs). Consider if there are any
                    restrictions in place / increase in risks such as falls, what measures have been put in place. MAC
                    and
                    Best Interest Assessment may be required</p>
            </ng-container>
            <ng-template #CloseObservationsData>
                <label>{{CareWishesFormsData.CloseObservations}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Additional information</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else AdditionalInformationData">
                <input pInputText type="text" required name="CareWishesFormsData.AdditionalInformation"
                    [(ngModel)]="CareWishesFormsData.AdditionalInformation" class="form-control" />
            </ng-container>
            <ng-template #AdditionalInformationData>
                <label>{{CareWishesFormsData.AdditionalInformation}}</label>
            </ng-template>

        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Have any restrictive measures been put in to place</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else AnyRestrictiveMeasuresData">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [options]="lstAnyRestrictiveMeasures"
                    optionLabel="optionName" optionValue="optionId"
                    [(ngModel)]="CareWishesFormsData.AnyRestrictiveMeasures"></p-dropdown>
                <p class="mb-4">E.g. crash mat (increase in falls)</p>
            </ng-container>
            <ng-template #AnyRestrictiveMeasuresData>
                <label>{{CareWishesFormsData.AnyRestrictiveMeasuresName}}</label>
            </ng-template>
        </div>
        <div class="col-md-4 labelcontent">
            <p>If yes, please provide date completed</p>
        </div>
        <div class="col-md-7 form-text">
            <div class="input-group date">
                <ng-container *ngIf="this.isEditable; else DateOfCompleteData">
                    <p-calendar name="DateOfBirth" [showIcon]="true" inputId="icon" [dateFormat]="" class="iconcal"
                        appendTo="body" #dobref="" [(ngModel)]="CareWishesFormsData.DateOfComplete"
                        [maxDate]=""></p-calendar>
                    <div *ngIf="" class="alert alert-danger">
                    </div>
                </ng-container>
                <ng-template #DateOfCompleteData>
                    <label>{{CareWishesFormsData.DateOfComplete | date}}</label>
                </ng-template>
            </div>
            <p class="mb-4">Ensure copy held with care plan</p>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Clinical Frailty Scale</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else ClinicalFrailtyScaleData">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }" [options]="lstClinicalFrailtyScale"
                    optionLabel="optionName" optionValue="optionId"
                    [(ngModel)]="CareWishesFormsData.ClinicalFrailtyScale"></p-dropdown>
                <p class="mb-4">Please chose which profile best describe the person we are assessing -</p>
            </ng-container>
            <ng-template #ClinicalFrailtyScaleData>
                <label>{{CareWishesFormsData.ClinicalFrailtyScaleName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Save as Unfinished"
                            (click)="saveAsUnfinished()"
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Complete"
                            (click)="completeForm()"
                            [disabled]="
                                CareWishesFormsData.IsFormCompleted
                            "
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button
                    pButton
                    title="Save as PDF"
                    label="Save as PDF"
                    (click)="SaveAsPDF()"
                ></button>
            </ng-template>
        </div>
    </div>
</div>