<div class="card">
    <div class="row d-flex align-items-center">
        <div class="col-md-4">
            <label class="form-label">
                From Date / To Date </label>
            <p-calendar #cal1 selectionMode="range" [(ngModel)]="rangeDates" placeholder="--select--"
                [ngModelOptions]="{standalone: true}" [showIcon]="true" inputId="icon" [readonlyInput]="true"
                [dateFormat]="customDateFormat.CalendarFormat" (onSelect)="dateRangeChange(cal1)" [showButtonBar]="true"></p-calendar>
            <!-- (onClearClick)="GetDailyVitalAlertLog()"  -->
        </div>
        <div class="col-md-3">
            <label class="form-label">
                Alert Type </label>
            <p-dropdown [(ngModel)]="selectedAlertMasterId" [options]="lstAlertMaster" optionLabel="AlertName"
                optionValue="AlertMasterId" placeholder="--select--" [style]="{ width: '100%' }" [filter]="true"
                [showClear]="true" (onChange)="changeValue()">
            </p-dropdown>
        </div>
        <div class="col-md-3">
            <label class="form-label">
                Alert Status </label>
            <p-dropdown [(ngModel)]="selectedStatusId" [options]="stlstStatus" optionLabel="name" optionValue="code"
                placeholder="--select--" [style]="{ width: '100%' }" [filter]="true" [showClear]="true" (onChange)="changeValue()">
            </p-dropdown>
        </div>
        <div class="col-md-2 mt-3">
            <button pButton title="Search" (click)="GetAllAlert()" label="Search"></button>
        </div>
        <p-table #dt [value]="AlertList" responsiveLayout="scroll" class="mt-2" styleClass="p-datatable-striped"
            [rowHover]="true" [globalFilterFields]="['AlertName', 'FullName','Status']" [scrollable]="true"
            scrollHeight="calc(100vh - 155px)">
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns?.length">No records found</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="">Alert Name</th>
                    <th>Value</th>
                    <th>Alert Status</th>
                    <th>Recorded Time</th>
                    <th>Recorded By</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dt>
                <tr>
                    <td>{{dt.AlertName}}</td>
                    <td>{{dt.value}}</td>
                    <td>{{dt.Status}}</td>
                    <td>{{dt.createdOn | date:customDateFormat.DEF_DATE_TIME}}</td>
                    <td>
                        {{dt.FullName}}
                    </td>
                    <td>
                        <a title="View">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <span style="margin-left: 10px"></span>
                        <a title="Edit">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>