<div class="card">
    <div class="row d-flex align-items-center">
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">
                    From Date / To Date <span class="required">*</span></label>
                <p-calendar selectionMode="range" placeholder="Date Range"></p-calendar>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-label">
                Alert Type <span class="required">*</span></label>
            <p-dropdown [required]="true" optionLabel="FormName" optionValue="FormMasterId" placeholder="Select"
                [style]="{ width: '100%' }" [filter]="true" filterPlaceholder="Search Form Name">
            </p-dropdown>
        </div>
        <div class="col-md-3">
            <label class="form-label">
                Alert Status <span class="required">*</span></label>
            <p-dropdown [required]="true" optionLabel="FormName" optionValue="FormMasterId" placeholder="Select"
                [style]="{ width: '100%' }" [filter]="true" filterPlaceholder="Search Form Name">
            </p-dropdown>
        </div>
        <div class="col-md-3 d-flex mt-3">
            <div>
                <span class="p-ml-left">
                    <button pButton title="New" label="Search"></button>
                    <span class="total-txt"> </span>
                </span>
            </div>
        </div>
    </div>
</div>