<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>{{ preSelectedFormData.StartedBy }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b>{{ preSelectedFormData.StartedByDesignation }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time : </b>{{
                        preSelectedFormData.StartedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{ preSelectedFormData.ModifiedBy }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Designation :</b>{{ preSelectedFormData.ModifiedByDesignation }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time :</b>
                        {{
                        preSelectedFormData.ModifiedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}</label>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Communication</p>
            </div>
        </div>
        <div class="col-md-7 mt-4">
            <ng-container *ngIf="isEditable; else CommunicationLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.communication" optionLabel="optionName"
                    optionValue="optionId" [options]="communicationOptions"></p-dropdown>
            </ng-container>
            <ng-template #CommunicationLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.communicationName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Breathing</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else BreathingLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.breathing" optionLabel="optionName"
                    optionValue="optionId" [options]="breathingOptions"></p-dropdown>
            </ng-container>
            <ng-template #BreathingLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.breathingName }}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Circulation (heart and vascular)</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else CirculationLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.circulation" optionLabel="optionName"
                    optionValue="optionId" [options]="circulationOptions"></p-dropdown>
            </ng-container>
            <ng-template #CirculationLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.circulationName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance to eat</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else EatAssistanceLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.assistanceToEat" optionLabel="optionName"
                    optionValue="optionId" [options]="eatAssistanceOptions"></p-dropdown>
            </ng-container>
            <ng-template #EatAssistanceLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.assistanceToEatName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Elimination</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else EliminationLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.elimination" optionLabel="optionName"
                    optionValue="optionId" [options]="eliminationOptions"></p-dropdown>
            </ng-container>
            <ng-template #EliminationLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.eliminationName }}</label>
            </ng-template>
        </div>


        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Mobility</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else MobilityLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.mobility" optionLabel="optionName"
                    optionValue="optionId" [options]="mobilityOptions"></p-dropdown>
            </ng-container>
            <ng-template #MobilityLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.mobilityName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Washing and dressing (hygiene)</p>
            </div>
        </div>
        <div class="col-md-7 mt-4">
            <ng-container *ngIf="isEditable; else WashingDressingLabel">
                <p-dropdown name="WashingAndDressing" placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.washingAndDressing" optionLabel="optionName"
                    optionValue="optionId" [options]="washingAndDressingOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #WashingDressingLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.washingAndDressingName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Oral care</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else OralCareLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.oralCare" optionLabel="optionName"
                    optionValue="optionId" [options]="oralCareOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #OralCareLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.oralCareName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Skin (tissue viability)</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else SkinLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.skinViability" optionLabel="optionName"
                    optionValue="optionId" [options]="skinViabilityOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #SkinLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.skinViabilityName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Pain and discomfort</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else PainLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.painDiscomfort" optionLabel="optionName"
                    optionValue="optionId" [options]="painDiscomfortOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #PainLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.painDiscomfortName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Hearing</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else HearingLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.hearing" optionLabel="optionName"
                    optionValue="optionId" [options]="hearingOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #HearingLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.hearingName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Sight</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else SightLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.sight" optionLabel="optionName"
                    optionValue="optionId" [options]="sightOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #SightLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.sightName }}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Sleeping and rest</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else SleepRestLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.sleepingRest" optionLabel="optionName"
                    optionValue="optionId" [options]="sleepingRestOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #SleepRestLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.sleepingRestName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Palliative care</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else PalliativeCareLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.palliativeCare" optionLabel="optionName"
                    optionValue="optionId" [options]="palliativeCareOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #PalliativeCareLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.palliativeCareName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Behaviours</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else BehavioursLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.behaviours" optionLabel="optionName"
                    optionValue="optionId" [options]="behavioursOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #BehavioursLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.behavioursName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Awareness, understanding and memory (Cognition)</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else CognitionLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.cognition" optionLabel="optionName"
                    optionValue="optionId" [options]="cognitionOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #CognitionLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.cognitionName }}</label>
            </ng-template>
        </div>


        <div class="col-md-4">
            <div class="labelcontent">
                <p>Management - Indirect Care</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else IndirectCareLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.indirectCare" optionLabel="optionName"
                    optionValue="optionId" [options]="indirectCareOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #IndirectCareLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.indirectCareName }}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Activities and Engagement</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else EngagementLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.activitiesEngagement" optionLabel="optionName"
                    optionValue="optionId" [options]="activitiesEngagementOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #EngagementLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.activitiesEngagementName }}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Dependency Score and Level</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else DependencyLabel">
                <p-dropdown placeholder="--select--" [style]="{ width: '100%' }"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.dependencyScoreLevel" optionLabel="optionName"
                    optionValue="optionId" [options]="dependencyScoreLevelOptions">
                </p-dropdown>
            </ng-container>
            <ng-template #DependencyLabel>
                <label>{{ RiskPhysicalDependencyAssessmentFormData.dependencyScoreLevelName }}</label>
            </ng-template>
        </div>


        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date<span class="required">*</span> </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <div class="input-group date" *ngIf="isEditable==true">
                <p-calendar [required]="true" [showTime]="true" name="txtNextReviewDate"
                    [(ngModel)]="RiskPhysicalDependencyAssessmentFormData.nextReviewDate" [showIcon]="true"
                    inputId="icon" [dateFormat]="" class="iconcal" [readonlyInput]="true" appendTo="body" [maxDate]=""
                    #dobref=""></p-calendar>
                <div *ngIf="" class="alert alert-danger">
                </div>
            </div>
            <p *ngIf="isEditable!=true">{{RiskPhysicalDependencyAssessmentFormData.nextReviewDate | date
                :customDateFormat.DEF_DATE_TIME}}</p>

        </div>

        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Save as Unfinished" (click)="saveAsUnfinished()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Complete" (click)="completeForm()" [disabled]="
                                RiskPhysicalDependencyAssessmentFormData.isFormCompleted
                            "></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button pButton title="Save as PDF" label="Save as PDF" (click)="SaveAsPDF()"></button>
            </ng-template>
        </div>
    </div>
</div>