<div class="card">
    <div class="row p-0">
        <div class="col-md-12 formheader d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Vital Signs Chart</h4>
            <div>
                <button pButton type="button" icon="pi pi-chevron-left" class="mr-2" (click)="leftBtn()"
                    [disabled]="pageNumber==0"></button>
                <button pButton type="button" icon="pi pi-chevron-right" class="" (click)="rightBtn()"
                    [disabled]="rightBtnCheck"></button>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3 mt-3  chart-box chart">
            <div class="formheader mt-2 chart-heading">
                <p><b>New observation</b></p>
            </div>
            <div class="mt-4">
                <label class="form-label bold">
                    Date/Time<span class="required"></span></label>

                <ng-container>
                    <p-calendar name="" [showIcon]="true" inputId="icon" class="iconcal" [readonlyInput]="true"
                        appendTo="body" [maxDate]="" #dobref="" [dateFormat]="customDateFormat.CalendarFormat"
                        [(ngModel)]="VitalSignsChartData.DateAndTime" [showTime]="true" hourFormat="24"></p-calendar>
                </ng-container>
            </div>
            <div>
                <label class="form-label formheader bold">Care Given <span class="required">*</span></label>

                <ng-container>
                    <p-dropdown [ngClass]="{'ng-dirty ng-invalid':CareGivenCheck}" [required]="true" name="ADLChartData.CareGiven" placeholder="----select----"
                        [style]="{ width: '100%' }" [options]="stLstYesNoOptions" optionValue="optionId"
                        optionLabel="optionValue" [(ngModel)]="VitalSignsChartData.CareGivenOptions"
                        (onChange)="openAndClose()">
                    </p-dropdown>
                    <span class="required" *ngIf="VitalSignsChartData.CareGivenOptions==null && CareGivenCheck == true">This field is required!</span>
                </ng-container>
            </div>
            <div *ngIf="inputFieldsCheck==false">
                <label class="form-label bold">Reason<span class="required">*</span></label>

                <ng-container>
                    <p-dropdown [ngClass]="{'ng-dirty ng-invalid':ReasonCheck}" [required]="true" name="ADLChartData.Reason" placeholder="----select----"
                        [style]="{ width: '100%' }" [options]="stLstReason" optionValue="optionId"
                        optionLabel="optionValue" [(ngModel)]="VitalSignsChartData.Reason" (onChange)="openAndClose()">
                    </p-dropdown>
                    <span class="required" *ngIf="VitalSignsChartData.Reason==null && ReasonCheck == true">This field is required!</span>
                </ng-container>
            </div>


            <div *ngIf="inputFieldsCheck" class="row">
                <h5 class="formheader">Blood Pressure</h5>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Systolic(mm Hg)</label>
                    </div>
                    <ng-container>
                        <input type="number" pInputText name="VitalSignsChartData.Systolic"
                            [(ngModel)]="VitalSignsChartData.Systolic" [required]="true"
                            [style]="{ width: '100%' }" />
                    </ng-container>
                </div>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Diastolic(mm Hg)</label>
                    </div>
                    <ng-container>
                        <input type="number" pInputText name="VitalSignsChartData.Diastolic"
                            [(ngModel)]="VitalSignsChartData.Diastolic" [required]="true"
                            [style]="{ width: '100%' }" />
                    </ng-container>
                </div>
                <div class="mb-2">
                    <div class="labelcontent">
                        <label class="form-label bold">Comment</label>
                    </div>
                    <ng-container>
                        <textarea type="text" pInputTextarea name="VitalSignsChartData.Comment" [(ngModel)]="VitalSignsChartData.Comment"
                            [required]="true" [style]="{ width: '100%' }"></textarea>
                    </ng-container>
                </div>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Resident Position</label>
                    </div>
                    <ng-container>
                        <p-dropdown [required]="true" name="VitalSignsChartData.BPResidentPositionOption"
                            [(ngModel)]="VitalSignsChartData.BPResidentPositionOption"
                            [options]="LstResidentPosition" optionLabel="optionName" optionValue="optionId"
                            placeholder="--select--" [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                </div>
                
                <h5 class="formheader">Pulse</h5>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Pulse Rate(Beats per minute)</label>
                    </div>
                    <ng-container>
                        <input type="number" pInputText name="VitalSignsChartData.PulseRate"
                            [(ngModel)]="VitalSignsChartData.PulseRate" [required]="true"
                            [style]="{ width: '100%' }" />
                    </ng-container>
                </div>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Site of Measurement</label>
                    </div>
                    <ng-container>
                        <p-dropdown [required]="true" name="VitalSignsChartData.PulseSiteOfMeasurementOption"
                            [(ngModel)]="VitalSignsChartData.PulseSiteOfMeasurementOption" [options]="LstPulseSiteOfMeasurement"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                </div>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Rhythm</label>
                    </div>
                    <ng-container>
                        <p-dropdown [required]="true" name="VitalSignsChartData.RhythmOption"
                            [(ngModel)]="VitalSignsChartData.RhythmOption" [options]="LstRhythm"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                </div>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Amplitude Or Volume</label>
                    </div>
                    <ng-container>
                        <p-dropdown [required]="true" name="VitalSignsChartData.AmplitudeOrVolumeOption"
                            [(ngModel)]="VitalSignsChartData.AmplitudeOrVolumeOption" [options]="LstAmplitudeOrVolume"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                </div>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Resident Position</label>
                    </div>
                    <ng-container>
                        <p-dropdown [required]="true" name="VitalSignsChartData.PulseResidentPositionOption"
                            [(ngModel)]="VitalSignsChartData.PulseResidentPositionOption" [options]="LstResidentPosition"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                </div>
                <h5 class="formheader">Respiration</h5>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Respiratory Rate(Breaths per minute)</label>
                    </div>
                    <ng-container>
                        <input type="number" pInputText name="VitalSignsChartData.RespiratoryRate"
                            [(ngModel)]="VitalSignsChartData.RespiratoryRate" [required]="true"
                            [style]="{ width: '100%' }" />
                    </ng-container>
                </div>
                
                <h5 class="formheader">Oximetry</h5>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Oxygen Saturation(%)</label>
                    </div>
                    <ng-container>
                        <input type="number" pInputText name="VitalSignsChartData.OxygenSaturation"
                            [(ngModel)]="VitalSignsChartData.OxygenSaturation" [required]="true"
                            [style]="{ width: '100%' }" />
                    </ng-container>
                </div>
                <h5 class="formheader">Temperature</h5>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Temperature(°C)</label>
                    </div>
                    <ng-container>
                        <input type="number" pInputText name="VitalSignsChartData.Temperature"
                            [(ngModel)]="VitalSignsChartData.Temperature" [required]="true"
                            [style]="{ width: '100%' }" />
                    </ng-container>
                </div>
                <div>
                    <div class="labelcontent">
                        <label class="form-label bold">Site of Measurement</label>
                    </div>
                    <ng-container>
                        <p-dropdown [required]="true" name="VitalSignsChartData.OxygenSiteOfMeasurementOption"
                            [(ngModel)]="VitalSignsChartData.OxygenSiteOfMeasurementOption" [options]="LstOxygenSiteOfMeasurement"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                </div>
                <h5 class="formheader">Urinalysis</h5>
            <div>
                <ng-container>
                    <textarea pInputTextarea name="VitalSignsChartData.Urinalysis" [(ngModel)]="VitalSignsChartData.Urinalysis"
                        [required]="true" [style]="{ width: '100%' }"></textarea>
                </ng-container>
            </div>
                
            </div>

            <h5 class="formheader">Additional information</h5>
            <div>
                <ng-container>
                    <textarea pInputTextarea name="VitalSignsChartData.AdditionalInfo" [(ngModel)]="VitalSignsChartData.AdditionalInfo"
                        [required]="true" [style]="{ width: '100%' }"></textarea>
                </ng-container>
            </div>
            <div class="d-flex justify-content-center mt-4" *ngIf="this.isEditable == true">
                <div class="mr-4">
                    <span class="p-ml-left ">
                        <button pButton title="New" label="Clear all" (click)="ClearAllfeilds()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left ">
                        <button pButton title="New" label="Save" (click)="Save()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-9 mt-3">
            <!-- Left navigation button -->




            <p-carousel [value]="VitalSignsChartLst" [numVisible]="pageSize" [numScroll]="pageSize" [circular]="false"
                [showIndicators]="false" [showNavigators]="false" [responsiveOptions]="responsiveOptions">
                <ng-template let-chart pTemplate="item">
                    <div class="col-md-11 chart-box p-2">
                        <div class="formheader p-2 mb-3">
                            <div class="col-md-12 mb-2 d-flex justify-content-between fs-4 ">
                                <div class="chart-date">
                                    <label class="bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.DateAndTime | date:'dd-MM-yyyy'}}</label>
                                </div>
                                <div class="chart-date">
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.DateAndTime | date:'hh:mm'}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-2">
                            <label class="form-label bold"
                                [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Enterted By<span
                                    class="required"></span></label>
                            <div>
                                <label
                                    [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{chart.StartedBy}}</label>
                            </div>
                        </div>
                        <div class="mb-2">
                            <button pButton *ngIf="!chart.isStrikeThrough" type="button" label="Strike Through Entry"
                                class="p-button-link p-0" (click)="showPopup(chart.VitalSignsChartId)">
                            </button>
                        </div>
                        <div class="mb-2">

                            <label *ngIf="chart.isStrikeThrough" class="form-label bold">Strike Through Reason<span
                                    class="required"></span></label>

                            <div>
                                <label *ngIf="chart.isStrikeThrough">{{chart.StrikeThroughRemark}}</label>
                            </div>
                        </div>
                        <div class=" mb-3">
                            <label class="form-label bold"
                                [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Care Given <span
                                    class="required"></span></label>
                            <div>
                                <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                    chart.CareGivenOptions }}</label>
                            </div>
                        </div>
                        <div *ngIf="chart.CareGivenOptions=='No'">
                            <div>
                                <div class="col-md-12">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Reason
                                        <span class="required"></span></label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.Reason }}</label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="chart.CareGivenOptions=='Yes'" class="row">
                            <h5 class="formheader" [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">
                                Blood Pressure</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Systolic</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.Systolic }} mm Hg</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Diastolic</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.Diastolic }} mm Hg</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Comment</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.Comment }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Resident Position</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.BPResidentPositionOptionName }}</label>
                                </div>
                            </div>
                            <h5 class="formheader" [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">
                                Pulse</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Pulse Rate</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.PulseRate }} Beats per minute</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Site of Measurement</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.PulseSiteOfMeasurementOptionName }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Rhythm</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.RhythmOptionName }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Amplitude or Volume</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.AmplitudeOrVolumeOptionName }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Resident Position</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.PulseResidentPositionOptionName }}</label>
                                </div>
                            </div>
                            <h5 class="formheader" [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">
                                Respiration</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Respiratory Rate</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.RespiratoryRate }} Breaths per minute</label>
                                </div>
                            </div>
                            <h5 class="formheader" [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">
                                Oximetry</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Oxygen Saturation</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.OxygenSaturation }}%</label>
                                </div>
                            </div>
                            <h5 class="formheader" [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">
                                Temperature</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Temperature</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.Temperature }} Degrees Celsius</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="labelcontent">
                                    <label class="form-label bold"
                                        [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">Site of Measurement</label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.OxygenSiteOfMeasurementOptionName }}</label>
                                </div>
                            </div>
                            <h5 class="formheader" [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">
                                Urinalysis</h5>
                            <div class="col-md-12">
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.Urinalysis }}</label>
                                </div>
                            </div>
                        </div>

                        <h5 class="formheader" [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">
                            Additional information</h5>
                        <div class="col-md-12">
                            <div>
                                <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                    chart.AdditionalInformation }}</label>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>

            <div *ngIf="isShowStrikeThroughPopup" class="card flex justify-content-center">
                <p-dialog [closable]="true" header="Strike-Through" [(visible)]="isShowStrikeThroughPopup"
                    [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '40vw' }"
                    [draggable]="false" [resizable]="false">
                    <div *ngIf="isShowStrikeThroughPopup">
                        <app-strike-through-entry [StrikeThroughData]="StrikeThroughData"
                            (StrikeThroughCheck)="Changes($event)"></app-strike-through-entry>
                    </div>
                </p-dialog>
            </div>
            <!-- Right navigation button -->

        </div>
    </div>
</div>