<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                        {{ preSelectedFormData.StartedBy }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> {{ preSelectedFormData.StartedByDesignation
                        }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{
                        preSelectedFormData.StartedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{ preSelectedFormData.ModifiedBy }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{ preSelectedFormData.ModifiedByDesignation
                        }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> {{
                        preSelectedFormData.ModifiedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <P>Start this chart is the person looks unwell or NEWS 2 is 5 or above - Identify Risk factors</P>
            </div>
        </div>
        <div class="col-md-7 mt-4">
            <ng-container *ngIf="isEditable; else RiskFactors">
                <p-dropdown name="RiskFactors" [(ngModel)]="
                        SepsisScreeningFormsData.riskFactors
                    " [options]="lstRiskFactors" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
                <P class="mb-4">Please choose that are applicable</P>
            </ng-container>
            <ng-template #RiskFactors>
                <label>{{
                    SepsisScreeningFormsData.riskFactorsName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation 
                    </b><br> Care domain : <b>My breathing and circulation  Support Plan </b> <br>
                    Sub domain : <b>My breathing and circulation  Plan </b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Could this be due to an infection?</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else InfectionCheck">
                <p-dropdown name="InfectionCheck" [(ngModel)]="
                        SepsisScreeningFormsData.infectionCheck
                    " [options]="lstInfectionCheck" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Choose all applicable, If answer is No infection present, it is unlikely to be sepsis
                    consider another diagnosis and continue to escalate and observe person</p>
            </ng-container>
            <ng-template #InfectionCheck>
                <label>{{
                    SepsisScreeningFormsData.infectionCheckName
                    }}</label>
            </ng-template>

        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>If infection present continue assessment - is there any of the following red flags present</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else RedFlagsCheck">
                <p-dropdown name="RedFlagsCheck" [(ngModel)]="
                        SepsisScreeningFormsData.redFlagsCheck
                    " [options]="lstRedFlagsCheck" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Choose all that are applicable - IF ANY OF THESE PRESENT - RED SEPSIS FLAG - ESCALATE to
                    allow for consideration in implementing Sepsis 6</p>
            </ng-container>
            <ng-template #RedFlagsCheck>
                <label>{{
                    SepsisScreeningFormsData.redFlagsCheckName
                    }}</label>
            </ng-template>

        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation 
                    </b><br> Care domain : <b>My breathing and circulation  Support Plan </b> <br>
                    Sub domain : <b>My breathing and circulation  Plan </b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>If there is no Red Flag consider the following Amber flags</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else AmberFlags">
                <p-dropdown name="AmberFlags" [(ngModel)]="
                        SepsisScreeningFormsData.amberFlags
                    " [options]="lstAmberFlags" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Choose all that are applicable - IF ANY OF THESE PRESENT ESCALATE AND CONTINUE TO
                    CONTINUE
                    NEWS2 COMPLETION (consider possible Bloods and commencement of Antibiotics)</p>
            </ng-container>
            <ng-template #AmberFlags>
                <label>{{
                    SepsisScreeningFormsData.amberFlagsName
                    }}</label>
            </ng-template>

        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Outcome of assessment</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else AssessmentOutcome">
                <p-dropdown name="AssessmentOutcome" [(ngModel)]="
                        SepsisScreeningFormsData.assessmentOutcome
                    " [options]="lstAssessmentOutcome" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #AssessmentOutcome>
                <label>{{
                    SepsisScreeningFormsData.assessmentOutcomeName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon  d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Agreed outcome 
                    </b><br> Care domain : <b>My breathing and circulation  Support Plan </b> <br>
                    Sub domain : <b>Infection Control Care Plan  </b>
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Save as Unfinished" (click)="saveAsUnfinished()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Complete" (click)="completeForm()" [disabled]="
                                SepsisScreeningFormsData.isFormCompleted
                            "></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button pButton title="Save as PDF" label="Save as PDF" (click)="SaveAsPDF()"></button>
            </ng-template>
        </div>
    </div>
</div>