<div class="card">
    <div class="row p-0">
        <div class="col-md-12 formheader d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Wound Chart</h4>
            <div>
                <button pButton type="button" icon="pi pi-chevron-left" class="mr-2" (click)="leftBtn()"
                    [disabled]="pageNumber==0"></button>
                <button pButton type="button" icon="pi pi-chevron-right" class="" (click)="rightBtn()"
                    [disabled]="rightBtnCheck"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="formheader d-flex justify-content-between align-items-center mt-3">
            <div class="m-0">
                <p><b>Location : {{BodyPartsName.join(", ")}}</b></p>
                <p><b>Status: {{lastRecordBodyStatus}}</b></p>
            </div>
            <div>
                <button pButton type="button" label="Show Body Wound" class="p-button-link p-0"
                    (click)="ShowBodyMapPopUp(isReadOnly=true,lastRecordData,lastRecordBodyStatus)"></button>
            </div>
        </div>


        <div class="col-md-3 mt-3 chart-box chart">
            <div class="formheader mb-2 mt-2 chart-heading">
                <p class="chart-date bold">New observation</p>
            </div>
            <div class="col-md-12">
                <label class="form-label bold">
                    Date/Time<span class="required"></span></label>

                <ng-container>
                    <p-calendar name="" [showIcon]="true" inputId="icon" class="iconcal" [readonlyInput]="true"
                        appendTo="body" [maxDate]="" #dobref="" [dateFormat]="customDateFormat.CalendarFormat"
                        [(ngModel)]="woundChartFormData.DateAndTime" [showTime]="true" hourFormat="24"></p-calendar>
                </ng-container>
            </div>
            <div class="col-md-12">
                <label class="form-label bold">Care Given<span class="required"></span></label>
                <ng-container>
                    <p-dropdown [required]="true" name="woundChartFormData.CareGiven" placeholder="----select----"
                        [style]="{ width: '100%' }" [options]="stLstYesNoOptions" optionValue="optionId"
                        optionLabel="optionValue" [(ngModel)]="woundChartFormData.CareGiven"
                        (onChange)="openAndClose()">
                    </p-dropdown>
                </ng-container>
            </div>
            <div *ngIf="inputFields==false">
                <label class="form-label bold">Reason<span class="required"></span></label>

                <ng-container>
                    <p-dropdown [required]="true" name="painChartFormData.Reason" placeholder="----select----"
                        [style]="{ width: '100%' }" [options]="stLstReason" optionValue="optionId"
                        optionLabel="optionValue" [(ngModel)]="woundChartFormData.Reason" (onChange)="openAndClose()">
                    </p-dropdown>
                </ng-container>
            </div>

            <div *ngIf="inputFields" class="">
                <h5 class="formheader bold">
                    Assessment
                </h5>
                <div class="col-md-12">
                    <label class="form-label bold">Where was the wound acquired?
                        <span class="required"></span></label>
                        <div>
                            <label class="form-label">Acquired in facility</label>
                        </div>
                    <div>
                        <label class="form-label bold">Observation Type
                            <span class="required"></span></label>
                    </div>
                    <ng-container>
                        <p-dropdown [required]="true" name="woundChartFormData.observationType"
                            placeholder="----select----" [style]="{ width: '100%' }" [options]="lstObservationType"
                            optionValue="optionId" optionLabel="optionName"
                            [(ngModel)]="woundChartFormData.observationType">
                        </p-dropdown>
                    </ng-container>
                </div>

                <div
                    *ngIf="woundChartFormData.observationType=='66b3110bcc66edab68d87f0a'||woundChartFormData.observationType=='66b3110bcc66edab68d87f0c'||woundChartFormData.observationType=='66b3110bcc66edab68d87f0d'">
                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Wound Photo
                            <span class="required"></span></label>
                        <ng-container>
                            <p-fileUpload name="file[]" [showUploadButton]="false" accept="image/*" [multiple]="false"
                                [maxFileSize]="1000000" (onSelect)="woundImageUploader($event)"
                                (onClear)="woundImageReset();" (onRemove)="RemoveWoundImage();"></p-fileUpload>
                        </ng-container>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Depth (mm)
                            <span class="required"></span></label>
                        <div>
                            <input type="number" name="woundChartFormData.depth" pInputText
                                [(ngModel)]="woundChartFormData.depth" [style]="{ width: '100%' }" placeholder="mm" />
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Width (mm)
                            <span class="required"></span></label>
                        <div>
                            <input type="number" name="woundChartFormData.width" pInputText
                                [(ngModel)]="woundChartFormData.width" [style]="{ width: '100%' }" placeholder="mm" />
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Length (mm)
                            <span class="required"></span></label>
                        <div>
                            <input type="number" name="woundChartFormData.length" pInputText
                                [(ngModel)]="woundChartFormData.Length" [style]="{ width: '100%' }" placeholder="mm" />
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Repair stage</label>
                        <ng-container>
                            <p-selectButton [options]="repairStageOptions" [(ngModel)]="woundChartFormData.repairStage"
                                optionLabel="label" optionValue="value"></p-selectButton>
                        </ng-container>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div>
                            <label class="form-label bold">Wound colour
                                <span class="required"></span></label>
                        </div>
                        <ng-container>
                            <p-dropdown [required]="true" name="woundChartFormData.woundColour"
                                placeholder="----select----" [style]="{ width: '100%' }" [options]="lstWoundColour"
                                optionValue="optionId" optionLabel="optionName"
                                [(ngModel)]="woundChartFormData.woundColour">
                            </p-dropdown>
                        </ng-container>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Odour</label>
                        <ng-container>
                            <p-selectButton [options]="odureOptions" [(ngModel)]="woundChartFormData.odure"
                                optionLabel="label" optionValue="value"></p-selectButton>
                        </ng-container>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div>
                            <label class="form-label bold">Exudate Type
                                <span class="required"></span></label>
                        </div>
                        <ng-container>
                            <p-dropdown [required]="true" name="woundChartFormData.exudateType"
                                placeholder="----select----" [style]="{ width: '100%' }" [options]="lstExudateType"
                                optionValue="optionId" optionLabel="optionName"
                                [(ngModel)]="woundChartFormData.exudateType">
                            </p-dropdown>
                        </ng-container>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div>
                            <label class="form-label bold">Exudate Amount
                                <span class="required"></span></label>
                        </div>
                        <ng-container>
                            <p-dropdown [required]="true" name="woundChartFormData.exudateAmount"
                                placeholder="----select----" [style]="{ width: '100%' }" [options]="lstExudateAmount"
                                optionValue="optionId" optionLabel="optionName"
                                [(ngModel)]="woundChartFormData.exudateAmount">
                            </p-dropdown>
                        </ng-container>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div>
                            <label class="form-label bold">Wound edge appearance
                                <span class="required"></span></label>
                        </div>
                        <ng-container>
                            <p-dropdown [required]="true" name="woundChartFormData.edgeAppearance"
                                placeholder="----select----" [style]="{ width: '100%' }" [options]="lstEdgeAppearance"
                                optionValue="optionId" optionLabel="optionName"
                                [(ngModel)]="woundChartFormData.edgeAppearance">
                            </p-dropdown>
                        </ng-container>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div>
                            <label class="form-label bold">Surrounding edges
                                <span class="required"></span></label>
                        </div>
                        <ng-container>
                            <p-dropdown [required]="true" name="woundChartFormData.surroundingEdges"
                                placeholder="----select----" [style]="{ width: '100%' }" [options]="lstSurroundingEdges"
                                optionValue="optionId" optionLabel="optionName"
                                [(ngModel)]="woundChartFormData.surroundingEdges">
                            </p-dropdown>
                        </ng-container>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div>
                            <label class="form-label bold">Factors affecting healing
                                <span class="required"></span></label>
                        </div>
                        <ng-container>
                            <p-multiSelect [options]="lstFectorAffectingHealing"
                                [(ngModel)]="woundChartFormData.fectorAffectingHealing" optionLabel="name"
                                placeholder="----select----" name="woundChartFormData.fectorAffectingHealing"
                                optionLabel="optionName" optionValue="optionId"
                                [style]="{width:'100%'}"></p-multiSelect>
                        </ng-container>
                    </div>

                </div>

                <div *ngIf="woundChartFormData.observationType=='66b3110bcc66edab68d87f0b'">
                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Dressing Change Required</label>
                        <ng-container>
                            <p-selectButton [options]="dressingChangeRequiredOptions"
                                [(ngModel)]="woundChartFormData.dressingChangeRequired" optionLabel="label"
                                optionValue="value"></p-selectButton>
                        </ng-container>
                    </div>
                </div>

                <h5 class="formheader bold">
                    Treatment
                </h5>
                <div
                    *ngIf="woundChartFormData.observationType=='66b3110bcc66edab68d87f0a'||woundChartFormData.observationType=='66b3110bcc66edab68d87f0c'||woundChartFormData.observationType=='66b3110bcc66edab68d87f0d'">

                    <div
                        *ngIf="woundChartFormData.observationType=='66b3110bcc66edab68d87f0a'||woundChartFormData.observationType=='66b3110bcc66edab68d87f0d'">
                        <div class="col-md-12 mb-3">
                            <label class="form-label bold">Dressing required?</label>
                            <ng-container>
                                <p-selectButton [options]="dressingOptions"
                                    [(ngModel)]="woundChartFormData.dressingRequired" optionLabel="label"
                                    optionValue="value"></p-selectButton>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Primary dressing Type
                            <span class="required"></span></label>
                        <div>
                            <input type="text" name="woundChartFormData.primaryDressingType" pInputText
                                [(ngModel)]="woundChartFormData.primaryDressingType" [style]="{ width: '100%' }" />
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Product Photo
                            <span class="required"></span></label>
                        <ng-container>
                            <p-fileUpload name="file[]" [showUploadButton]="false" accept="image/*" [multiple]="false"
                                [maxFileSize]="1000000" (onSelect)="productImageUploader($event)"
                                (onClear)="productImageReset();" (onRemove)="RemoveProductImage();"></p-fileUpload>
                        </ng-container>
                    </div>


                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Secondary Dressing
                            <span class="required"></span></label>
                        <div>
                            <input type="text" name="woundChartFormData.secondaryDressing" pInputText
                                [(ngModel)]="woundChartFormData.secondaryDressing" [style]="{ width: '100%' }" />
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Tape/fixation
                            <span class="required"></span></label>
                        <div>
                            <input type="text" name="woundChartFormData.tape" pInputText
                                [(ngModel)]="woundChartFormData.tape" [style]="{ width: '100%' }" />
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Frequency of dressing change
                            <span class="required"></span></label>
                        <div>
                            <input type="text" name="woundChartFormData.frequencyOfDressingChange" pInputText
                                [(ngModel)]="woundChartFormData.frequencyOfDressingChange"
                                [style]="{ width: '100%' }" />
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Frequency of dressing check
                            <span class="required"></span></label>
                        <div>
                            <input type="text" name="woundChartFormData.frequencyOfDressingCheck" pInputText
                                [(ngModel)]="woundChartFormData.frequencyOfDressingCheck" [style]="{ width: '100%' }" />
                        </div>
                    </div>
                </div>

                <div *ngIf="woundChartFormData.observationType=='66b3110bcc66edab68d87f0b'">
                    <div class="col-md-12 mb-3">
                        <label class="form-label bold">Next Review Date</label>
                        <ng-container>
                            <p-calendar name="" [showIcon]="true" inputId="icon" class="iconcal" [readonlyInput]="true"
                                appendTo="body" [maxDate]="" #dobref="" [dateFormat]="customDateFormat.CalendarFormat"
                                [(ngModel)]="woundChartFormData.nextReviewDate" [showTime]="false"
                                hourFormat="24"></p-calendar>
                        </ng-container>
                    </div>
                </div>
            </div>

            <h5 class="formheader">Additional information</h5>
            <div class="col-md-12 mb-3">
                <label class="form-label"><span class="required"></span></label>
                <ng-container>
                    <input type="text" pInputText name="woundChartFormData.AdditionalInformation" [required]="true"
                        [style]="{ width: '100%' }" [(ngModel)]="woundChartFormData.AdditionalInformation" />
                </ng-container>

            </div>

            <div class="col-md-12 mb-3">
                <div class="formheader">
                    <label class="form-label bold"><span class="required"></span>Body Wound Locations</label>
                </div>
                <div class="">
                    <button pButton type="button" label="Add Body Wound" class="p-button-link p-0"
                        (click)="ShowBodyMapPopUp(false,lastRecordData,lastRecordBodyStatus)"></button>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3 mb-3">
                <div class="mr-4 ">
                    <span class="p-ml-left">
                        <button pButton title="Clear all" label="Clear all" (click)="ClearAllfeilds()"></button>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left">
                        <button pButton title="save" label="Save" (click)="Save()"></button>
                    </span>
                </div>
            </div>
        </div>



        <div class="col-md-9 mt-3">
            <!-- Left navigation button -->

            <p-carousel [value]="woundChartsLst" [numVisible]="pageSize" [numScroll]="pageSize" [circular]="false"
                [showIndicators]="false" [showNavigators]="false" [responsiveOptions]="responsiveOptions">
                <ng-template let-chart pTemplate="item">
                    <div class="col-md-11 chart-box p-2">
                        <div class="formheader">
                            <div class="col-md-12 d-flex justify-content-between fs-4">
                                <div class="chart-date bold">
                                    <label>{{
                                        chart.DateAndTime |
                                        date:'dd-MM-yyyy' }}</label>
                                </div>
                                <div class="chart-date">
                                    <label>{{
                                        chart.DateAndTime |
                                        date:'HH:mm' }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-2 mt-2">

                            <label class="form-label bold">Entered By<span class="required"></span></label>

                            <div>
                                <label
                                    [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{chart.StartedBy}}</label>
                            </div>
                        </div>
                        <div>
                            <div class="mb-2">
                                <button *ngIf="!chart.isStrikeThrough" pButton type="button" label="Strike Out Entry"
                                    class="p-button-link p-0" (click)="showPopup(chart.woundChartId)">
                                </button>
                            </div>
                        </div>

                        <div class="col-md-12 mb-2">

                            <label *ngIf="chart.isStrikeThrough" class="form-label bold">Strike Out Reason<span
                                    class="required"></span></label>

                            <div>
                                <label *ngIf="chart.isStrikeThrough">{{chart.StrikeThroughRemark}}</label>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <label class="form-label bold">Care Given
                                <span class="required"></span></label>

                            <div>
                                <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                    chart.CareGiven }}</label>
                            </div>
                        </div>
                        <div *ngIf="chart.CareGiven=='No'">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="form-label bold">Reason
                                        <span class="required"></span></label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.Reason}}</label>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="chart.CareGiven=='Yes'" class="">
                            <h5 class="formheader bold">
                                Assessment
                            </h5>
                            <div class="col-md-12">
                                <label class="form-label bold">Where was the wound acquired?
                                    <span class="required"></span></label>
                                <label class="form-label">Acquired in facility</label>
                                <div>
                                    <label class="form-label bold">Observation Type
                                        <span class="required"></span></label>
                                </div>
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                        chart.observationTypeOptionName
                                        }}</label>
                                </div>
                            </div>

                            <div
                                *ngIf="chart.observationType=='66b3110bcc66edab68d87f0a'||chart.observationType=='66b3110bcc66edab68d87f0c'||chart.observationType=='66b3110bcc66edab68d87f0d'">
                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label class="form-label bold">Wound Photo
                                            <span class="required"></span></label>
                                    </div>
                                    <div class=""
                                        *ngIf="chart.woundImage!=null && chart.woundImage!=undefined && chart.woundImage!=''">
                                        <img [src]="chart.woundImage" class="w-6 shadow-2 my-1 mx-0">
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Depth (mm)
                                        <span class="required"></span></label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.depth
                                            }}</label>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Width (mm)
                                        <span class="required"></span></label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.width
                                            }}</label>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Length (mm)
                                        <span class="required"></span></label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.Length
                                            }}</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Repair stage</label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.repairStage
                                            }}</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label class="form-label bold">Wound colour
                                            <span class="required"></span></label>
                                    </div>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.woundColourOptionName
                                            }}</label>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Odour</label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.odure
                                            }}</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label class="form-label bold">Exudate Type
                                            <span class="required"></span></label>
                                    </div>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.exudateTypeOptionName
                                            }}</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label class="form-label bold">Exudate Amount
                                            <span class="required"></span></label>
                                    </div>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.exudateAmountOptionName
                                            }}</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label class="form-label bold">Wound edge appearance
                                            <span class="required"></span></label>
                                    </div>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.edgeAppearanceOptionName
                                            }}</label>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label class="form-label bold">Surrounding edges
                                            <span class="required"></span></label>
                                    </div>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.surroundingEdgesOptionName
                                            }}</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label class="form-label bold">Factors affecting healing
                                            <span class="required"></span></label>
                                    </div>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.fectorAffectingHealingOptionsName
                                            }}</label>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="chart.observationType=='66b3110bcc66edab68d87f0b'">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Dressing Change Required</label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.dressingChangeRequired
                                            }}</label>
                                    </div>
                                </div>
                            </div>

                            <h5 class="formheader bold">
                                Treatment
                            </h5>
                            <div
                                *ngIf="chart.observationType=='66b3110bcc66edab68d87f0a'||chart.observationType=='66b3110bcc66edab68d87f0c'||woundChartFormData.observationType=='66b3110bcc66edab68d87f0d'">

                                <div
                                    *ngIf="chart.observationType=='66b3110bcc66edab68d87f0a'||chart.observationType=='66b3110bcc66edab68d87f0d'">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label bold">Dressing required?</label>
                                        <div>
                                            <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                                chart.dressingRequired
                                                }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Primary dressing Type
                                        <span class="required"></span></label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.primaryDressingType
                                            }}</label>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div>
                                        <label class="form-label bold">Product Photo
                                            <span class="required"></span></label>
                                    </div>
                                    <div class=""
                                        *ngIf="chart.productImage!=null && chart.productImage!=undefined && chart.productImage!=''">
                                        <img [src]="chart.productImage" class="w-6 shadow-2 my-1 mx-0">
                                    </div>
                                </div>


                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Secondary Dressing
                                        <span class="required"></span></label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.secondaryDressing
                                            }}</label>
                                    </div>
                                </div>


                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Tape/fixation
                                        <span class="required"></span></label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.tape
                                            }}</label>
                                    </div>
                                </div>


                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Frequency of dressing change
                                        <span class="required"></span></label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.frequencyOfDressingChange
                                            }}</label>
                                    </div>
                                </div>


                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Frequency of dressing check
                                        <span class="required"></span></label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.frequencyOfDressingCheck
                                            }}</label>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="chart.observationType=='66b3110bcc66edab68d87f0b'">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label bold">Next Review Date</label>
                                    <div>
                                        <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{
                                            chart.nextReviewDate
                                            }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5 class="formheader">
                            Additional information
                        </h5>
                        <div class="col-md-12">
                            <label class="form-label"><span class="required"></span></label>
                            <div>
                                <label
                                    [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">{{chart.AdditionalInformation}}</label>
                            </div>
                        </div>


                        <h5 class="formheader">
                            Body-Wound Locations</h5>
                        <div class="col-md-12">
                            <div *ngIf="chart.selectedBodyParts">
                                <div>
                                    <label [ngClass]="{'text-decoration-line-through':chart.isStrikeThrough}">
                                        {{extractBodyPainLocations(chart.selectedBodyParts)}} </label>
                                </div>

                                <div class="">
                                    <button pButton type="button" label="Show on Body Map" class="p-button-link p-0"
                                        (click)="ShowBodyMapPopUp(isReadOnly=true,chart.selectedBodyParts,chart.BodyMapStatus)"></button>
                                </div>
                            </div>
                            <div *ngIf="chart.selectedBodyParts == null">
                                <div>
                                    <label> Not
                                        Applicable </label>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </ng-template>

            </p-carousel>
            <div *ngIf="isShowStrikeThroughPopup" class="card flex justify-content-center">
                <p-dialog [closable]="true" header="Strike-Out" [(visible)]="isShowStrikeThroughPopup" [modal]="true"
                    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '40vw' }"
                    [draggable]="false" [resizable]="false">
                    <div *ngIf="isShowStrikeThroughPopup">

                        <app-strike-through-entry [StrikeThroughData]="StrikeThroughData"
                            (StrikeThroughCheck)="Changes($event)"></app-strike-through-entry>
                    </div>
                </p-dialog>
            </div>

            <!-- Right navigation button -->

        </div>

        <!-- Body Map Dailogue -->

        <div class="card flex justify-content-center">
            <p-dialog header="Add Body Pain" [modal]="true" [(visible)]="isShowBodyMap"
                [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                <div *ngIf="isShowBodyMap">
                    <app-body-mapping (bodyData)="onSelectedBodyParts($event)" [preSelectedBodyMapData]="bodyMapData"
                        [isReadOnly]="isReadOnly"></app-body-mapping>
                </div>
            </p-dialog>
        </div>
    </div>