.left-nav-btn {
    position: absolute;
    left:89%;
    top: 4%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .right-nav-btn {
    position: absolute;
    right:15px;
    top: 4%;
    transform: translateY(-50%);
    z-index: 1000;
  }