<div class="card">
    <div class="row mt-2 p-0">
        <div class="col-md-12 formheader">
            <h2>ADL Chart</h2>
        </div>
        <div class="col-md-3 mt-3 chart-box">
            <div class="formheader mt-2">
                <h4>New observation</h4>
            </div>
            <div class="col-md-12 mt-4">
                <label class="form-label bold">
                    Date/Time<span class="required"></span></label>

                <ng-container *ngIf="this.isEditable; else DateAndTimeData">
                    <p-calendar name="" [showIcon]="true" inputId="icon" class="iconcal" [readonlyInput]="true"
                        appendTo="body" [maxDate]="" #dobref="" [dateFormat]="customDateFormat.CalendarFormat"
                        [(ngModel)]="ADLChartData.DateAndTime" [showTime]="true" hourFormat="24"></p-calendar>
                </ng-container>
                <ng-template #DateAndTimeData>
                    <label>{{ ADLChartData.DateAndTime }}</label>
                </ng-template>
            </div>
            <div class="col-md-12">
                <label class="form-label bold">Care Given <span class="required"></span></label>

                <ng-container *ngIf="this.isEditable; else CareGivenData">
                    <p-dropdown [required]="true" name="ActivitiesChartFormData.CareGiven" placeholder="----select----"
                        [style]="{ width: '100%' }" [options]="stLstYesNoOptions" optionValue="optionId"
                        optionLabel="optionValue" [(ngModel)]="ADLChartData.CareGivenOptions"
                        (onChange)="openAndClose()">
                    </p-dropdown>
                </ng-container>
                <ng-template #CareGivenData>
                    <label>{{ ADLChartData.CareGiven }}</label>
                </ng-template>
            </div>
            <div *ngIf="inputFieldsCheck" class="row">
                <h5 class="formheader">Mobility</h5>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">What was the transfer method?</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else TransferMethodOptions">
                        <p-dropdown [required]="true" name="TransferMethod"
                            [(ngModel)]="ADLChartData.TransferMethodOptions" [options]="LstTransferMethod"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #TransferMethodOptions>
                        <label>{{ADLChartData.TransferMethodOptionsName}}</label>
                    </ng-template>
                </div>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">Assistance level </label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else MobilityAssistanceLevelOptions">
                        <p-dropdown [required]="true" name="MobilityAssistanceLevelOptions"
                            [(ngModel)]="ADLChartData.MobilityAssistanceLevelOptions" [options]="LstAssistanceLevel"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #MobilityAssistanceLevelOptions>
                        <label>{{ADLChartData.MobilityAssistanceLevelOptionsName}}</label>
                    </ng-template>
                </div>
                <div class="col-md-12 mb-2">
                    <div class="labelcontent">
                        <label class="form-label bold">How many people assisted?</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else MobilityPeopleAssisted">
                        <input type="number" pInputText name="ActivitiesChartFormData"
                            [(ngModel)]="ADLChartData.MobilityPeopleAssisted" [required]="true"
                            [style]="{ width: '100%' }" />
                    </ng-container>
                    <ng-template #MobilityPeopleAssisted>
                        <label>{{ADLChartData.MobilityPeopleAssisted}}</label>
                    </ng-template>
                </div>
                <h5 class="formheader">Hygiene</h5>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">What assistance was required?</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else HygieneAssistanceRequiredOptions">
                        <p-dropdown [required]="true" name="HygieneAssistanceRequiredOptions"
                            [(ngModel)]="ADLChartData.HygieneAssistanceRequiredOptions"
                            [options]="LstHygieneAssistanceRequired" optionLabel="optionName" optionValue="optionId"
                            placeholder="--select--" [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #HygieneAssistanceRequiredOptions>
                        <label>{{ADLChartData.HygieneAssistanceRequiredOptionsName}}</label>
                    </ng-template>
                </div>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">How many people assisted?</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else HygienePeopleAssisted">
                        <input type="number" pInputText name="ActivitiesChartFormData"
                            [(ngModel)]="ADLChartData.HygienePeopleAssisted" [required]="true"
                            [style]="{ width: '100%' }" />
                    </ng-container>
                    <ng-template #HygienePeopleAssisted>
                        <label>{{ADLChartData.HygienePeopleAssisted}}</label>
                    </ng-template>
                </div>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">Assistance level</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else HygieneAssistanceLevelOptions">
                        <p-dropdown [required]="true" name="HygieneAssistanceLevelOptions"
                            [(ngModel)]="ADLChartData.HygieneAssistanceLevelOptions" [options]="LstAssistanceLevel"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #HygieneAssistanceLevelOptions>
                        <label>{{ADLChartData.HygieneAssistanceLevelOptionsName}}</label>
                    </ng-template>
                </div>
                <h5 class="formheader">Skin Integrity</h5>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">Status of skin - skin inspection comments</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else SkinStatus">
                        <textarea type="text" pInputTextarea name="ActivitiesChartFormData"
                            [(ngModel)]="ADLChartData.SkinStatus" [required]="true"
                            [style]="{ width: '100%' }"></textarea>
                    </ng-container>
                    <ng-template #SkinStatus>
                        <label>{{ADLChartData.SkinStatus}}</label>
                    </ng-template>
                </div>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">Repositional changes</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else RepositionalChangesOptions">
                        <p-dropdown [required]="true" name="RepositionalChangesOptions"
                            [(ngModel)]="ADLChartData.RepositionalChangesOptions" [options]="LstRepositionalChanges"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #RepositionalChangesOptions>
                        <label>{{ADLChartData.RepositionalChangesOptionsName}}</label>
                    </ng-template>
                </div>
                <h5 class="formheader">Dressing and Grooming</h5>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">What assistance was required?</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else DressingAssistanceRequiredOptions">
                        <p-dropdown [required]="true" name="DressingAssistanceRequiredOptions"
                            [(ngModel)]="ADLChartData.DressingAssistanceRequiredOptions"
                            [options]="LstDressingAssistanceRequired" optionLabel="optionName" optionValue="optionId"
                            placeholder="--select--" [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #DressingAssistanceRequiredOptions>
                        <label>{{ADLChartData.DressingAssistanceRequiredOptionsName}}</label>
                    </ng-template>
                </div>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">Assistance level</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else DressingAssistanceLevelOptions">
                        <p-dropdown [required]="true" name="DressingAssistanceLevelOptions"
                            [(ngModel)]="ADLChartData.DressingAssistanceLevelOptions" [options]="LstAssistanceLevel"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #DressingAssistanceLevelOptions>
                        <label>{{ADLChartData.DressingAssistanceLevelOptionsName}}</label>
                    </ng-template>
                </div>
                <h5 class="formheader">Toileting</h5>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">What assistance was required?</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else ToiletingAssistanceRequiredOptions">
                        <p-dropdown [required]="true" name="ToiletingAssistanceRequiredOptions"
                            [(ngModel)]="ADLChartData.ToiletingAssistanceRequiredOptions"
                            [options]="LstToiletingAssistanceRequired" optionLabel="optionName" optionValue="optionId"
                            placeholder="--select--" [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #ToiletingAssistanceRequiredOptions>
                        <label>{{ADLChartData.ToiletingAssistanceRequiredOptionsName}}</label>
                    </ng-template>
                </div>
                <div class="col-md-12">
                    <div class="labelcontent">
                        <label class="form-label bold">Assistance level</label>
                    </div>
                    <ng-container *ngIf="this.isEditable; else ToiletingAssistanceLevelOptions">
                        <p-dropdown [required]="true" name="ToiletingAssistanceLevelOptions"
                            [(ngModel)]="ADLChartData.ToiletingAssistanceLevelOptions" [options]="LstAssistanceLevel"
                            optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                            [style]="{ width: '100%' }">
                        </p-dropdown>
                    </ng-container>
                    <ng-template #ToiletingAssistanceLevelOptions>
                        <label>{{ADLChartData.ToiletingAssistanceLevelOptionsName}}</label>
                    </ng-template>
                </div>
            </div>

            <h5 class="formheader">Additional information</h5>
            <div class="col-md-12">
                <ng-container *ngIf="this.isEditable; else AdditionalInfo">
                    <textarea pInputTextarea name="AdditionalInfo" [(ngModel)]="ADLChartData.AdditionalInfo"
                        [required]="true" [style]="{ width: '100%' }"></textarea>
                </ng-container>
                <ng-template #AdditionalInfo>
                    <label>{{ADLChartData.AdditionalInfo}}</label>
                </ng-template>
            </div>
            <div class="d-flex justify-content-end mt-4" *ngIf="this.isEditable == true">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Clear all feild" (click)="ClearAllfeilds()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Save" (click)="Save()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-9 mt-3">
            <!-- Left navigation button -->
            <button pButton type="button" icon="pi pi-chevron-left" class="left-nav-btn" (click)="leftBtn()"
                [disabled]="pageNumber==0"></button>
            <p-carousel [value]="ADLChartsLst" [numVisible]="pageSize" [numScroll]="pageSize" [circular]="false"
                [showIndicators]="false" [showNavigators]="false" [responsiveOptions]="responsiveOptions">
                <ng-template let-chart pTemplate="item">
                    <div class="col-md-11 chart-box p-2">
                        <div class="formheader p-2 mb-3">
                            <div class="col-md-12 mb-2 d-flex justify-content-between fs-4 ">
                                <div>
                                    <label class="bold">{{ chart.DateAndTime | date:'dd-MM-yyyy'}}</label>
                                </div>
                                <div>
                                    <label>{{ chart.DateAndTime | date:'hh:mm'}}</label>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 mb-2">

                            <label class="form-label bold">Enterted By<span class="required"></span></label>

                            <div>
                                <label>{{chart.StartedBy}}</label>
                            </div>
                        </div>
                        <div class="mb-2">
                            <button pButton type="button" label="Strike Through Entry" class="p-button-link p-0"
                                (click)="showPopup()">
                            </button>
                        </div>
                        <div class="col-md-12 mb-3">

                            <label class="form-label bold">Care Given <span class="required"></span></label>

                            <div>
                                <label>{{ chart.CareGivenOptions }}</label>
                            </div>

                        </div>

                        <div *ngIf="chart.CareGivenOptions=='Yes'" class="row">
                            <h5 class="formheader">Mobility</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">What was the transfer method?</label>
                                </div>
                                <div>
                                    <label>{{ chart.TransferMethodOptionName }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">Assistance level </label>
                                </div>
                                <div>
                                    <label>{{ chart.MobilityAssistanceLevelOptionName }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">How many people assisted?</label>
                                </div>
                                <div>
                                    <label>{{ chart.MobilityPeopleAssisted }}</label>
                                </div>
                            </div>
                            <h5 class="formheader">Hygiene</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">What assistance was required?</label>
                                </div>
                                <div>
                                    <label>{{ chart.HygieneAssistanceRequiredOptionName }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">How many people assisted?</label>
                                </div>
                                <div>
                                    <label>{{ chart.HygienePeopleAssisted }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="labelcontent">
                                    <label class="form-label bold">Assistance level</label>
                                </div>
                                <div>
                                    <label>{{ chart.DressingAssistanceLevelOptionName }}</label>
                                </div>
                            </div>
                            <h5 class="formheader">Skin Integrity</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">Status of skin - skin inspection comments</label>
                                </div>
                                <div>
                                    <label>{{ chart.SkinStatus }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">Repositional changes</label>
                                </div>
                                <div>
                                    <label>{{ chart.RepositionalChangesOptionName }}</label>
                                </div>
                            </div>
                            <h5 class="formheader">Dressing and Grooming</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">What assistance was required?</label>
                                </div>
                                <div>
                                    <label>{{ chart.DressingAssistanceRequiredOptionName }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">Assistance level</label>
                                </div>
                                <div>
                                    <label>{{ chart.DressingAssistanceLevelOptionName }}</label>
                                </div>
                            </div>
                            <h5 class="formheader">Toileting</h5>
                            <div class="col-md-12 mb-5">
                                <div class="labelcontent">
                                    <label class="form-label bold">What assistance was required?</label>
                                </div>
                                <div>
                                    <label>{{ chart.ToiletingAssistanceRequiredOptionName }}</label>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="labelcontent">
                                    <label class="form-label bold">Assistance level</label>
                                </div>
                                <div>
                                    <label>{{ chart.ToiletingAssistanceLevelOptionName }}</label>
                                </div>
                            </div>
                        </div>

                        <h5 class="formheader">Additional information</h5>
                        <div class="col-md-12">
                            <div>
                                <label>{{ chart.AdditionalInformation }}</label>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </p-carousel>
            <!-- Right navigation button -->

            <button pButton type="button" icon="pi pi-chevron-right" class="right-nav-btn" (click)="rightBtn()"
                [disabled]="rightBtnCheck"></button>
        </div>
    </div>