<div class="p-fluid">

   <div class="row">
      <div class="col-md-9">
         <div class="row">
            <div class="col-md-12">
               <div class="doc-dash">
                  <div class="row">
                     <div class="col-md-3">
                        <div class="top-box">
                           <div class="top-box-img">
                              <img src="../../../../../assets/Images/icon-1.svg" width="25px">
                           </div>
                           <div class="top-box-cont">
                              <h2>Total Residents</h2>
                              <h3>200</h3>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="top-box">
                           <div class="top-box-img">
                              <img src="../../../../../assets/Images/icon-4.svg" width="25px">
                           </div>
                           <div class="top-box-cont">
                              <h2>Critical Residents</h2>
                              <h3>50</h3>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="top-box">
                           <div class="top-box-img">
                              <img src="../../../../../assets/Images/icon-2.svg" width="25px">
                           </div>
                           <div class="top-box-cont">
                              <h2>Available Staff</h2>
                              <h3>70</h3>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="top-box">
                           <div class="top-box-img">
                              <img src="../../../../../assets/Images/icon-3.svg" width="25px">
                           </div>
                           <div class="top-box-cont">
                              <h2>Revenue (monthly)</h2>
                              <h3>£8m</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row mt-3">
            <div class="col-md-3">
               <div class="health-box">
                  <div class="health-box-top">

                     <div class="top-box-img bg-change">
                        <img src="../../../../../assets/Images/icon-5.svg" width="25px">
                     </div>
                     <h1>ADL Denial</h1>
                  </div>
                  <h2>5</h2>
                  <h4>Today's</h4>
               </div>
            </div>
            <div class="col-md-3">
               <div class="health-box bg2">
                  <div class="health-box-top">

                     <div class="top-box-img bg-change">
                        <img src="../../../../../assets/Images/icon-6.svg" width="25px">
                     </div>
                     <h1>Bad Mood Count</h1>
                  </div>
                  <h2>2</h2>
                  <h4>Last 7 days</h4>
               </div>
            </div>
            <div class="col-md-3">
               <div class="health-box bg3">
                  <div class="health-box-top">

                     <div class="top-box-img bg-change">
                        <img src="../../../../../assets/Images/icon-8.svg" width="25px">
                     </div>
                     <h1>Weight loss>5%</h1>
                  </div>
                  <h2>4</h2>
                  <h4>Last 30 days</h4>
               </div>
            </div>
            <div class="col-md-3">
               <div class="health-box bg4">
                  <div class="health-box-top">

                     <div class="top-box-img bg-change">
                        <img src="../../../../../assets/Images/icon-7.svg" width="25px">
                     </div>
                     <h1>Resident in pain</h1>
                  </div>
                  <h2>1</h2>
                  <h4>Last 24 hours</h4>
               </div>
            </div>
         </div>


         <div class="doc-dash mt-3">
            <div class="row">
               <div class="col-md-7">



                  <h5>Revenue Summary</h5>
                  <p-chart type="bar" [data]="barData" [options]="barOptions" height="200px"></p-chart>
               </div>

               <div class="col-md-5">
                  <div class="row m-0 mt-5 pt-5">
                     <div class="col-md-6 col-6">
                        <div class="card revenu">
                           <div class="top-box-img">
                              <img src="../../../../../assets/Images/month.svg" width="25px">
                           </div>
                           <h2><small>This Month</small><br>£8m</h2>
                           <p><i class="fas fa-plus"></i>20.1% <i class="fa-solid fa-arrow-trend-up"></i></p>
                        </div>
                     </div>
                     <div class="col-md-6 col-6">
                        <div class="card revenu">

                           <div class="top-box-img">
                              <img src="../../../../../assets/Images/year.svg" width="25px">
                           </div>
                           <h2><small>This Year</small><br>£120m</h2>
                           <p><i class="fas fa-plus"></i>10.1% <i class="fa-solid fa-arrow-trend-up"></i></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <div class="col-md-3 p-0">
         <div class="card recent mb-3 ">
            <h2>Recent Activity<a class="acti-add" (click)="AddActivity();"><i class="fas fa-plus"></i></a></h2>
            <hr class="m-0 my-2">
            <div class="box-hgt">
               <div *ngFor="let item of lstActivity">
                  <div class="recent-box">
                     <div class="col-3 p-0">
                        <p class="date-box">{{item.ActivityTime | date: 'dd MMM'}}</p>
                     </div>
                     <div class="col-9 p-0">
                        <p>{{item.ActivityName}}<br><small>
                              <i class="fas fa-clock"></i> {{item.ActivityDescription}}
                           </small></p>
                     </div>
                  </div>
                  <hr class="m-0">
               </div>
            </div>
         </div>
         <div class="card recent task">
            <h2>Upcoming task</h2>
            <hr class="m-0 my-2">
            <div class="box-hgt">
               <div *ngFor="let item of lstTaskPlanner">
                  <p>{{item.TaskName}}<br><small>
                        <i class="fas fa-clock"></i> {{item.StartTime | date: 'dd MMM yy HH:mm a'}}
                     </small><br>
                     <span>Assign to - <b> {{item.AssignedToName}}</b></span>
                  </p>
                  <hr class="m-0">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<p-dialog header="Activity" [(visible)]="showActivityModel" [modal]="true" [style]="{width: '70vw'}"
   [maximizable]="true" (onHide)="onHideActivity()">
   <div *ngIf="showActivityModel">
      <app-activity></app-activity>
   </div>
</p-dialog>