<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b> Started by (Name) :</b
                        >{{ preSelectedFormData.StartedBy }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>Designation :</b
                        >{{ preSelectedFormData.StartedByDesignation }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time : </b
                        >{{
                            preSelectedFormData.StartedOn
                                | date : customDateFormat.DEF_DATE_TIME
                        }}</label
                    >
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b
                        >{{ preSelectedFormData.ModifiedBy }}</label
                    >
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Designation :</b
                        >{{ preSelectedFormData.ModifiedByDesignation }}</label
                    >
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time :</b>
                        {{
                            preSelectedFormData.ModifiedOn
                                | date : customDateFormat.DEF_DATE_TIME
                        }}</label
                    >
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <P
                    >Does the resident have insight into their continence
                    needs</P
                >
            </div>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <ng-container *ngIf="isEditable; else InsightLabel">
                <p-dropdown
                    name="InsightIntoContinenceNeeds"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.InsightIntoContinenceNeeds
                    "
                    [options]="LstContPromInsightIntoContinenceNeedsOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #InsightLabel>
                <label>{{
                    CareContinencePromotionFormsData.InsightIntoContinenceNeedsName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <P
                    >Detail the specific decision made relating to the
                    resident's bowel and bladder management</P
                >
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else BowelBladderDecisionLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="bowelBladderDecision"
                    class="form-control"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.BowelBladderDecision
                    "
                />
                <p class="mb-4">
                    Specific catheter care, treatment / bladder wash,
                    professional intervention Only answer if the resident lacks
                    capacity
                </p>
            </ng-container>
            <ng-template #BowelBladderDecisionLabel>
                <label>{{
                    CareContinencePromotionFormsData.BowelBladderDecision
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Bowel and bladder history</p>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else BowelBladderHistoryLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="bowelBladderHistory"
                    class="form-control"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.BowelBladderHistory
                    "
                />
                <p class="mb-4">
                    Include any history of diseases affecting their bowel /
                    bladder, prescribed diuretics, and management plan. Include
                    information about proximity to the toilet.
                </p>
            </ng-container>
            <ng-template #BowelBladderHistoryLabel>
                <label>{{
                    CareContinencePromotionFormsData.BowelBladderHistory
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Support required to assist the resident with their bowel &
                    bladder needs
                </p>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else SupportRequiredLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="supportRequired"
                    class="form-control"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.SupportRequired
                    "
                />
                <p class="mb-4">
                    Assistance needed to aid the resident to remain as
                    independent as possible, orientation day/night variances,
                    regime for laxatives, suppositories and enemas, possible
                    causes for incontinence diet needed or fluid intake required
                    to maintain bowels and bladder, aids used, day/night
                    variances.
                </p>
            </ng-container>
            <ng-template #SupportRequiredLabel>
                <label>{{
                    CareContinencePromotionFormsData.SupportRequired
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <P>Does the resident have a colostomy / ileostomy</P>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container
                *ngIf="isEditable; else ResidentColostomyIleostomyLabel"
            >
                <p-dropdown
                    name="ResidentColostomyIleostomy"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.ResidentColostomyIleostomy
                    "
                    [options]="LstContPromResidentColostomyIleostomyOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #ResidentColostomyIleostomyLabel>
                <label>{{
                    CareContinencePromotionFormsData.ResidentColostomyIleostomyName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <P
                    >Support required to assist the resident with their
                    colostomy / ileostomy</P
                >
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container
                *ngIf="isEditable; else SupportRequiredForColostomyLabel"
            >
                <p-dropdown
                    name="SupportRequiredForColostomy"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.SupportRequiredForColostomy
                    "
                    [options]="LstContPromSupportRequiredForColostomyOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p class="mb-4">
                    SELECT ALL THAT APPLY FOR THE CARING OF A STOMA E.g.
                    specific colostomy / ileostomy care, flange size,
                    professional intervention
                </p>
            </ng-container>
            <ng-template #SupportRequiredForColostomyLabel>
                <label>{{
                    CareContinencePromotionFormsData.SupportRequiredForColostomyName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <P>Catheter care</P>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else CatheterCareLabel">
                <p-dropdown
                    name="CatheterCare"
                    [(ngModel)]="CareContinencePromotionFormsData.CatheterCare"
                    [options]="LstContPromCatheterCareOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #CatheterCareLabel>
                <label>{{
                    CareContinencePromotionFormsData.CatheterCareName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident have a specific goal personal to them</p>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else ResidentGoalLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="residentGoal"
                    class="form-control"
                    [(ngModel)]="CareContinencePromotionFormsData.ResidentGoal"
                />
            </ng-container>
            <ng-template #ResidentGoalLabel>
                <label>{{
                    CareContinencePromotionFormsData.ResidentGoal
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <P
                    >Clinical observations implemented to promote monitoring and
                    promotion of continence needs</P
                >
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else ClinicalObservationsLabel">
                <p-dropdown
                    name="ClinicalObservations"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.ClinicalObservations
                    "
                    [options]="LstContPromClinicalObservationsOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #ClinicalObservationsLabel>
                <label>{{
                    CareContinencePromotionFormsData.ClinicalObservationsName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Professional input / referral</p>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else ProfessionalInputLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="professionalInput"
                    class="form-control"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.ProfessionalInput
                    "
                />
                <p class="mb-4">
                    Continence advisor, stoma nurse, district nurse, other
                    (input / referral)
                </p>
            </ng-container>
            <ng-template #ProfessionalInputLabel>
                <label>{{
                    CareContinencePromotionFormsData.ProfessionalInput
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <P
                    >Are there any other identified risks relating to bowel and
                    bladder</P
                >
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else IdentifiedRisksLabel">
                <p-dropdown
                    name="IdentifiedRisks"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.IdentifiedRisks
                    "
                    [options]="LstContPromIdentifiedRisksOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p class="mb-4">
                    Specify any other risks that have not been identified above
                </p>
            </ng-container>
            <ng-template #IdentifiedRisksLabel>
                <label>{{
                    CareContinencePromotionFormsData.IdentifiedRisksName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <P>Action to manage additional risk identified</P>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else RiskManagementLabel">
                <p-dropdown
                    name="RiskManagement"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.RiskManagement
                    "
                    [options]="LstContPromRiskManagementOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #RiskManagementLabel>
                <label>{{
                    CareContinencePromotionFormsData.RiskManagementName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <P>Steps to promote a healthy bladder and bowel</P>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container
                *ngIf="isEditable; else PromoteHealthyBladderAndBowelLabel"
            >
                <p-dropdown
                    name="PromoteHealthyBladderAndBowel"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.PromoteHealthyBladderAndBowel
                    "
                    [options]="LstContPromoteHealthyBladderAndBowelOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #PromoteHealthyBladderAndBowelLabel>
                <label>{{
                    CareContinencePromotionFormsData.PromoteHealthyBladderAndBowelName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <P>Procedure for changing urethral catheter leg bag</P>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else LegDrainageBagChangeLabel">
                <p-dropdown
                    name="LegDrainageBagChange"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.LegDrainageBagChange
                    "
                    [options]="LstContPromLegDrainageBagChangeOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p class="mb-4">Choose all areas below</p>
            </ng-container>
            <ng-template #LegDrainageBagChangeLabel>
                <label>{{
                    CareContinencePromotionFormsData.LegDrainageBagChangeName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Removal of night drainage bag (Single Use)</p>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else NightDrainageBagRemovalLabel">
                <p-dropdown
                    name="NightDrainageBagRemoval"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.NightDrainageBagRemoval
                    "
                    [options]="LstContPromNightDrainageBagRemovalOptions"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p class="mb-4">
                    Select all below if using single use drainage bags
                </p>
            </ng-container>
            <ng-template #NightDrainageBagRemovalLabel>
                <label>{{
                    CareContinencePromotionFormsData.NightDrainageBagRemovalName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    If a Continence aid is used please select all of the below
                    best practice guidance
                </p>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container
                *ngIf="isEditable; else ContinenceAidBestPracticeGuidanceLabel"
            >
                <p-dropdown
                    name="ContinenceAidBestPracticeGuidance"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.ContinenceAidBestPracticeGuidance
                    "
                    [options]="
                        LstContPromContinenceAidBestPracticeGuidanceOptions
                    "
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #ContinenceAidBestPracticeGuidanceLabel>
                <label>{{
                    CareContinencePromotionFormsData.ContinenceAidBestPracticeGuidanceName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent implabel">
                <p>MONTHLY REVIEW (or before)</p>
            </div>
        </div>

        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else FormReviewStateLabel">
                <p-triStateCheckbox
                    inputId="tricheckbox"
                    [(ngModel)]="
                        CareContinencePromotionFormsData.FormReviewState
                    "
                ></p-triStateCheckbox>
                <p class="mb-4">
                    This form should be reviewed EVERY MONTH or before if there
                    are significant changes. Enter review date below.
                </p>
            </ng-container>
            <ng-template #FormReviewStateLabel>
                <label>{{
                    CareContinencePromotionFormsData.FormReviewState
                        | date : customDateFormat.DEF_DATE
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date</p>
            </div>
        </div>

        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else NextReviewDateCalendarLabel">
                <div class="input-group date">
                    <p-calendar
                        name="nextReviewDate"
                        [showIcon]="true"
                        inputId="icon"
                        [dateFormat]="'yy-mm-dd'"
                        class="iconcal"
                        [(ngModel)]="
                            CareContinencePromotionFormsData.NextReviewDate
                        "
                        [maxDate]=""
                    ></p-calendar>
                    <div
                        *ngIf="!CareContinencePromotionFormsData.NextReviewDate"
                        class="alert alert-danger"
                    >
                        Next review date is required.
                    </div>
                </div>
            </ng-container>
            <ng-template #NextReviewDateCalendarLabel>
                <label>{{
                    CareContinencePromotionFormsData.NextReviewDate |  date : customDateFormat.DEF_DATE
                }}</label>
            </ng-template>
        </div>

        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Save as Unfinished"
                            (click)="saveAsUnfinished()"
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Complete"
                            (click)="completeForm()"
                            [disabled]="
                                CareContinencePromotionFormsData.IsFormCompleted
                            "
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button
                    pButton
                    title="Save as PDF"
                    label="Save as PDF"
                    (click)="SaveAsPDF()"
                ></button>
            </ng-template>
        </div>
    </div>
</div>
