<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 labelcontent">
            <p>Recent falls</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 mt-4 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Medication</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Include sedatives / anti-depressants / anti-parkinsons / diuretics /
                anti-hypertensives/Opioid analgesic / drugs for psychosis and agitation.</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Psychological</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Include anxiety / depression / cooperation, insight or judgement esp. re mobility</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Physiological impact on risk of falls</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Fall risk status</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Important - if risk is high, commence fall alert</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Risk factor checklist (potential or causes for falls)</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Circumstances of recent falls within the last month (check accident/incident reports)</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">At past residence and / or during current stay; lost balance / trip / slip / collapse /
                dizziness, include when and where</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Strategies to manage falls risk</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Consider, environment, lighting, monitoring systems, medication reviews, sensory mats,
                footwear and footcare, aids, managing postural drop, orientation and use of signage/handrails,
                continence promotion, sensory impairment, night time activity.</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p class="mb-4">If Continence is a leading cause of falls? please review the below and choose the applicable measures
                being implemented.</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Goals the resident wishes to achieve</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Referrals required</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">date call made, department / professional e.g. GP, falls clinic</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What are the hazards related to the risk to others (e.g. injury)</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Actions to manage the hazards relating to the risk to others</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Additional information</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Mention any further known factors that may present a falls risk - refer to the Care
                Inspectorate Managing Falls and Fracture in Care homes for Older People - good practice resource
                https://www.careinspectorate.com/images/documents/2737/2016/Falls-and-fractures-new-resource-low-res.pdf
            </p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>