<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>How important is your appearance to you?</p>
            </div>
        </div>
        <div class="col-md-7 mb-4 mt-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p>Please choose one of the below options if you us ethe other please ensure we put as much detail as
                possible</p>
        </div>
        <div class="col-md-1 mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Capacity </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p>Please choose one of the options below</p>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Detail specific decision relating to the residents personal hygiene and projection of self</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Include in this section how we empwer and enable the person regardless of mental capacity to be included
                in the cleansing and projection of self every day and throughout the day</p>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Hygiene preference</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance for Hygiene</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Include specialist bath, shower chairs, perching stool etc. preferred day for weekly bath / shower (am /
                pm), toiletry preferences (including prescribed treatments applied by staff / resident) and any
                sensitivities</p>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Dressing preferences</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Dressing and undressing</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for Dressing/Undressing</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>Detail dressing requirements, what can the resident still do for themselves, specific clothing choices,
                day/night variances</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>How do we effectively support you to promote the projection of your self identity through your
                    clothing choices and presentation?</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>Please detail a little bit of history about the person, and what is important to them about their
                personality, wishes and abilities to empower and enable them to feel like themselves.</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Grooming</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for grooming</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <P>Are there particular products that work best on your skin, if you remove hair on your face do you prefer
                a razor or electric shaver or tweezers/Waxing, for those who shave, what helps it o feel like you've has
                a proper shave?</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Is there anything that makes getting your hair done feel like a real treat, have you any routine for
                    looking after your hair between hair appoitnments</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <P>Include hairdressing appointments, include as much personalised information within the other section</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for hair care</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Eye care</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for eye care</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Nail care</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <P>Is there anything the person would like us to know about their finger and toe nail care</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for nail care</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>include if nail varnish is worn what colours the resident likes, do they like their toenails and
                fingernails to be done at the same time and be the same colour</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Hands and feet</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>E.g. skin integrity / circulation / diabetes complete foot care / diabetic check, bunions calluses,
                corns, hammer toes, chilblains gout</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for hands and feet</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>E.g. cleaning fingernails daily / filing, professional input</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Make up</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for make up</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>Include when they like to wear make up, what type of make up they like to wear, what parts of putting on
                make up do they like to do themselves? Any parts we can support them with?</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Jewellery</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for jewellery</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>Where stored day or night, which wristwatch face in or out, difference when in home to outside home</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Fragrance and / or deodorant</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for fragrance and or deodorant</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Hand, face and / or body creams</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Assistance required for hand, face and / or body creams</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Goals the resident wishes to achieve</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Strategies to manage the residents personal hygiene</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Are there any other identified risks relating to personal hygiene</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>Specify any other risks that have not been identified above</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Action to manage additional risk identified</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent implabel">
                <p>MONTHLY REVIEW (or before)</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-triStateCheckbox inputId="tricheckbox"></p-triStateCheckbox>
            <P>This form should be reviewed EVERY MONTH or before if there are significant changes. Enter review date
                below.</P>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Special Occasions</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <P>How do you like to get ready and dress on special occasions, do you like seeing pictures in magazines or
                photos of other peoples special occasions?</P>
        </div>
        <div class="col-md-1">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>