<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Aprons</p>
            </div>
        </div>
        <div class="col-md-8 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Bed jackets</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Belts</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Braces</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Blouses</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Bras</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Cardigans</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Coats</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Corsets</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Dresses</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Dressing gowns</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Gloves</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Handkerchiefs</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Hats</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Jackets</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Jumpers</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Knickers</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Nightdresses</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Pyjamas</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Scarves</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Shoes</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Slippers</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Skirts</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Stockings</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Shirts</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Socks</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Trousers</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Tights</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>T-shirts</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Ties</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4"> Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Towels</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Underpants</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Underskirts</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Vests</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Waistcoats</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number of items. Record colour and size if appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Jewellery</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Detail white or yellow metal & colour of stone</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Cash</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Notes, 2 pound coins, 1 pound coins, silver, bronze, total and total in words, pounds,
                pence, cheque books, post office book, savings account and credit card(s)</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Wallets, purses, handbags and suitcases</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide numbers and details</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Toilet bag, comb / brush, make up, electric razor / shaving kit</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide numbers and details</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Other clothing (please state)</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide numbers, colour and size where appropriate</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>TV / ipad / tablet / ipods / mobile phones etc.</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide make, type and size</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Walking Aid</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please state yes / no and provide make / type and size</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Wheelchair</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please state yes / no and provide make / type and size</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Watch</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please state yes / no and provide make / type and size</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Spectacles</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number and details</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Hearing aid(s)</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number and details</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Dentures</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide number and details e.g. top set / bottom set</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Other property (please state)</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please provide numbers and details</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Has the resident been informed of the following</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Ensure Declaration and Agreement of Care Plan signed</p>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>