<div class="row">
    <div class="col-md-12 mb-4">
        <p>
            <span class="bold">care domain : </span>
            <span>my medication,healthcare</span>
        </p>
    </div>

    <hr style="border: 1px solid rgb(110, 107, 107); margin: 0px;">
    <div class="col-md-12 mt-5 mb-4">
        <p class="m-0">Outcomes</p>
        <p-dropdown name="" [options]="" optionLabel="optionName" optionValue="optionId" placeholder="--select--"
            [style]="{ width: '100%' }">
        </p-dropdown>
    </div>

    <div class="col-md-12 mb-4">
        <p class="m-0">Notes</p>
        <textarea pInputTextarea rows="7" class="form-control" name="ActionRemark" [required]="true"
            [style]="{ height: '100px !important' }"></textarea>

    </div>

    <hr style="border: 1px solid rgb(110, 107, 107); margin: 0px;">
    <div class=" col-md-12 flex justify-content-between gap-2 mt-5 mb-3">
        <p-button class="" label="Cancel" severity="secondary"></p-button>
        <p-button class="" label="Save"></p-button>
    </div>
</div>