<div class="login-bg">
  <div class="row m-0">
    <div class="col-md-6 p-0">
      <div class="logo-top"><img src="assets/Images/logo-color-png.png" width="130"></div>
    </div>
    <div class="col-md-6 p-0">
      <div class="form-box">
        <div class="form-box-inner">
          <div class="mb-2">
            <span class="text-600">Forgot Password?</span>
         </div>  
          <div class="mt-2  mb-5">
          <p>Enter your Login ID to reset your password</p>   
          </div>             
        <div>
          <label class="mb-2">Login ID</label>
          <input type="text" pInputText class="w-full mb-3" maxlength="20" placeholder="Enter Login ID/MR No."
            [(ngModel)]="inputlogin" name="loginId" autocomplete="off" />
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div>
          <button class="mr-2" pButton type="submit" id="kt_login_forgot_submit" (click)="submit()">
            Submit
          </button>
          <a routerLink="/auth/login" id="kt_login_forgot_cancel" class="btn btn-secondary">
            Cancel
          </a>
        </div>
        <!--end::Form group-->
      </div>
    </div>
    </div>
  </div>
</div>