<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                        {{preSelectedFormData.StartedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b>{{preSelectedFormData.StartedByDesignation}} </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{preSelectedFormData.StartedOn | date : customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{preSelectedFormData.ModifiedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{preSelectedFormData.ModifiedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> {{preSelectedFormData.ModifiedOn | date: customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 labelcontent">
            <p>What type of Epilepsy or Epilepsy syndrome do you have?</p>
        </div>
        <div class="col-md-7 mt-4">
            <ng-container *ngIf="this.isEditable; else EpilepsyType">
                <p-dropdown [required]="true" [options]="lstEpilepsyType"   optionLabel="optionName" [(ngModel)]="EpilepsySupportFormsData.EpilepsyType" name="EpilepsyType" optionValue="optionId" placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #EpilepsyType>
                <label>{{EpilepsySupportFormsData.EpilepsyTypeName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 mt-4  form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What kind of seizures do you experience?</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else Seizures">
                <p-dropdown [required]="true" [options]="lstSeizures"   optionLabel="optionName" [(ngModel)]="EpilepsySupportFormsData.Seizures" name="Seizures" optionValue="optionId" placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #Seizures>
                <label>{{EpilepsySupportFormsData.SeizuresName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>The residents presentation or reason for onset of seizures prior to seizure</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else SeizuresReason">
                <input pInputText type="text" [(ngModel)]="EpilepsySupportFormsData.SeizuresReason" required name="SeizuresReason" class="form-control mr-4"
                    [style]="{ width: '35%' }">
            </ng-container>
            <ng-template #SeizuresReason>
                <label>{{EpilepsySupportFormsData.SeizuresReason}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>If resident experiences Tonic Clonic seizures</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else TonicClonicSeizures">
                <p-dropdown [required]="true" [options]="lstTonicClonicSeizures"   optionLabel="optionName" [(ngModel)]="EpilepsySupportFormsData.TonicClonicSeizures" name="TonicClonicSeizures" optionValue="optionId" placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Select all of the below for inclusion in the support plan</p>
            </ng-container>
            <ng-template #TonicClonicSeizures>
                <label>{{EpilepsySupportFormsData.TonicClonicSeizuresName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>If resident experiences Focal (Partial) Seizures please choose all options below</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else FocalSeizuresCheck">
                <p-dropdown [required]="true" [options]="lstFocalSeizuresCheck"   optionLabel="optionName" [(ngModel)]="EpilepsySupportFormsData.FocalSeizuresCheck" name="FocalSeizuresCheck" optionValue="optionId" placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #FocalSeizuresCheck>
                <label>{{EpilepsySupportFormsData.FocalSeizuresCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What tests have had? Have they had any surgery for your epilepsy?</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else TestCheck">
                <p-dropdown [required]="true" [options]="lstTestCheck"   optionLabel="optionName" [(ngModel)]="EpilepsySupportFormsData.TestCheck" name="TestCheck" optionValue="optionId" placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Please chose from options below and include dates if available in the other text box</p>
            </ng-container>
            <ng-template #TestCheck>
                <label>{{EpilepsySupportFormsData.TestCheckName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>How is your epilepsy being treated/Managed</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else EpilepsyTreatment">
                <p-dropdown [required]="true" [options]="lstEpilepsyTreatment"   optionLabel="optionName" [(ngModel)]="EpilepsySupportFormsData.EpilepsyTreatment" name="EpilepsyTreatment" optionValue="optionId" placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #EpilepsyTreatment>
                <label>{{EpilepsySupportFormsData.EpilepsyTreatmentName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What medications have you taken previously to tear your epilepsy</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else EpilepsyMedication">
                <input pInputText type="text" [(ngModel)]="EpilepsySupportFormsData.EpilepsyMedication" required name="EpilepsyMedication" class="form-control mr-4"
                    [style]="{ width: '35%' }">
            </ng-container>
            <ng-template #EpilepsyMedication>
                <label>{{EpilepsySupportFormsData.EpilepsyMedication}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What other health conditions do you have?</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else OtherHealthCondition">
                <input pInputText type="text" [(ngModel)]="EpilepsySupportFormsData.OtherHealthCondition" required name="OtherHealthCondition" class="form-control mr-4"
                    [style]="{ width: '35%' }">
            </ng-container>
            <ng-template #OtherHealthCondition>
                <label>{{EpilepsySupportFormsData.OtherHealthCondition}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>What happens to you in a seizure?</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else SeizureCheck">
                <input pInputText type="text" [(ngModel)]="EpilepsySupportFormsData.SeizureCheck" required name="SeizureCheck" class="form-control mr-4"
                    [style]="{ width: '35%' }">
                    <p class="mb-4">If the resident is unable to tell us are we able to get the information from others around
                        them or the GP</p>
            </ng-container>
            <ng-template #SeizureCheck>
                <label>{{EpilepsySupportFormsData.SeizureCheck}}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>How long does your seizure normally last?</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else SeizureDuration">
                <input pInputText type="text" [(ngModel)]="EpilepsySupportFormsData.SeizureDuration" required name="SeizureDuration" class="form-control mr-4"
                    [style]="{ width: '35%' }">
                    <p class="mb-4">If the resident is unable to tell us are we able to get the information from others around
                        them or the GP, please do not leave this area blank if it is not known please write this</p>
            </ng-container>
            <ng-template #SeizureDuration>
                <label>{{EpilepsySupportFormsData.SeizureDuration}}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>How long do you take to recover once your seizure has finished and how do you present during this time
            </p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else RecoveryDuration">
                <input pInputText type="text" [(ngModel)]="EpilepsySupportFormsData.RecoveryDuration" required name="RecoveryDuration" class="form-control mr-4"
                    [style]="{ width: '35%' }">
                    <p class="mb-4">Please include the question in your answer. If the resident is unable to tell us are we able
                        to get the information from others around them or the GP</p>
            </ng-container>
            <ng-template #RecoveryDuration>
                <label>{{EpilepsySupportFormsData.RecoveryDuration}}</label>
            </ng-template>
            
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p> What emergency medication/rescue meds do you have prescribed and when is this to be administered</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else EmergencyMedication">
                <p-dropdown [required]="true" [options]="lstEmergencyMedication"   optionLabel="optionName" [(ngModel)]="EpilepsySupportFormsData.EmergencyMedication" name="EmergencyMedication" optionValue="optionId" placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #EmergencyMedication>
                <label>{{EpilepsySupportFormsData.EmergencyMedicationName}}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p> Is there anything that makes your seizures more likely?</p>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="this.isEditable; else SeizuresAffect">
                <p-dropdown [required]="true" [options]="lstSeizuresAffect"   optionLabel="optionName" [(ngModel)]="EpilepsySupportFormsData.SeizuresAffect" name="SeizuresAffect" optionValue="optionId" placeholder="Select" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #SeizuresAffect>
                <label>{{EpilepsySupportFormsData.SeizuresAffectName}}</label>
            </ng-template>
        </div>
        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Save as Unfinished"
                            (click)="saveAsUnfinished()"
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Complete"
                            (click)="completeForm()"
                            [disabled]="
                                EpilepsySupportFormsData.IsFormCompleted
                            "
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button
                    pButton
                    title="Save as PDF"
                    label="Save as PDF"
                    (click)="SaveAsPDF()"
                ></button>
            </ng-template>
        </div>
    </div>
</div>