<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                        {{ preSelectedFormData.StartedBy }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> {{ preSelectedFormData.StartedByDesignation
                        }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{
                        preSelectedFormData.StartedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{ preSelectedFormData.ModifiedBy }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{ preSelectedFormData.ModifiedByDesignation
                        }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b>{{
                        preSelectedFormData.ModifiedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }} </label>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Mental Health/Cognition/Understanding Section</p>

            </div>
        </div>
        <div class="col-md-6 form-text mt-4 mb-2">
            <ng-container *ngIf="this.isEditable; else MentalHealthOrCognitionStatus">
                <p-checkbox [(ngModel)]="MentalHealthStatus" [binary]="true" inputId="binary"></p-checkbox>
            </ng-container>
            <ng-template #MentalHealthOrCognitionStatus>
                <label>{{CareAssessmentMentalHealthFormsData.mentalHealthOrCognitionStatus}}</label>
            </ng-template>
        </div>

        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>What has impacted their cognition?</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else Cognition">
                <p-dropdown name="CognitionImpact" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.cognition
                    " [options]="lstCognitionImpact" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #Cognition>
                <label>{{
                    CareAssessmentMentalHealthFormsData.cognitionName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>How does this make the resident feel, how does it impact their day</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else CognitionImpactOnResidentDay">
                <input pInputText type="text" required name="CognitionImpactOnResidentDay" class="form-control"
                    [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.cognitionImpactOnResidentDay
                    " />

            </ng-container>
            <ng-template #CognitionImpactOnResidentDay>
                <label>{{
                    CareAssessmentMentalHealthFormsData.cognitionImpactOnResidentDay
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident have any other mental health condition or symptoms</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else MentalHealthCondition">
                <p-dropdown name="MentalHealthCondition" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.mentalHealthCondition
                    " [options]="lstMentalHealthCondition" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">Select all that apply</p>
            </ng-container>
            <ng-template #MentalHealthCondition>
                <label>{{
                    CareAssessmentMentalHealthFormsData.mentalHealthConditionName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>How does this make the resident feel and how does it impact their day</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else MentalHealthImpactOnResidentDay">
                <input pInputText type="text" required name="MentalHealthImpactOnResidentDay" class="form-control"
                    [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.mentalHealthImpactOnResidentDay
                    " />

            </ng-container>
            <ng-template #MentalHealthImpactOnResidentDay>
                <label>{{
                    CareAssessmentMentalHealthFormsData.mentalHealthImpactOnResidentDay
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                    <hr> Mapped to : <b>Intervention</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident understand others</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else ResidentUnderstand">
                <p-dropdown name="ResidentUnderstand" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.residentUnderstand
                    " [options]="lstResidentUnderstand" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #ResidentUnderstand>
                <label>{{
                    CareAssessmentMentalHealthFormsData.residentUnderstandName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Is the resident able to verbally make him / herself understood</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else ResidentVerbalUnderstand">
                <p-dropdown name="ResidentVerbalUnderstand" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.residentVerbalUnderstand
                    " [options]="lstResidentVerbalUnderstand" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #ResidentVerbalUnderstand>
                <label>{{
                    CareAssessmentMentalHealthFormsData.residentVerbalUnderstandName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                    <hr> Mapped to : <b>Intervention</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Detail how the resident makes themself understood</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else ResidentUnderstandDetails">
                <p-dropdown name="ResidentUnderstandDetails" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.residentUnderstandDetails
                    " [options]="lstResidentUnderstandDetails" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">short sentences, picture cards</p>
            </ng-container>
            <ng-template #ResidentUnderstandDetails>
                <label>{{
                    CareAssessmentMentalHealthFormsData.residentUnderstandDetailsName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                    <hr> Mapped to : <b>Intervention</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Any history of increased states of confusion or delirium</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else Confusion">
                <p-dropdown name="Confusion" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.confusion
                    " [options]="lstConfusion" optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                    [style]="{ width: '100%' }">
                </p-dropdown>
                <p class="mb-4">related to any physical conditions</p>
            </ng-container>
            <ng-template #Confusion>
                <label>{{
                    CareAssessmentMentalHealthFormsData.confusionName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                    <hr> Mapped to : <b>Intervention</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Action to be taken in the event of increased confusion</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else ActionInConfusion">
                <p-dropdown name="ActionInConfusion" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.actionInConfusion
                    " [options]="lstActionInConfusion" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>

                <p class="mb-4">Include how to support physical condition impacting on cognition</p>
            </ng-container>
            <ng-template #ActionInConfusion>
                <label>{{
                    CareAssessmentMentalHealthFormsData.actionInConfusionName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Personal Safety Section</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else PersonalSafety">
                <p-dropdown name="PersonalSafety" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.personalSafety
                    " [options]="lstPersonalSafety" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>

            </ng-container>
            <ng-template #PersonalSafety>
                <label>{{
                    CareAssessmentMentalHealthFormsData.personalSafetyName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Personal Safety</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Personal safety - probability of resident leaving the home unnoticed</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else LeavingHome">
                <p-dropdown name="LeavingHome" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.leavingHome
                    " [options]="lstLeavingHome" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>

            </ng-container>
            <ng-template #LeavingHome>
                <label>{{
                    CareAssessmentMentalHealthFormsData.leavingHomeName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Personal Safety</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Risk level for personal safety</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else RiskForSafety">
                <p-dropdown name="RiskForSafety" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.riskForSafety
                    " [options]="lstRiskForSafety" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>

                <p class="mb-4">If answering at risk, complete missing person assessment</p>
            </ng-container>
            <ng-template #RiskForSafety>
                <label>{{
                    CareAssessmentMentalHealthFormsData.riskForSafetyName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Personal Safety</b>
                    <hr> Mapped to : <b>Intervention</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Personal Safety</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Other personal safety / risks to consider</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else OtherRisks">
                <input pInputText type="text" required name="OtherRisks" class="form-control" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.otherRisks
                    " />
                <p class="mb-4">Falls, placing self on floor, self-neglect (personal care / continence) behaviors that
                    challenge /
                    assault others, inappropriate sexual behavior, self-harm</p>
            </ng-container>
            <ng-template #OtherRisks>
                <label>{{
                    CareAssessmentMentalHealthFormsData.otherRisks
                    }}</label>
            </ng-template>

        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Personal Safety</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Professional input / referral</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else ProfessionalInput">
                <input pInputText type="text" required name="ProfessionalInput" class="form-control" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.professionalInput
                    " />

                <p class="mb-4">E.g. CPN / other (input / referral)</p>
            </ng-container>
            <ng-template #ProfessionalInput>
                <label>{{
                    CareAssessmentMentalHealthFormsData.professionalInput
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                    <hr> Mapped to : <b>Intervention</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Cognition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Sexuality/Cultural Section</p>
            </div>
        </div>
        <div class="col-md-6 form-text mb-2">
            <ng-container *ngIf="this.isEditable; else SexualityOrCulturalStatus">
                <p-checkbox [(ngModel)]="SexualityStatus" [binary]="true" inputId="binary"></p-checkbox>
            </ng-container>
            <ng-template #SexualityOrCulturalStatus>
                <label>{{CareAssessmentMentalHealthFormsData.sexualityOrCulturalStatus}}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Sexuality</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else Sexuality">
                <p-dropdown name="Sexuality" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.sexuality
                    " [options]="lstSexuality" optionLabel="optionName" optionValue="optionId" placeholder="--select--"
                    [style]="{ width: '100%' }">
                </p-dropdown>

            </ng-container>
            <ng-template #Sexuality>
                <label>{{
                    CareAssessmentMentalHealthFormsData.sexualityName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Sexuality and Cultural</b>
                    <hr> Mapped to : <b>Intervention</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Sexuality and Cultural</b>
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Sensitivity / privacy</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else Sensitivity">
                <input pInputText type="text" required name="Sensitivity" class="form-control" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.sensitivity
                    " />

                <p class="mb-4">Support required by the resident with sensitivity and privacy needs. How does the
                    resident express
                    sexuality / sexual needs</p>
            </ng-container>
            <ng-template #Sensitivity>
                <label>{{
                    CareAssessmentMentalHealthFormsData.sensitivity
                    }}</label>
            </ng-template>

        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Sexuality and Cultural</b>
                    <hr> Mapped to : <b>Intervention</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Sexuality and Cultural</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Goals the resident wishes to achieve</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else GoalsToAchieve">
                <p-dropdown name="GoalsToAchieve" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.goalsToAchieve
                    " [options]="lstGoalsToAchieve" optionLabel="optionName" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>

            </ng-container>
            <ng-template #GoalsToAchieve>
                <label>{{
                    CareAssessmentMentalHealthFormsData.goalsToAchieveName
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Agreed outcome</b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Mental Health & Congnition</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Are there any other identified risks relating to mental health / cognition / personal safety or
                    sexuality</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else OtherIdentifiedRisks">
                <input pInputText type="text" required name="OtherIdentifiedRisks" class="form-control" [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.otherIdentifiedRisks
                    " />

                <p class="mb-4">Specify any other risks that have not been identified above</p>
            </ng-container>
            <ng-template #OtherIdentifiedRisks>
                <label>{{
                    CareAssessmentMentalHealthFormsData.otherIdentifiedRisks
                    }}</label>
            </ng-template>

        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Observation </b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Well being</b>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Action to manage additional identified risk/s</p>
            </div>
        </div>
        <div class="col-md-6 form-text">
            <ng-container *ngIf="isEditable; else ActionToManageAdditionalRisk">
                <input pInputText type="text" required name="ActionToManageAdditionalRisk" class="form-control"
                    [(ngModel)]="
                        CareAssessmentMentalHealthFormsData.actionToManageAdditionalRisk
                    " />

            </ng-container>
            <ng-template #ActionToManageAdditionalRisk>
                <label>{{
                    CareAssessmentMentalHealthFormsData.actionToManageAdditionalRisk
                    }}</label>
            </ng-template>
        </div>
        <div class="col-md-2 form-icon mt-4 d-flex justify-content-start">
            <div class="tooltip"> <i class="fa-solid fa-info"></i>
                <span class="tooltiptext"> Mapped to : <b>Intervention </b><br> Care domain : <b>My Mental Health ans
                        Well Being Support Plan </b> <br> Sub domain : <b>Well being</b>
                </span>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Next review date</p>
            </div>
        </div>
        <div class="col-md-8 mt-4 form-text ">
            <div class="input-group date">
                <ng-container *ngIf="this.isEditable; else ReviewDate">
                    <p-calendar name="ReviewDate" [showIcon]="true" inputId="icon" class="iconcal"
                        [(ngModel)]="CareAssessmentMentalHealthFormsData.reviewDate" [readonlyInput]="true"
                        appendTo="body" [maxDate]="" #dobref=""></p-calendar>
                    <div *ngIf="" class="alert alert-danger">
                    </div>
                </ng-container>
                <ng-template #ReviewDate>
                    <label>{{CareAssessmentMentalHealthFormsData.reviewDate | date}}</label>
                </ng-template>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Save as Unfinished" (click)="saveAsUnfinished()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Complete" (click)="completeForm()" [disabled]="
                                CareAssessmentMentalHealthFormsData.isFormCompleted
                            "></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button pButton title="Save as PDF" label="Save as PDF" (click)="SaveAsPDF()"></button>
            </ng-template>
        </div>
    </div>
</div>