<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Has the resident consented to care and accommodation</p>
            </div>
        </div>
        <div class="col-md-8 mt-4 form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">If no complete MCA / BID / DoLS and retain copies</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Financial Assessment Form (FAF) completed</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>

        </div>

        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Resident contract signed and received</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Welcome pack including resident guide and complaints information provided</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Resident meetings discussed, and date of next meeting provided</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Provide a copy of the last meeting minutes</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>The activities leader has introduced themselves and discussed possible interests</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Provide a copy of the current activity programme</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>The chef has been informed and a Dietary Notification Form (DNF) completed</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Provide a copy of the weekly menu and discuss dietary preferences</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Capacity and consent assessment completed (e.g. Information sharing, photograph etc.)</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Declaration and agreement signed</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Resident contact details (NOK / carer / representative) completed</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Residents name entered onto Business Contingency Plan (BCP)</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Timescales for completing relevant forms</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>A GP registration has been discussed and a review visit booked</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Pharmacy notified, and medication management explained</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">All medication booked in and recorded on MAR chart, adequate stocks available, including
                dressings</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>If self-medicating, complete ability to self medicate and medication risk assessments</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-checkbox name="ChkMonthlyReview" [binary]="true" inputId="binary"></p-checkbox>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Infection control status has been confirmed and any necessary precautions put in place</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Have all necessary appointments been made and reviewed</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Dentist, opticians, chiropodist, dietician, SALT</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Review meetings booked with the family or professionals</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Introductions to key staff and fellow residents</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Home manager, key worker, named nurse</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Room keys</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Tour of the home and familiarisation</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Home and room orientation completed</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Has all electrical equipment been PAT tested prior to use, have all health and safety checks been
                    completed by maintenance and key worker / named nurse</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Fire evacuation, fire doors and equipment discussed and explained</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Record of property (inventory) completed</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>All clothing marked with the appropriate name and room number if required</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Appropriate equipment installed</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <p-dropdown placeholder="--select--" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">Aids, mattresses, slings etc.</p>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Comments</p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Record specific information</p>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>