<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b> Started by (Name) : </b
                        >{{ preSelectedFormData.StartedBy }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>Designation : </b
                        >{{ preSelectedFormData.StartedByDesignation }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time : </b
                        >{{
                            preSelectedFormData.StartedOn
                                | date : customDateFormat.DEF_DATE_TIME
                        }}
                    </label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b
                        >{{ preSelectedFormData.ModifiedBy }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Designation : </b
                        >{{ preSelectedFormData.ModifiedByDesignation }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time : </b
                        >{{
                            preSelectedFormData.ModifiedOn
                                | date : customDateFormat.DEF_DATE_TIME
                        }}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Name all parties who have assisted with information</p>
            </div>
        </div>
        <div class="col-md-7 mt-4 mb-4">
            <ng-container *ngIf="this.isEditable; else ChartheadName">
                <input
                    pInputText
                    type="text"
                    name="PreAdmissionAssessmentFormsData.ChartheadName"
                    class="form-control"
                    [(ngModel)]="PreAdmissionAssessmentFormsData.ChartheadName"
                />
                <p>include relationship to the resident & contact details</p>
            </ng-container>
            <ng-template #ChartheadName>
                <label>{{
                    PreAdmissionAssessmentFormsData.ChartheadName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Does the person have capacity to consent to care and
                    accommodation
                </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else PersonCapacity">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.PersonCapacity"
                    [(ngModel)]="PreAdmissionAssessmentFormsData.PersonCapacity"
                    [options]="LstPreAdmPersonCapacityOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>
                    If person lacks capacity what powers are they being moved
                    under Section 13ZA, POA, Guardianship
                </p>
            </ng-container>
            <ng-template #PersonCapacity>
                <label>{{
                    PreAdmissionAssessmentFormsData.PersonCapacityName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Have any of the following professional documents been
                    obtained
                </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else ProfessionalDocObtained">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.ProfessionalDocObtained"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.ProfessionalDocObtained
                    "
                    [options]="LstPreAdmProfessionalDocObtainedOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>
                    If not obtained or in place, AWI certificate and
                    corresponding treatment plan, copy of Power of Attorney or
                    Guardianship order, copy of Community Treatment Order.
                </p>
            </ng-container>
            <ng-template #ProfessionalDocObtained>
                <label>{{
                    PreAdmissionAssessmentFormsData.ProfessionalDocObtainedName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Where is the resident moving in from</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else ResidentMovingFrom">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.ResidentMovingFrom"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.ResidentMovingFrom
                    "
                    [options]="LstPreAdmResidentMovingOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #ResidentMovingFrom>
                <label>{{
                    PreAdmissionAssessmentFormsData.ResidentMovingFromName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Payment / funding</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else Payment">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.Payment"
                    [(ngModel)]="PreAdmissionAssessmentFormsData.Payment"
                    [options]="LstPreAdmPaymentOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>Update resident admission details</p>
            </ng-container>
            <ng-template #Payment>
                <label>{{ PreAdmissionAssessmentFormsData.PaymentName }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    What are the persons current abilities and how can we
                    continue to use and develop these?
                </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else PeronsCurrentAbilities">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.PeronsCurrentAbilities"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.PeronsCurrentAbilities
                    "
                    [options]="LstPreAdmPeronsCurrentAbilitiesOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>
                    Focus in this section on the persona abilities not their
                    disabilities - positively report that they can recognise the
                    need to attend the toilet however requires support to attend
                    the toilet
                </p>
            </ng-container>
            <ng-template #PeronsCurrentAbilities>
                <label>{{
                    PreAdmissionAssessmentFormsData.PeronsCurrentAbilitiesName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Advanced care planning (ACP)</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else AdvancedCarePlanning">
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.AdvancedCarePlanning
                    "
                    [options]="LstPreAdmAdvancedCarePlanningOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #AdvancedCarePlanning>
                <label>{{
                    PreAdmissionAssessmentFormsData.AdvancedCarePlanningName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Medical history and medical conditions</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="this.isEditable; else MedicalHistoryCondition">
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.MedicalHistoryCondition
                    "
                    name="PreAdmissionAssessmentFormsData.MedicalHistoryCondition"
                    [options]="LstPreAdmMedicalHistoryConditionOptionsMaster"
                    optionLabel="optionName"
                    placeholder="Select"
                    optionValue="optionId"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>
                    Include any pacemakers, please at the point of pre admission
                    please request a GP summary print out from their own GP
                    which will detail all Medical history.
                </p>
            </ng-container>
            <ng-template #MedicalHistoryCondition>
                <label>{{
                    PreAdmissionAssessmentFormsData.MedicalHistoryConditionName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Social and spiritual, activities and interests</p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="this.isEditable; else SocialAndSpiritual">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.SocialActivitiesInterests"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.SocialActivitiesInterests
                    "
                />
                <p class="mb-4">
                    Include hobbies previous and current, whos imoprtant in
                    their lives, any special days/occasions we need to be aware
                    of, what does a good day look and feel like for them
                </p>
            </ng-container>
            <ng-template #SocialAndSpiritual>
                <label>{{
                    PreAdmissionAssessmentFormsData.SocialActivitiesInterests
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Connecting and Communicating</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else ConnectingAndCommunicatingLabel"
            >
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.ConnectingAndCommunicating"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.ConnectingAndCommunicating
                    "
                    [options]="LstPreAdmConnectingAndCommunicatingOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>
                    Include all the applicable options below and expand if
                    required using the Other option
                </p>
            </ng-container>
            <ng-template #ConnectingAndCommunicatingLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.ConnectingAndCommunicatingName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Personal safety (probability of resident leaving the home
                    unnoticed)
                </p>
            </div>
        </div>

        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else PersonalSafetyLabel">
                <p-dropdown
                    [(ngModel)]="PreAdmissionAssessmentFormsData.PersonalSafety"
                    name="PreAdmissionAssessmentFormsData.PersonalSafety"
                    [options]="LstPreAdmPersonalSafetyOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>
                    Please review in a risk aware manner how can we safely
                    consider the resident enablement while considering safety is
                    there any electronic devises we can use to promote safety.
                </p>
            </ng-container>
            <ng-template #PersonalSafetyLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.PersonalSafetyName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Leaving the Home unescorted - Herbert protocol</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else LeavingHomeUnescortedLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.LeavingHomeUnescorted"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.LeavingHomeUnescorted
                    "
                />
                <p>
                    Please complete fully the Herbert protocol and request
                    permission for Alzheimer's Scotland Purple alert profile to
                    be developed
                </p>
            </ng-container>
            <ng-template #LeavingHomeUnescortedLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.LeavingHomeUnescorted
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident experience any mental health conditions</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else ResidentExpAnyMHConditionsLabel"
            >
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.ResidentExpAnyMHConditions
                    "
                    name="PreAdmissionAssessmentFormsData.ResidentExpAnyMHConditions"
                    [options]="LstPreAdmResidentExpAnyMHConditionsOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>
                    If yes, has this been diagnosed by a GP (state condition)
                    and is medication prescribed
                </p>
            </ng-container>
            <ng-template #ResidentExpAnyMHConditionsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.ResidentExpAnyMHConditionsName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Speech, sight and hearing</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else SpeechSightHearingLabel">
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.SpeechSightHearing
                    "
                    name="PreAdmissionAssessmentFormsData.SpeechSightHearing"
                    [options]="LstPreAdmSpeechSightHearingOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #SpeechSightHearingLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.SpeechSightHearingName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Speech, sight and hearing details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else SpeechSightHearingDetailsLabel"
            >
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.SpeechSightHearingDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.SpeechSightHearingDetails
                    "
                />
                <p>
                    Include any diagnosed conditions, aids used and treatment /
                    therapy details
                </p>
            </ng-container>
            <ng-template #SpeechSightHearingDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.SpeechSightHearingDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Breathing and circulation</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else BreathingCirculationLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.BreathingCirculation"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.BreathingCirculation
                    "
                />
                <p>
                    Include all health conditions affecting breathing (COPD,
                    asthma, other, aids used (oxygen etc.), smoking. If oxygen
                    prescribed include administration, day night variances and
                    oxygen saturations)
                </p>
            </ng-container>
            <ng-template #BreathingCirculationLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.BreathingCirculation
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Falls and mobility</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else FallsAndMobilityLabel">
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.FallsAndMobility
                    "
                    name="PreAdmissionAssessmentFormsData.FallsAndMobility"
                    [options]="LstPreAdmFallsAndMobilityOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #FallsAndMobilityLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.FallsAndMobilityName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Falls and mobility details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else FallsAndMobilityDetailsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.FallsAndMobilityDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.FallsAndMobilityDetails
                    "
                />
                <p>
                    Include mobility level, aids, recent falls (including
                    causes) day / night variance, medication and any referrals
                </p>
            </ng-container>
            <ng-template #FallsAndMobilityDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.FallsAndMobilityDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Pain status</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else PainStatusLabel">
                <p-dropdown
                    [(ngModel)]="PreAdmissionAssessmentFormsData.PainStatus"
                    name="PreAdmissionAssessmentFormsData.PainStatus"
                    [options]="LstPreAdmPainStatusOptionMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #PainStatusLabel>
                <label>{{ PreAdmissionAssessmentFormsData.PainStatusName }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Pain management details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else PainManagementDetailsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.PainManagementDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.PainManagementDetails
                    "
                />
                <p>
                    How would we recognise the resident is experiencing pain how
                    is this assessed do we need to use abbey pain scale or a
                    visual pain assessment, Include all prescribed medications,
                    when needed, if the resident can ask for medications and if
                    not, how the home will manage this.
                </p>
            </ng-container>
            <ng-template #PainManagementDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.PainManagementDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Skin assessment</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else SkinAssessmentLabel">
                <p-dropdown
                    [(ngModel)]="PreAdmissionAssessmentFormsData.SkinAssessment"
                    name="PreAdmissionAssessmentFormsData.SkinAssessment"
                    [options]="LstPreAdmSkinAssessmentOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
                <p>
                    Include any medical conditions that affect skin or could
                    increase risk of skin damage, and medication
                </p>
            </ng-container>
            <ng-template #SkinAssessmentLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.SkinAssessmentName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Skin Details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else SkinDetailsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    [(ngModel)]="PreAdmissionAssessmentFormsData.SkinDetails"
                    name="PreAdmissionAssessmentFormsData.SkinDetails"
                    class="form-control"
                />
            </ng-container>
            <ng-template #SkinDetailsLabel>
                <label>{{ PreAdmissionAssessmentFormsData.SkinDetails }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Eating and drinking assessment</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else EatingDrinkingAssessmentLabel"
            >
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.EatingDrinkingAssessment
                    "
                    name="PreAdmissionAssessmentFormsData.EatingDrinkingAssessment"
                    [options]="LstPreAdmEatingDrinkingAssessmentOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #EatingDrinkingAssessmentLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.EatingDrinkingAssessmentName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Eating and drinking details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else EatingDrinkingDetailsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.EatingDrinkingDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.EatingDrinkingDetails
                    "
                />
                <p>
                    Include likes and dislikes, what makes a meal enjoyable,
                    what they like to eat for their meals, where they like to
                    enjoy their meals, do they need any cutlery or crockery, any
                    allergies. Any PEG regime if that is appropriate,
                    professional input
                </p>
            </ng-container>
            <ng-template #EatingDrinkingDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.EatingDrinkingDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Promotion of continence</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else PromotionOfContinenceLabel">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.PromotionOfContinence"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.PromotionOfContinence
                    "
                    [options]="LstPreAdmPromotionOfContinenceOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #PromotionOfContinenceLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.PromotionOfContinenceName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Promoting Continence details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else PromotionOfContinenceDetailsLabel"
            >
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.PromotionOfContinenceDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.PromotionOfContinenceDetails
                    "
                />
                <p>
                    Include specific aids used, current continence regimes in
                    place to promote continence, medication prescribed, catheter
                    type, size frequency of change date of the last change
                    reason for insertion, please complete catheter passport
                </p>
            </ng-container>
            <ng-template #PromotionOfContinenceDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.PromotionOfContinenceDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Feeling fresh and clean and promotion of self identity</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else FeelingFreshAndCleanLabel">
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.FeelingFreshAndClean
                    "
                    [options]="LstPreAdmFeelingFreshAndCleanOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    name="PreAdmissionAssessmentFormsData.FeelingFreshAndClean"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #FeelingFreshAndCleanLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.FeelingFreshAndCleanName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Feeling fresh and clean detail</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else FeelingFreshAndCleanDetailsLabel"
            >
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.FeelingFreshAndCleanDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.FeelingFreshAndCleanDetails
                    "
                />

                <p>
                    What they do prefer baths, showers and how often. What words
                    do they use for having a wash or a freshen up, tips or
                    treats that would help keeping clean and fresh to be extra
                    enjoyable, favourite lotions, potions, smells
                </p>
            </ng-container>
            <ng-template #FeelingFreshAndCleanDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.FeelingFreshAndCleanDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Sleeping and resting</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else SleepingAndRestingLabel">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.SleepingAndResting"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.SleepingAndResting
                    "
                    [options]="LstPreAdmSleepingAndRestingOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #SleepingAndRestingLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.SleepingAndRestingName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Sleeping and resting details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else SleepingAndRestingDetailsLabel"
            >
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.SleepingAndRestingDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.SleepingAndRestingDetails
                    "
                />
                <p>
                    what makes a good night for the resident. Describe sleeping
                    and waking routine, medication prescribed, number of carers
                    required to assist. If bed rails are used, ensure full
                    multidisciplinary and any associated assessments are
                    completed
                </p>
            </ng-container>
            <ng-template #SleepingAndRestingDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.SleepingAndRestingDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Expressing sexuality</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else ExpressingSexualityLabel">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.ExpressingSexuality"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.ExpressingSexuality
                    "
                    [options]="LstPreAdmExpressingSexualityOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #ExpressingSexualityLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.ExpressingSexualityName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Expressing sexuality details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else ExpressingSexualityDetailsLabel"
            >
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.ExpressingSexualityDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.ExpressingSexualityDetails
                    "
                />
                <p>
                    Additional information (how can you support the resident
                    with sensitivity and privacy needs. How does the resident
                    express sexuality / sexual needs.) Consider behaviours and
                    communication e.g. unpredictable / inappropriate behaviours.
                    Consider capacity and best interest assessments.
                </p>
            </ng-container>
            <ng-template #ExpressingSexualityDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.ExpressingSexualityDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    How best can we engage, enable and empower the person in
                    every aspect of their life within the community of the Care
                    Home
                </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else EngagementEmpowermentLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.EngagementEmpowerment"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.EngagementEmpowerment
                    "
                />
            </ng-container>
            <ng-template #EngagementEmpowermentLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.EngagementEmpowerment
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Epilepsy/Seizure Management - What kind of seizures does the
                    resident experience?
                </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container
                *ngIf="isEditable; else EpilepsySeizureManagementLabel"
            >
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.EpilepsySeizureManagement"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.EpilepsySeizureManagement
                    "
                    [options]="LstPreAdmEpilepsySeizureManagementOptionsMaster"
                    optionValue="optionId"
                    optionLabel="optionName"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #EpilepsySeizureManagementLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.EpilepsySeizureManagementName
                }}</label>
            </ng-template>
            <p></p>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Is the resident prescribed rescue medications for the
                    management of their seizures
                </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else RescueMedicationsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.RescueMedications"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.RescueMedications
                    "
                />
                <p>
                    Please detail these below alongside when they are to be
                    administered, frequency and time between doses
                </p>
            </ng-container>
            <ng-template #RescueMedicationsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.RescueMedications
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Infection status</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else InfectionStatusLabel">
                <p-dropdown
                    name="PreAdmissionAssessmentFormsData.InfectionStatus"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.InfectionStatus
                    "
                    [options]="LstPreAdmInfectionStatusOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #InfectionStatusLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.InfectionStatusName
                }}</label>
            </ng-template>
            <p></p>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Infection details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else InfectionDetailsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.InfectionDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.InfectionDetails
                    "
                />
                <p>
                    Detail how the person presents when they have an infection,
                    what are the soft signs of infection if these are
                    knownInclude type of infection, location, treatment
                </p>
            </ng-container>
            <ng-template #InfectionDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.InfectionDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Medication</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else MedicationDropdownLabel">
                <p-dropdown
                    [(ngModel)]="PreAdmissionAssessmentFormsData.Medication"
                    name="PreAdmissionAssessmentFormsData.Medication"
                    [options]="LstPreAdmMedicationOptionMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #MedicationDropdownLabel>
                <label>{{ PreAdmissionAssessmentFormsData.MedicationName }}</label>
            </ng-template>
            <p></p>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Medication details</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else MedicationDetailsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.MedicationDetails"
                    class="form-control"
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.MedicationDetails
                    "
                />
                <p>
                    refer reader to the MARs sheets for the resident most up to
                    date medications, howveer please explore how they like to
                    take their medications, high risk medications, such as
                    lithium, antipsychotics, benzodiazepines, anti coagulants,
                    insulin, epilepsy or Parkinson's meds
                </p>
            </ng-container>
            <ng-template #MedicationDetailsLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.MedicationDetails
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>First aid for epileptic seizure</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else FirstAidDropdownLabel">
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.FirstAidEpilepticSeizure
                    "
                    name="PreAdmissionAssessmentFormsData.FirstAidEpilepticSeizure"
                    [options]="LstPreAdmFirstAidEpilepticSeizureOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                    <p>Choose all statements below</p>
                </p-dropdown>
            </ng-container>
            <ng-template #FirstAidDropdownLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.FirstAidEpilepticSeizureName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    What is the persons overall goal in being within a Care
                    Community?
                </p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else OverallGoalLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="PreAdmissionAssessmentFormsData.OverallGoal"
                    class="form-control"
                    [(ngModel)]="PreAdmissionAssessmentFormsData.OverallGoal"
                />
                <p>
                    For example to be safe, to minimise loneliness, to strive
                    and promote abilities, to manage their health needs better.
                </p>
            </ng-container>
            <ng-template #OverallGoalLabel>
                <label>{{ PreAdmissionAssessmentFormsData.OverallGoal }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Has the resident or the resident representtative been given the CCTV policy and Guidelines and understands and accepts that there is CCTV in use throughout the Care Community grounds?</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <ng-container *ngIf="isEditable; else CCTVPolicyDropdownLabel">
                <p-dropdown
                    [(ngModel)]="
                        PreAdmissionAssessmentFormsData.CCTVPolicy
                    "
                    name="PreAdmissionAssessmentFormsData.CCTVPolicy"
                    [options]="LstPreAdmCCTVPolicyOptionsMaster"
                    optionLabel="optionName"
                    optionValue="optionId"
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                >
                    
                </p-dropdown>
            </ng-container>
            <ng-template #CCTVPolicyDropdownLabel>
                <label>{{
                    PreAdmissionAssessmentFormsData.CCTVPolicyName
                }}</label>
            </ng-template>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Save as Unfinished"
                            (click)="saveAsUnfinished()"
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Complete"
                            (click)="completeForm()"
                            [disabled]="
                                PreAdmissionAssessmentFormsData.IsFormCompleted
                            "
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button
                    pButton
                    title="Save as PDF"
                    label="Save as PDF"
                    (click)="SaveAsPDF()"
                ></button>
            </ng-template>
        </div>
    </div>
</div>
