<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b> Started by (Name) :</b
                        >{{ preSelectedFormData.StartedBy }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>Designation :</b
                        >{{ preSelectedFormData.StartedByDesignation }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time : </b
                        >{{
                            preSelectedFormData.StartedOn
                                | date : customDateFormat.DEF_DATE_TIME
                        }}</label
                    >
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b
                        >{{ preSelectedFormData.ModifiedBy }}</label
                    >
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Designation :</b
                        >{{ preSelectedFormData.ModifiedByDesignation }}</label
                    >
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time :</b>
                        {{
                            preSelectedFormData.ModifiedOn
                                | date : customDateFormat.DEF_DATE_TIME
                        }}</label
                    >
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 labelcontent">
            <p class="mb-4">
                Include question in your answer below: Please detail the
                residents' likes in relation to their Food & Drink intake.
                Include details such as when they like to eat, for example, the
                main meal at Teatime, and what's their go-to food?
            </p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <ng-container *ngIf="isEditable; else ResidentLikesLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="residentLikes"
                    class="form-control"
                    [(ngModel)]="DietaryNotificationFormsData.ResidentLikes"
                />
            </ng-container>
            <ng-template #ResidentLikesLabel>
                <label>{{ DietaryNotificationFormsData.ResidentLikes }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 mt-4 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 labelcontent">
            <p>
                Please include the question in your answer: what are the
                residents' Food & Drink dislikes?
            </p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else ResidentDislikesLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="residentDislikes"
                    class="form-control"
                    [(ngModel)]="DietaryNotificationFormsData.ResidentDislikes"
                />
            </ng-container>
            <ng-template #ResidentDislikesLabel>
                <label>{{
                    DietaryNotificationFormsData.ResidentDislikes
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Does the resident have any special dietary requirements?</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container
                *ngIf="isEditable; else SpecialDietaryRequirementsLabel"
            >
                <p-dropdown
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        DietaryNotificationFormsData.SpecialDietaryRequirement
                    "
                    [options]="specialDietaryOptions"
                     optionLabel="optionName"
                    optionValue="optionId"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #SpecialDietaryRequirementsLabel>
                <label>{{
                    DietaryNotificationFormsData.SpecialDietaryRequirementName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Detail special cultural/religious requirements</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else SpecialRequirementsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="specialCulturalReligiousRequirements"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.SpecialCulturalReligiousRequirements
                    "
                />
                <p class="mb-4">E.g. vegan / vegetarian / halal / other</p>
            </ng-container>
            <ng-template #SpecialRequirementsLabel>
                <label>{{
                    DietaryNotificationFormsData.SpecialCulturalReligiousRequirements
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Detail finger food requirements</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else FingerFoodRequirementsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="fingerFoodRequirements"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.FingerFoodRequirements
                    "
                />
            </ng-container>
            <ng-template #FingerFoodRequirementsLabel>
                <label>{{
                    DietaryNotificationFormsData.FingerFoodRequirements
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <!-- Details of choking risk -->
        <div class="col-md-4 labelcontent">
            <p>Details of choking risk</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else ChokingRiskLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="chokingRiskDetails"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.ChokingRiskDetails
                    "
                />
            </ng-container>
            <ng-template #ChokingRiskLabel>
                <label>{{
                    DietaryNotificationFormsData.ChokingRiskDetails
                }}</label>
            </ng-template>
        </div>

        <!-- Detail modified diet -->
        <div class="col-md-4 labelcontent">
            <p>Detail modified diet</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else ModifiedDietLabel">
                <p-dropdown
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        DietaryNotificationFormsData.ModifiedDietDetails
                    "
                    [options]="modifiedDietOptions"
                     optionLabel="optionName"
                    optionValue="optionId"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #ModifiedDietLabel>
                <label>{{
                    DietaryNotificationFormsData.ModifiedDietDetailsName
                }}</label>
            </ng-template>
        </div>

        <!-- Details of dietitian input -->
        <div class="col-md-4 labelcontent">
            <p>Details of dietitian input</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else DietitianInputLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="dietitianInputDetails"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.DietitianInputDetails
                    "
                />
            </ng-container>
            <ng-template #DietitianInputLabel>
                <label>{{
                    DietaryNotificationFormsData.DietitianInputDetails
                }}</label>
            </ng-template>
        </div>

        <!-- Details of nutritional supplements -->
        <div class="col-md-4 labelcontent">
            <p>Details of nutritional supplements</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else NutritionalSupplementsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="nutritionalSupplementsDetails"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.NutritionalSupplementsDetails
                    "
                />
            </ng-container>
            <ng-template #NutritionalSupplementsLabel>
                <label>{{
                    DietaryNotificationFormsData.NutritionalSupplementsDetails
                }}</label>
            </ng-template>
        </div>

        <!-- Thickened Fluids -->
        <div class="col-md-4 labelcontent">
            <p>Thickened Fluids</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else ThickenedFluidsLabel">
                <p-dropdown
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        DietaryNotificationFormsData.ThickenedFluidsDetails
                    "
                    [options]="thickenedFluidsOptions"
                     optionLabel="optionName"
                    optionValue="optionId"
                >
                </p-dropdown>
                <p class="mb-4">Required by the catering staff</p>
            </ng-container>
            <ng-template #ThickenedFluidsLabel>
                <label>{{
                    DietaryNotificationFormsData.ThickenedFluidsDetailsName
                }}</label>
            </ng-template>
        </div>

        <!-- Details of nil by mouth -->
        <div class="col-md-4 labelcontent">
            <p>Details of nil by mouth</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else NilByMouthLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="nilByMouthDetails"
                    class="form-control"
                    [(ngModel)]="DietaryNotificationFormsData.NilByMouthDetails"
                />
            </ng-container>
            <ng-template #NilByMouthLabel>
                <label>{{
                    DietaryNotificationFormsData.NilByMouthDetails
                }}</label>
            </ng-template>
        </div>

        <!-- Details of food & drink allergies -->
        <div class="col-md-4 labelcontent">
            <p>Details of food & drink allergies</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else AllergiesLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="foodDrinkAllergiesDetails"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.FoodDrinkAllergiesDetails
                    "
                />
            </ng-container>
            <ng-template #AllergiesLabel>
                <label>{{
                    DietaryNotificationFormsData.FoodDrinkAllergiesDetails
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Food & drink to avoid due to medication</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container
                *ngIf="isEditable; else AvoidFoodDueToMedicationLabel"
            >
                <input
                    pInputText
                    type="text"
                    required
                    name="foodToAvoidDueToMedication"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.FoodToAvoidDueToMedication
                    "
                />
                <p class="mb-4">E.g. anticoagulant - avoid cranberry juice</p>
            </ng-container>
            <ng-template #AvoidFoodDueToMedicationLabel>
                <label>{{
                    DietaryNotificationFormsData.FoodToAvoidDueToMedication
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Special cutlery & crockery needed</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else SpecialCutleryCrockeryLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="specialCutleryCrockery"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.SpecialCutleryCrockery
                    "
                />
                <p class="mb-4">
                    For example - thick handles, plate guard, lipped bowl,
                    beaker, etc
                </p>
            </ng-container>
            <ng-template #SpecialCutleryCrockeryLabel>
                <label>{{
                    DietaryNotificationFormsData.SpecialCutleryCrockery
                }}</label>
            </ng-template>
        </div>

        <!-- What size of meals does the resident generally prefer -->
        <div class="col-md-4 labelcontent">
            <p>What size of meals does the resident generally prefer</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else MealSizeLabel">
                <p-dropdown
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        DietaryNotificationFormsData.MealSizePreference
                    "
                    [options]="mealSizeOptions"
                     optionLabel="optionName"
                    optionValue="optionId"
                ></p-dropdown>
            </ng-container>
            <ng-template #MealSizeLabel>
                <label>{{
                    DietaryNotificationFormsData.MealSizePreferenceName
                }}</label>
            </ng-template>
        </div>

        <!-- Would the resident like to meet with the chef / cook -->
        <div class="col-md-4 labelcontent">
            <p>Would the resident like to meet with the chef / cook</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else MeetChefLabel">
                <p-dropdown
                    placeholder="--select--"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        DietaryNotificationFormsData.MeetChefPreference
                    "
                    [options]="meetChefPreferenceOptions"
                     optionLabel="optionName"
                    optionValue="optionId"
                ></p-dropdown>
                <p class="mb-4">Required by the catering staff</p>
            </ng-container>
            <ng-template #MeetChefLabel>
                <label>{{
                    DietaryNotificationFormsData.MeetChefPreferenceName
                }}</label>
            </ng-template>
        </div>

        <!-- Details of subcutaneous fluids -->
        <div class="col-md-4 labelcontent">
            <p>Details of subcutaneous fluids</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else SubcutaneousFluidsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="subcutaneousFluidsDetails"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.SubcutaneousFluidsDetails
                    "
                />
            </ng-container>
            <ng-template #SubcutaneousFluidsLabel>
                <label>{{
                    DietaryNotificationFormsData.SubcutaneousFluidsDetails
                }}</label>
            </ng-template>
        </div>

        <!-- Enteral feeding requirements -->
        <div class="col-md-4 labelcontent">
            <p>Enteral feeding requirements</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else EnteralFeedingLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="enteralFeedingRequirements"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.EnteralFeedingRequirements
                    "
                />
                <p class="mb-4">
                    Please detail the regime currently in place when it gets put
                    up and taken down what we use for flushes in between med
                    admin and feeds.
                </p>
            </ng-container>
            <ng-template #EnteralFeedingLabel>
                <label>{{
                    DietaryNotificationFormsData.EnteralFeedingRequirements
                }}</label>
            </ng-template>
        </div>

        <!-- Any additional instructions / information -->
        <div class="col-md-4 labelcontent">
            <p>Any additional instructions / information</p>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else AdditionalInstructionsLabel">
                <input
                    pInputText
                    type="text"
                    required
                    name="additionalInstructions"
                    class="form-control"
                    [(ngModel)]="
                        DietaryNotificationFormsData.AdditionalInstructions
                    "
                />
            </ng-container>
            <ng-template #AdditionalInstructionsLabel>
                <label>{{
                    DietaryNotificationFormsData.AdditionalInstructions
                }}</label>
            </ng-template>
        </div>

        <!-- 3 MONTHLY REVIEW (or before) -->
        <div class="col-md-4 labelcontent">
            <p>3 MONTHLY REVIEW (or before)</p>
        </div>
        <div class="col-md-7 form-text mb-4">
            <ng-container *ngIf="isEditable; else MonthlyReviewLabel">
                <p-checkbox
                    name="ChkMonthlyReview"
                    [binary]="true"
                    inputId="binary"
                    [(ngModel)]="DietaryNotificationFormsData.MonthlyReview"
                ></p-checkbox>
            </ng-container>
            <ng-template #MonthlyReviewLabel>
                <label>{{
                    DietaryNotificationFormsData.MonthlyReview ? "Yes" : "No"
                }}</label>
            </ng-template>
        </div>

        <!-- Next review date -->
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Next review date</p>
            </div>
        </div>
        <div class="col-md-7">
            <div class="input-group date">
                <ng-container *ngIf="isEditable; else NextReviewDateLabel">
                    <p-calendar
                        name="nextReviewDate"
                        [showIcon]="true"
                        inputId="icon"
                        [dateFormat]=""
                        class="iconcal"
                        [readonlyInput]="true"
                        appendTo="body"
                        [minDate]=""
                        [(ngModel)]="
                            DietaryNotificationFormsData.NextReviewDate
                        "
                    ></p-calendar>
                    <div
                        *ngIf=""
                        class="alert alert-danger"
                    ></div>
                </ng-container>
                <ng-template #NextReviewDateLabel>
                    <label>{{
                        DietaryNotificationFormsData.NextReviewDate
                    }}</label>
                </ng-template>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Save as Unfinished"
                            (click)="saveAsUnfinished()"
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Complete"
                            (click)="completeForm()"
                            [disabled]="
                                DietaryNotificationFormsData.IsFormCompleted
                            "
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button
                    pButton
                    title="Save as PDF"
                    label="Save as PDF"
                    (click)="SaveAsPDF()"
                ></button>
            </ng-template>
        </div>
    </div>
</div>
