<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Date of Accident/Incident</p>
            </div>
        </div>
        <div class="col-md-8 mt-4 mb-4 ">
            <div class="input-group date">
                <p-calendar name="DateOfBirth" [showIcon]="true" inputId="icon" [dateFormat]="" class="iconcal"
                    [readonlyInput]="true" appendTo="body" [maxDate]="" #dobref=""></p-calendar>
                <div *ngIf="" class="alert alert-danger">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Time of Accident/Incident
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4 ">
            <div class="d-flex align-items-center">
            <input pInputText type="text" required name="chartheadname" class="form-control mr-4"  [style]="{ width: '35%' }">
            <p>Use 24 hour clock</p>
        </div>
    </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Unique Referencing ID</p>
            </div>
        </div>
        <div class="col-md-8  mb-4">
            <div class="d-flex align-items-center">
                <input pInputText type="text" required name="chartheadname" class="form-control mr-4"
                    [style]="{ width: '35%' }">
                <p>Allowed text entry format :"-0123456789"eg:-"75.2"</p>
            </div>
            <p>Add Reference number example: Incident Date 05/08/2022 at 09:30 Entry = 0508220930</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>The Accident / Incident
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <p-triStateCheckbox inputId="tricheckbox"></p-triStateCheckbox>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Location of accident/Incident</p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>On which floor of the building did the accident/incident take place
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Type of accident/incident
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Describe the accident/incident
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Remain factual and include any contributory factors</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Please describe the situation before the accident or incident
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>What happened immediately before. Location. Did the person complain of dizziness, light-headedness,
                altered vision. Do they usually have assistance to walk or transfer. How is this support given. Give as
                much detail as possible in order to 'set the scene'.
            </p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>In what direction did the person fall. What part of the body hit the floor first
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Please detail the location of the injury with as much detail as possible
            </p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Injuries or illness sustained</p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Description of any treatment/first aid given. Name of person who administered first aid
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Job role of person who administered first aid
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Equipment involved in the accident/incident
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Please detail any equipment involved in the accident/incident - where/what etc
            </p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Was the person assessed by a nurse, doctor or paramedic before being moved
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>State Name, time, date</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Emergency services contacted</p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Date and Time emergency services contacted</p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>please detail who contacted the emergency services and when, note any crime number given</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Other professionals contacted</p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Please include any referrals made to professionals such as District Nurse, GP, Advanced Nurse
                Practitioner
            </p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Further checks and observations of injured person
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>nclude Date and times, e.g. was the person checked regularly throughout the night
            </p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Main witness name(s)</p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Personal / company address, telephone number</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Service Manager informed
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Contact name, date & time
            </p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Relative/NOK informed</p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Contact name, date & time
            </p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Please name any other contacts made
                </p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>include date & time</p>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the Falls Risk Assessment need updating</p>
            </div>
        </div>
        <div class="col-md-8 mb-4">
            <p-triStateCheckbox inputId="tricheckbox"></p-triStateCheckbox>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>
