<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>{{preSelectedFormData.StartedBy}}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b>{{preSelectedFormData.StartedByDesignation}} </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b>{{preSelectedFormData.StartedOn | date :
                        customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b>{{preSelectedFormData.ModifiedBy}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b>{{preSelectedFormData.ModifiedByDesignation}}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> {{preSelectedFormData.ModifiedOn | date:
                        customDateFormat.DEF_DATE_TIME}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>Date of Accident/Incident</p>
            </div>
        </div>
        <div class="col-md-8 mt-4 form-text">
            <div class="input-group date">
                <ng-container *ngIf="this.isEditable; else DateOfAccident">
                    <p-calendar name="AccidentNearMissRecordFormsData.dateOfAccident" [showIcon]="true" inputId="icon"
                        class="iconcal" [(ngModel)]="AccidentNearMissRecordFormsData.dateOfAccident"
                        [readonlyInput]="true" appendTo="body" [maxDate]="" #dobref=""></p-calendar>
                    <div *ngIf="" class="alert alert-danger">
                    </div>
                </ng-container>
                <ng-template #DateOfAccident>
                    <label>{{AccidentNearMissRecordFormsData.dateOfAccident}}</label>
                </ng-template>
            </div>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Time of Accident/Incident
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else TimeOfAccident">
                <input pInputText type="time" [(ngModel)]="AccidentNearMissRecordFormsData.timeOfAccident" required
                    name="AccidentNearMissRecordFormsData.TimeOfAccident" class="form-control mr-4"
                    [style]="{ width: '35%' }">
                <p class="mb-4">Use 24 hour clock</p>
            </ng-container>
            <ng-template #TimeOfAccident>
                <label>{{AccidentNearMissRecordFormsData.timeOfAccident}}</label>
            </ng-template>
        </div>
        <div class="col-md-4 ">
            <div class="labelcontent">
                <p>Unique Referencing ID</p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else UniqueReferenceId">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.uniqueReferenceId" required
                    name="AccidentNearMissRecordFormsData.uniqueReferenceId" class="form-control mr-4"
                    [style]="{ width: '35%' }">
                <p class="mb-4">Allowed text entry format :"-0123456789"eg:-"75.2"</p>
                <p class=" mb-4"> Add Reference number example: Incident Date 05/08/2022 at 09:30 Entry = 0508220930</p>
            </ng-container>
            <ng-template #UniqueReferenceId>
                <label>{{AccidentNearMissRecordFormsData.uniqueReferenceId}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>The Accident / Incident
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else AccidentStatus">
                <p-checkbox class="mb-4" [(ngModel)]="AccidentNearMissRecordFormsData.accidentStatus" [binary]="true"
                    inputId="binary"></p-checkbox>
            </ng-container>
            <ng-template #AccidentStatus>
                <label>{{AccidentNearMissRecordFormsData.accidentStatus==true?'yes':'no'}}</label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Location of accident/Incident</p>
            </div>
        </div>

        <div class="col-md-8 form-text ">
            <ng-container *ngIf="this.isEditable; else LocationOfAccident">
                <p-dropdown [required]="true" [options]="lstlocationaccident" optionLabel="optionName"
                    [(ngModel)]="AccidentNearMissRecordFormsData.locationOfAccident"
                    name="AccidentNearMissRecordFormsData.locationOfAccident" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #LocationOfAccident>
                <label>{{AccidentNearMissRecordFormsData.locationOfAccidentName}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>On which floor of the building did the accident/incident take place
                </p>
            </div>
        </div>
        <div class="col-md-8  form-text">
            <ng-container *ngIf="this.isEditable; else AccidentFloorPlace">
                <p-dropdown [required]="true" [options]="lstAccidentPlace" optionLabel="optionName"
                    [(ngModel)]="AccidentNearMissRecordFormsData.accidentFloorPlace"
                    name="AccidentNearMissRecordFormsData.accidentFloorPlace" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #AccidentFloorPlace>
                {{AccidentNearMissRecordFormsData.accidentFloorPlaceName}}
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Type of accident/incident
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else AccidentType">
                <p-dropdown [required]="true" [options]="lstAccidentType" optionLabel="optionName"
                    [(ngModel)]="AccidentNearMissRecordFormsData.accidentType"
                    name="AccidentNearMissRecordFormsData.accidentType" optionValue="optionId" placeholder="--select--"
                    [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #AccidentType>
                <label>{{AccidentNearMissRecordFormsData.accidentTypeName}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Describe the accident/incident
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else AccidentDesc">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.accidentDesc" required
                    name="AccidentNearMissRecordFormsData.accidentDesc" class="form-control" />
                <p class="mb-4">Remain factual and include any contributory factors</p>
            </ng-container>
            <ng-template #AccidentDesc>
                <label>{{AccidentNearMissRecordFormsData.accidentDesc}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Please describe the situation before the accident or incident
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else SituationDescBeforeAccident">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.situationDescBeforeAccident"
                    required name="AccidentNearMissRecordFormsData.situationDescBeforeAccident" class="form-control" />
                <p class="mb-4">What happened immediately before. Location. Did the person complain of dizziness,
                    light-headedness,
                    altered vision. Do they usually have assistance to walk or transfer. How is this support given. Give
                    as
                    much detail as possible in order to 'set the scene'.
                </p>
            </ng-container>
            <ng-template #SituationDescBeforeAccident>
                <label>{{AccidentNearMissRecordFormsData.situationDescBeforeAccident}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>In what direction did the person fall. What part of the body hit the floor first
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else DirectionOfPersonFallWithBodyPartHit">
                <input pInputText type="text"
                    [(ngModel)]="AccidentNearMissRecordFormsData.directionOfPersonFallWithBodyPartHit" required
                    name="AccidentNearMissRecordFormsData.directionOfPersonFallWithBodyPartHit" class="form-control" />
                <p class="mb-4">Please detail the location of the injury with as much detail as possible
                </p>
            </ng-container>
            <ng-template #DirectionOfPersonFallWithBodyPartHit>
                <label>{{AccidentNearMissRecordFormsData.directionOfPersonFallWithBodyPartHit}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Injuries or illness sustained</p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else InjuriesSustained">
                <p-dropdown [required]="true" [options]="lstInjurySustained" optionLabel="optionName"
                    [(ngModel)]="AccidentNearMissRecordFormsData.injuriesSustained"
                    name="AccidentNearMissRecordFormsData.injuriesSustained" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #InjuriesSustained>
                <label>{{AccidentNearMissRecordFormsData.injuriesSustainedName}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Description of any treatment/first aid given. Name of person who administered first aid
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else TreatmentDescWithNameOfPerson">
                <input pInputText type="text"
                    [(ngModel)]="AccidentNearMissRecordFormsData.treatmentDescWithNameOfPerson" required
                    name="AccidentNearMissRecordFormsData.treatmentDescWithNameOfPerson" class="form-control" />
            </ng-container>
            <ng-template #TreatmentDescWithNameOfPerson>
                <label>{{AccidentNearMissRecordFormsData.treatmentDescWithNameOfPerson}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Job role of person who administered first aid
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else JobRole">
                <p-dropdown [required]="true" [options]="lstJobRole" optionLabel="optionName"
                    [(ngModel)]="AccidentNearMissRecordFormsData.jobRole" name="AccidentNearMissRecordFormsData.jobRole"
                    optionValue="optionId" placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #JobRole>
                <label>{{AccidentNearMissRecordFormsData.jobRoleName}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Equipment involved in the accident/incident
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else Equipment">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.equipment" required
                    name="AccidentNearMissRecordFormsData.equipment" class="form-control" />
                <p class="mb-4">Please detail any equipment involved in the accident/incident - where/what etc
                </p>
            </ng-container>
            <ng-template #Equipment>
                <label>{{AccidentNearMissRecordFormsData.equipment}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Was the person assessed by a nurse, doctor or paramedic before being moved
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else AssessedBy">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.assessedBy" required
                    name="AccidentNearMissRecordFormsData.assessedBy" class="form-control" />
                <p class="mb-4">State Name, time, date</p>
            </ng-container>
            <ng-template #AssessedBy>
                <label>{{AccidentNearMissRecordFormsData.assessedBy}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Emergency services contacted</p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else EmergencyServices">
                <p-dropdown [required]="true" [options]="lstEmergencyServices" optionLabel="optionName"
                    [(ngModel)]="AccidentNearMissRecordFormsData.emergencyServices"
                    name="AccidentNearMissRecordFormsData.emergencyServices" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #EmergencyServices>
                <label>
                    {{AccidentNearMissRecordFormsData.emergencyServicesName}}
                </label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Date and Time emergency services contacted</p>
            </div>
        </div>
        <div class="col-md-8 form-text ">
            <ng-container *ngIf="this.isEditable; else EmergencyServicesContacted ">
                <input pInputText type="text" required name="chartheadname" class="form-control"
                    [(ngModel)]="AccidentNearMissRecordFormsData.emergencyServicesContacted" />
                <p>please detail who contacted the emergency services and when, note any crime
                    number given</p>
            </ng-container>

            <ng-template #EmergencyServicesContacted>
                <label>
                    {{AccidentNearMissRecordFormsData.emergencyServicesContacted}}
                </label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Other professionals contacted</p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else OtherProfessionalsContacted">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.otherProfessionalsContacted"
                    required name="AccidentNearMissRecordFormsData.otherProfessionalsContacted" class="form-control" />
                <p class="mb-4">Please include any referrals made to professionals such as District Nurse, GP, Advanced
                    Nurse
                    Practitioner
                </p>
            </ng-container>
            <ng-template #OtherProfessionalsContacted>
                <label>{{AccidentNearMissRecordFormsData.otherProfessionalsContacted}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Further checks and observations of injured person
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else InjuredPersonObservation">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.injuredPersonObservation"
                    required name="AccidentNearMissRecordFormsData.injuredPersonObservation" class="form-control" />
                <p class="mb-4">Include Date and times, e.g. was the person checked regularly throughout the night
                </p>
            </ng-container>
            <ng-template #InjuredPersonObservation>
                <label>{{AccidentNearMissRecordFormsData.injuredPersonObservation}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Main witness name(s)</p>
            </div>
        </div>
        <div class="col-md-8 form-text ">
            <ng-container *ngIf="this.isEditable; else WitnessName">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.witnessName" required
                    name="AccidentNearMissRecordFormsData.witnessName" class="form-control" />
                <p class="mb-4">Personal / company address, telephone number</p>
            </ng-container>
            <ng-template #WitnessName>
                <label>{{AccidentNearMissRecordFormsData.witnessName}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Service Manager informed
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else ServiceManagerDetails">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.serviceManagerDetails"
                    required name="AccidentNearMissRecordFormsData.serviceManagerDetails" class="form-control" />
                <p class="mb-4">Contact name, date & time
                </p>
            </ng-container>
            <ng-template #ServiceManagerDetails>
                <label>{{AccidentNearMissRecordFormsData.serviceManagerDetails}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Relative/NOK informed</p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else RelativeInformed">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.relativeInformed" required
                    name="AccidentNearMissRecordFormsData.relativeInformed" class="form-control" />
                <p class="mb-4">Contact name, date & time
                </p>
            </ng-container>
            <ng-template #RelativeInformed>
                <label>{{AccidentNearMissRecordFormsData.relativeInformed}}</label>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Please name any other contacts made
                </p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else OtherContacts">
                <input pInputText type="text" [(ngModel)]="AccidentNearMissRecordFormsData.otherContacts" required
                    name="AccidentNearMissRecordFormsData.otherContacts" class="form-control" />
                <p class="mb-4">include date & time</p>
            </ng-container>
            <ng-template #OtherContacts>
                <label>{{AccidentNearMissRecordFormsData.otherContacts}}</label>
            </ng-template>
        </div>
        <div class="col-md-4 implabel">
            <div class="labelcontent">
                <p>Does the Falls Risk Assessment need updating</p>
            </div>
        </div>
        <div class="col-md-8 form-text mb-2">
            <ng-container *ngIf="this.isEditable; else fallsRiskAssessmentStatus">
                <p-checkbox [(ngModel)]="AccidentNearMissRecordFormsData.fallsRiskAssessmentStatus" [binary]="true"
                    inputId="binary"></p-checkbox>
            </ng-container>
            <ng-template #fallsRiskAssessmentStatus>
                <label>{{AccidentNearMissRecordFormsData.fallsRiskAssessmentStatus==true?'yes':'no'}}</label>
            </ng-template>
        </div>


        <div class="col-md-4 mb-2">
            <div class="labelcontent">
                <p>The Qualified assessor complete the following actions</p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else qualifiedAssessor">
                <p-dropdown [required]="true" [options]="lstQualifiedAssessor" optionLabel="optionName"
                    [(ngModel)]="AccidentNearMissRecordFormsData.qualifiedAssessor"
                    name="AccidentNearMissRecordFormsData.qualifiedAssessor" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #qualifiedAssessor>
                <label>
                    {{AccidentNearMissRecordFormsData.qualifiedAssessorName}}
                </label>
            </ng-template>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Completion of a secondary survay</p>
            </div>
        </div>
        <div class="col-md-8 form-text">
            <ng-container *ngIf="this.isEditable; else secondarySurvay">
                <p-dropdown [required]="true" [options]="lstSecondarySurvay" optionLabel="optionName"
                    [(ngModel)]="AccidentNearMissRecordFormsData.secondarySurvay"
                    name="AccidentNearMissRecordFormsData.SecondarySurvay" optionValue="optionId"
                    placeholder="--select--" [style]="{ width: '100%' }">
                </p-dropdown>
            </ng-container>
            <ng-template #secondarySurvay>
                <label>
                    {{AccidentNearMissRecordFormsData.secondarySurvayName}}
                </label>
            </ng-template>
        </div>



        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Save as Unfinished" (click)="saveAsUnfinished()"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" label="Complete" (click)="completeForm()" [disabled]="
                                AccidentNearMissRecordFormsData.IsFormCompleted
                            "></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button pButton title="Save as PDF" label="Save as PDF" (click)="SaveAsPDF()"></button>
            </ng-template>
        </div>
    </div>
</div>