<form #myForm="ngForm">
    <div class="card">
        <div class="row">
            <div class="formheader">
                <div class="d-flex">
                    <div class="col-md-4">
                        <label class="form-label"><b> Started by (Name) :</b> {{ preSelectedFormData.StartedBy }}
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"><b>Designation :</b> </label>{{
                        preSelectedFormData.StartedByDesignation }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"> <b>Date/Time : </b></label>{{
                        preSelectedFormData.startedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-md-4">
                        <label class="form-label">
                            <b>Last entered by (Name) :</b></label> {{ preSelectedFormData.ModifiedBy }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"> <b>Designation :</b></label> {{
                        preSelectedFormData.modifiedByDesignation }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"> <b>Date/Time :</b> </label>{{
                        preSelectedFormData.modifiedOn
                        | date : customDateFormat.DEF_DATE_TIME
                        }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="labelcontent">
                    <p>Date of GP / Doctor Visit / Communication</p>
                </div>
            </div>
            <div class="col-md-8 mt-4">
                <div class="input-group date" *ngIf="this.isEditable;">
                    <p-calendar name="DateOfGP" [showIcon]="true" inputId="icon" [dateFormat]="" class="iconcal"
                        [readonlyInput]="true" appendTo="body"
                        [(ngModel)]="GPDoctorVisitCommDetails.dateOfGPCommunication" [maxDate]=""
                        #dobref=""></p-calendar>
                    <div *ngIf="" class="alert alert-danger">
                    </div>
                </div>
                <div *ngIf="!this.isEditable;">
                    <p>{{GPDoctorVisitCommDetails.dateOfGPCommunication | date:customDateFormat.DEF_DATE}} </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="labelcontent">
                    <p>Time of GP / Doctor Visit / Communication</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex align-items-center" *ngIf="this.isEditable;">
                    <p-calendar name="TimeofGP" [showIcon]="true" [dateFormat]="" class="iconcal" [timeOnly]="true"
                        inputId="timeonly" [readonlyInput]="true" appendTo="body"
                        [(ngModel)]="GPDoctorVisitCommDetails.timeOfGPCommunication" [maxDate]=""
                        #TimeofGPref=""></p-calendar>
                </div>
                <div *ngIf="!this.isEditable;">
                    <p>{{GPDoctorVisitCommDetails.timeOfGPCommunication | date:customDateFormat.TIME}} </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="labelcontent">
                    <p>Duration of GP / Doctor Visit / Communication</p>
                </div>
            </div>
            <div class="col-md-8">
                <input *ngIf="this.isEditable;" pInputText type="text" name="DurationOfGP" class="form-control"
                    [(ngModel)]="GPDoctorVisitCommDetails.durationOfGPCommunication" />
                <p *ngIf="!this.isEditable;">{{GPDoctorVisitCommDetails.durationOfGPCommunication}}</p>
            </div>
            <div class="col-md-4">
                <div class="labelcontent">
                    <p>Name(s) of GP / Doctor</p>

                </div>
            </div>
            <div class="col-md-8 form-text">
                <input *ngIf="this.isEditable;" pInputText type="text" name="NameOfGP" class="form-control"
                    [(ngModel)]="GPDoctorVisitCommDetails.nameOfGP" />
                <p class="mb-4" *ngIf="this.isEditable;">Please include full name(s) and designation(s)</p>
                <p *ngIf="!this.isEditable;">{{GPDoctorVisitCommDetails.nameOfGP}}</p>
            </div>
            <div class="col-md-4">
                <div class="labelcontent">
                    <p>How was the communication relayed</p>

                </div>
            </div>
            <!-- <div class="col-md-8 mb-4 ">
                <p-dropdown *ngIf="this.isEditable;" placeholder="--select--" [style]="{ width: '100%' }"
                    [options]="lstComRelayMaster" optionLabel="RelayName" optionValue="FamilyComRelayMasterId"
                    [(ngModel)]="GPDoctorVisitCommDetails.CommunicationRelayed">
                </p-dropdown>
                <p *ngIf="!this.isEditable;">{{GPDoctorVisitCommDetails.RelayName}}</p>
            </div> -->
            <div class="col-md-8">
                <ng-container *ngIf="isEditable==true">
                    <p-dropdown placeholder="--select--" [(ngModel)]="GPDoctorVisitCommDetails.communicationRelayed"
                        name="ddlCommRelay" [style]="{ width: '100%' }" [options]="lstFamilyComRelayMaster"
                        optionLabel="optionName" optionValue="optionId">
                    </p-dropdown>
                </ng-container>
                <ng-container *ngIf="isEditable!=true">
                    <p>{{GPDoctorVisitCommDetails.relayName}}</p>
                </ng-container>
            </div>
            <div class="col-md-4">
                <div class="labelcontent">
                    <p>Reason for Visit / Communication</p>
                </div>
            </div>
            <div class="col-md-8">
                <input *ngIf="this.isEditable;" pInputText type="text" name="ReasonforVisit" class="form-control"
                    [(ngModel)]="GPDoctorVisitCommDetails.reasonforVisit" />
                <p *ngIf="!this.isEditable;">{{GPDoctorVisitCommDetails.reasonforVisit}}</p>
            </div>
            <div class="col-md-4">
                <div class="labelcontent">
                    <p>Outcome of Visit / Communication</p>
                </div>
            </div>
            <div class="col-md-8">
                <input *ngIf="this.isEditable;" pInputText type="text" name="OutcomeOfVisit" class="form-control"
                    [(ngModel)]="GPDoctorVisitCommDetails.outcomeOfVisit" />
                <p *ngIf="!this.isEditable;">{{GPDoctorVisitCommDetails.outcomeOfVisit}}</p>
            </div>
            <div class="col-md-4">
                <div class="labelcontent">
                    <p>Further action(s) / follow up(s) by GP / Doctor</p>
                </div>
            </div>
            <div class="col-md-8">
                <input *ngIf="this.isEditable;" pInputText type="text" name="FurtherActionByGP" class="form-control"
                    [(ngModel)]="GPDoctorVisitCommDetails.furtherActionByGP" />
                <span *ngIf="!this.isEditable;">{{GPDoctorVisitCommDetails.furtherActionByGP}}</span>
            </div>
            <div class="col-md-4">
                <div class="labelcontent">
                    <p>Further action(s) / follow up(s) by Care home</p>
                </div>
            </div>
            <div class="col-md-8">
                <input *ngIf="this.isEditable;" pInputText type="text" name="chartheadname" class="form-control"
                    [(ngModel)]="GPDoctorVisitCommDetails.furtherActionByCareHome" />
                <span *ngIf="!this.isEditable;">{{GPDoctorVisitCommDetails.furtherActionByCareHome}}</span>
            </div>
            <div class="d-flex justify-content-end">
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" (click)="saveAsUnfinished()" label="Save as Unfinished"
                            [disabled]="!myForm.form.valid"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button pButton title="New" (click)="completeForm()" label="Complete"
                            [disabled]="!myForm.form.valid"></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>