<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b> Started by (Name) :</b
                        >{{ preSelectedFormData.StartedBy }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>Designation :</b
                        >{{ preSelectedFormData.StartedByDesignation }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time : </b
                        >{{
                            preSelectedFormData.StartedOn
                                | date : customDateFormat.DEF_DATE_TIME
                        }}</label
                    >
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b
                        >{{ preSelectedFormData.ModifiedBy }}</label
                    >
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Designation :</b
                        >{{ preSelectedFormData.ModifiedByDesignation }}</label
                    >
                </div>
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Date/Time :</b>
                        {{
                            preSelectedFormData.ModifiedOn
                                | date : customDateFormat.DEF_DATE_TIME
                        }}</label
                    >
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>What is the resident's first language</p>
            </div>
        </div>
        <div class="col-md-7 mt-4">
            <ng-container *ngIf="isEditable; else LanguageDropdown">
                <p-dropdown
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.ResidentsFirstLanguage
                    "
                    optionLabel="optionName"
                    optionValue="optionId"
                    [options]="languageOptions"
                    [showClear]="true"
                    [filter]="true"
                    filterPlaceholder="Search languages"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #LanguageDropdown>
                <label>{{
                    ConnectingAndCommunicatingFormData.ResidentsFirstLanguageName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Connecting and communicating with me - When you are spending
                    time with someone, what helps you to have a good chat or
                    connection?
                </p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else CommunicationDropdown">
                <p-dropdown
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.ConnectionPreferences
                    "
                    optionLabel="optionName"
                    optionValue="optionId"
                    [options]="communicationOptions"
                    [showClear]="true"
                    [filter]="true"
                    filterPlaceholder="Search preferences"
                >
                </p-dropdown>
                <p class="mb-4">
                    Include tips and tricks such as tone of voice, speed we are
                    talking, how we stand or sit beside the person, how we
                    explain what we are talking about, and the use of other
                    tools such as communication boards/cards etc.
                </p>
            </ng-container>
            <ng-template #CommunicationDropdown>
                <label>{{
                    ConnectingAndCommunicatingFormData.ConnectionPreferencesName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Are there any physical gestures or signs, in your face or
                    body, you use to communicate how you are feeling to others
                </p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else GesturesInput">
                <input
                    pInputText
                    type="text"
                    required
                    name="physicalGestures"
                    class="form-control"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.PhysicalGestures
                    "
                />
                <p class="mb-4">
                    Include lack of eye contact, looking aware, screwing up face
                    or blushing if the person isn't understanding what is being
                    said, turning their good ear to you when they are having
                    difficulty in hearing you etc
                </p>
            </ng-container>
            <ng-template #GesturesInput>
                <label>{{
                    ConnectingAndCommunicatingFormData.PhysicalGestures
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Connecting with Humour - what kinds of things do you find
                    funny and enjoy
                </p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else HumourInput">
                <input
                    pInputText
                    type="text"
                    required
                    name="humourPreferences"
                    class="form-control"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.HumourPreferences
                    "
                />
                <p class="mb-4">
                    Gain the information from the person, their loved ones or
                    previous assessments. Include whether it is particular
                    programs such as carry on films/still game/you've been
                    framed for example, dark sense of humour, silly things like
                    tickling or acting the clown
                </p>
            </ng-container>
            <ng-template #HumourInput>
                <label>{{
                    ConnectingAndCommunicatingFormData.HumourPreferences
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Are there types of physical affection you like and don't
                    like?
                </p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else AffectionInput">
                <input
                    pInputText
                    type="text"
                    required
                    name="physicalAffection"
                    class="form-control"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.PhysicalAffectionPreferences
                    "
                />
                <p class="mb-4">
                    Include kiss on the cheek or hand, hugs, arm around your
                    shoulder, holding hands, playing with your hair, a shoulder
                    rub, or consider if there is anything they would like us to
                    know about how they feel about physical touch
                </p>
            </ng-container>
            <ng-template #AffectionInput>
                <label>{{
                    ConnectingAndCommunicatingFormData.PhysicalAffectionPreferences
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Are there previous or current close relationships with a
                    partner that you would like us to know about?
                </p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else RelationshipInput">
                <input
                    pInputText
                    type="text"
                    required
                    name="partnerRelationship"
                    class="form-control"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.PartnerRelationship
                    "
                />
                <p class="mb-4">
                    Allow the person to express anything they wish around
                    personal relationships they would like us to know and
                    incorporate into their support plans
                </p>
            </ng-container>
            <ng-template #RelationshipInput>
                <label>{{
                    ConnectingAndCommunicatingFormData.PartnerRelationship
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Is there anything else you would like us to know that is
                    important for you in terms of your needs around intimacy?
                </p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else IntimacyInput">
                <input
                    pInputText
                    type="text"
                    required
                    name="intimacyNeeds"
                    class="form-control"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.IntimacyNeeds
                    "
                />
                <p class="mb-4">
                    It is really important that this question is asked
                    sensitively and if the person is unable to tell us that we
                    speak to their significant others to gain insight to promote
                    their intimacy needs and wishes.
                </p>
            </ng-container>
            <ng-template #IntimacyInput>
                <label>{{
                    ConnectingAndCommunicatingFormData.IntimacyNeeds
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Is there anything that impacts your ability to communicate
                    and how does that exhibit itself
                </p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else CommunicationImpactDropdown">
                <p-dropdown
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.CommunicationImpact
                    "
                    optionLabel="optionName"
                    optionValue="optionId"
                    [options]="communicationImpactOptions"
                    [showClear]="true"
                    [filter]="true"
                    filterPlaceholder="Search impacts"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #CommunicationImpactDropdown>
                <label>{{
                    ConnectingAndCommunicatingFormData.CommunicationImpactName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Does the resident wear any aids to promote their ability to
                    communicate
                </p>
            </div>
        </div>
        <div class="col-md-7 form-text">
            <ng-container *ngIf="isEditable; else CommunicationAidsDropdown">
                <p-dropdown
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.CommunicationAids
                    "
                    optionLabel="optionName"
                    optionValue="optionId"
                    [options]="communicationAidsOptions"
                    [showClear]="true"
                    [filter]="true"
                    filterPlaceholder="Search aids"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #CommunicationAidsDropdown>
                <label>{{
                    ConnectingAndCommunicatingFormData.CommunicationAidsName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Staff should select the below in relation to daily care and
                    maintenance of hearing aids
                </p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else HearingAidsCareDropdown">
                <p-dropdown
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.HearingAidsCare
                    "
                    optionLabel="optionName"
                    optionValue="optionId"
                    [options]="hearingAidsCareOptions"
                    [showClear]="true"
                    [filter]="true"
                    filterPlaceholder="Search options"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #HearingAidsCareDropdown>
                <label>{{
                    ConnectingAndCommunicatingFormData.HearingAidsCareName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>
                    Further Hearing aid care and tips: please select all areas
                    if the resident has hearing aids
                </p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else HearingAidCareTipsDropdown">
                <p-dropdown
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.HearingAidCareTips
                    "
                    optionLabel="optionName"
                    optionValue="optionId"
                    [options]="hearingAidCareTipsOptions"
                    [showClear]="true"
                    [filter]="true"
                    filterPlaceholder="Search options"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #HearingAidCareTipsDropdown>
                <label>{{
                    ConnectingAndCommunicatingFormData.HearingAidCareTipsName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident have a sight impairment</p>
            </div>
        </div>
        <div class="col-md-7">
            <ng-container *ngIf="isEditable; else SightImpairmentDropdown">
                <p-dropdown
                    placeholder="Select"
                    [style]="{ width: '100%' }"
                    [(ngModel)]="
                        ConnectingAndCommunicatingFormData.SightImpairment
                    "
                    optionLabel="optionName"
                    optionValue="optionId"
                    [options]="sightImpairmentOptions"
                    [showClear]="true"
                    [filter]="true"
                    filterPlaceholder="Search options"
                >
                </p-dropdown>
            </ng-container>
            <ng-template #SightImpairmentDropdown>
                <label>{{
                    ConnectingAndCommunicatingFormData.SightImpairmentName
                }}</label>
            </ng-template>
        </div>

        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="d-flex justify-content-end">
            <ng-container *ngIf="isEditable; else savePdf">
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Save as Unfinished"
                            (click)="saveAsUnfinished()"
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
                <div>
                    <span class="p-ml-left mr-4">
                        <button
                            pButton
                            title="New"
                            label="Complete"
                            (click)="completeForm()"
                            [disabled]="
                                ConnectingAndCommunicatingFormData.IsFormCompleted
                            "
                        ></button>
                        <span class="total-txt"></span>
                    </span>
                </div>
            </ng-container>
            <ng-template #savePdf>
                <button
                    pButton
                    title="Save as PDF"
                    label="Save as PDF"
                    (click)="SaveAsPDF()"
                ></button>
            </ng-template>
        </div>
    </div>
</div>
