<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="labelcontent">
                <p>What is the residents first language</p>
            </div>
        </div>
        <div class="col-md-7 mt-4 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon mt-4">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Connecting and communicating with me - When you are spending time with someone, what helps you to
                    have a good chat or connection?</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p>Include tips and tricks sicha s tone of voice, speed we are talking, how we stand or sit beside the
                peson, how we explain what we are talking about the use of other tools such as communication
                boards/cards etc</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Are there any physical gestures or signs, in your face or body, you use to communicate how you are
                    feeling to others</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Include lack of eye contact, looking aware, screwing up face or blushing if the person isn't
                understanding what is being said, turning their good ear to you when they are having difficulty in
                hearing you etc</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Connecting with Humour - what kinds of things do you find funny and enjoy</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Gain the information from the person, their loved ones or previous assessments. Include whether it is
                particular programs such as carry on films/still game/you've been framed for example, dark sense of
                humour, silly things like tickling or acting the clown</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Are there types of physical affection you like and don't like?</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Include kiss on the cheek or hand, hugs, arm around your shoulder, holding hands, playing with your hair,
                a shoulder rub, or consider if there is anything they would like us to know about how they feel about
                physical touch</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Are there previous or current close relationships with a partner that you would like us to know
                    about?</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>Allow the person to express anything they wish around personal relationship they would like us to know
                and incorporate into their support plans</p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>is there anything else you would like us to know that is important for you in terms of your needs
                    around intimacy</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p>It is really important that this question is asked sensitively and if the person is unable to tell us
                that we speak to their significant others to gain insight to promote their intimacy needs and wishes.
            </p>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Is there anything that impacts your ability to communicate and how does that exhibit itself</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident wear any aids to promote their ability to communicate</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Staff should select the below in relation to daily care and maintenance of hearing aids</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Further Hearing aid care and tips: please select all areas if the resident has hearing aids</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4">
            <div class="labelcontent">
                <p>Does the resident have a sight impairment</p>
            </div>
        </div>
        <div class="col-md-7 mb-4">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon">
            <i class="fa-solid fa-info"></i>
        </div>

        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>