<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="profile-box">
                <div class="profile-img">
                    <!-- <img [src]="profileUrl+ (ResidentMaster.ProfileImage==''? 'no-picture.png': ResidentMaster.ProfileImage)"
                       class="w-6 shadow-2 my-1 mx-0"> -->
                    <img [src]="imageSrc" class="w-6 shadow-2 my-1 mx-0" *ngIf="
                            imageSrc != null &&
                            imageSrc != undefined &&
                            imageSrc != ''
                        " />

                </div>
                <h1>{{ ResidentMaster.FullName }}</h1>
                <div class="detail-table">
                    <table class="table">
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                            <td>
                                {{ calculateAge(ResidentMaster.DateOfBirth) }}y
                                ({{
                                ResidentMaster.DateOfBirth
                                | date : customDateFormat.DEF_DATE
                                }})
                            </td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>{{ ResidentMaster.Gender }}</td>
                        </tr>
                        <tr>
                            <td>Room</td>
                            <td>:</td>
                            <td>{{ ResidentMaster.RoomNumber }}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>:</td>
                            <td>
                                {{
                                admissionStatus[
                                ResidentMaster.AdmissionStatus
                                ]
                                }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <h5>Allergies</h5>
            {{ allergies }}
        </div>
    </div>
    <div class="col-md-9">
        <div class="card pb-0 profile-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item " role="presentation" >
                    <p-button class="nav-link" type="button" label="Profile" (click)="confirm($event,'Profile')"></p-button>
                </li>
                <li class="nav-item" role="presentation">
                    <p-button class="nav-link" type="button" (click)="confirm($event,'ProgressNote')"
                        label="Progress notes"></p-button>
                </li>
                <li class="nav-item" role="presentation">
                    <p-button class="nav-link" type="button" (click)="confirm($event,'CarePlan')"
                        label="Care plan"></p-button>
                </li>
                <li class="nav-item" role="presentation">
                    <p-button class="nav-link" type="button" (click)="confirm($event,'Form')" label="Form"></p-button>
                </li>
                <li class="nav-item" role="presentation">
                    <p-button class="nav-link" (click)="confirm($event,
                        'Chart')" label="Charts"></p-button>
                </li>
                <li class="nav-item" role="presentation">
                    <p-button class="nav-link" (click)="confirm($event,'Action')" label="Actions"></p-button>
                </li>
                <li class="nav-item" role="presentation">
                    <p-button class="nav-link" (click)="confirm($event,'Alert')" label="Alerts (0)"></p-button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
            <div aria-labelledby="profile-tab" *ngIf="Profile">
                <app-profile [userid]="selecteduserid" [admissionid]="selectedadmissionid"
                    [residentadmissiondetails]="ResidentMaster"></app-profile>
            </div>

            <div *ngIf="ProgressNote">
                <app-resident-progressnotes [admissionid]="selectedadmissionid"
                    [userid]="selecteduserid"></app-resident-progressnotes>
            </div>
            <div  aria-labelledby="care-tab" *ngIf="CarePlan">
                ..

            </div>
            <div *ngIf="Form">
                <app-forms-dashboard [userId]="selecteduserid"
                    [residentAdmissionInfoId]="selectedadmissionid"></app-forms-dashboard>
            </div>
            <div *ngIf="Chart">
                <app-chart [userId]="selecteduserid" [residentAdmissionInfoId]="selectedadmissionid"></app-chart>
            </div>
            <div>
                ...
            </div>
            <div *ngIf="Alert">
                <app-alert [userid]="selecteduserid" [admissionid]="selectedadmissionid"
                    [residentadmissiondetails]="ResidentMaster"></app-alert>
            </div>
        </div>
    </div>
</div>