<div class="card">
    <div class="row">
        <div class="formheader">
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label"><b> Started by (Name) :</b>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>Designation :</b> </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time : </b></label>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-md-4">
                    <label class="form-label">
                        <b>Last entered by (Name) :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Designation :</b></label>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> <b>Date/Time :</b> </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 labelcontent">
            <p>Gathering Information (from who)</p>
        </div>
        <div class="col-md-7 mt-4 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 mt-4 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Capacity</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Deprivation of Liberty Details</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Advanced Care Directive</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Advanced Care Directive Details</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Include any details and date applied for</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Diagnosed Medical Conditions</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please enter all diagnosed medical conditions, and how they affect the resident</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Medication Details</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include how the resident prefers to take their medication e.g. placed in their hand
                or from a medication pot and with what drink</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Pain Status</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Pain Details</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include location of pain, ability to request pain relief/express pain, signs of
                experiencing pain</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Breathing and Circulation</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Breathing and Circulation Details</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include all health conditions affecting breathing (COPD, asthma, other, aids used
                (oxygen etc.), smoking</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Infection Status</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Infection Details</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include type of infection, location, treatment</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Mobility and Falls</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Mobility Support Details</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please Include details of support required when mobilising e.g. 1 or 2 carers</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Communication</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Communication Additional Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Sight and Hearing</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Sight & Hearing Additional Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Eating and Drinking</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Eating and Drinking Additional Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include food likes and dislikes, any food/drinks to be avoided, support required,
                positive risk taking - making/preparing own meals/drinks</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Is the Resident Allowed Alcohol</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Alcohol Additional Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Personal Care, Washing and Dressing</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Personal Care Preferences</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Personal Care Assistance Additional Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include support required with washing and dressing e.g. order or clothing, prompting,
                clothing preferences - including nightwear</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Continence</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Continence Additional Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Sleep and Resting</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Sleep and Resting Additional Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include preference/routine, frequency of turns if required, also sleeping position
                i.e. head raised</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Skin Assessment</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
            <p class="mb-4">If the resident has a pressure ulcer or wound a wound chart must be completed</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Skin Assessment Details</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include details of any areas of concern, details of district nurse visits if required
            </p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent implabel">
            <p>Maintaining a Safe Environment</p>
        </div>
        <div class="col-md-7  form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Maintaining a Safe Environment Additional Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include how this can be managed within respite</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Personal Emergency Evacuation Plan</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Please include details of how the resident would be supported in the event of a fire</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Life History Information</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p><b>DIABETES SECTION</b></p>
        </div>
        <div class="col-md-7 mb-4 form-text">
            <p-checkbox name="ChkMonthlyReview" [binary]="true" inputId="binary"></p-checkbox>
        </div>

        <div class="col-md-4 labelcontent">
            <p>Diabetes</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Does the resident have a history of foot problems relating to being a diabetic or another health
                condition</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">e.g The resident's feet show signs of inflammation and / or infection</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Support required by the resident to manage condition(s)</p>
        </div>
        <div class="col-md-7  form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Detail monitoring regime, foot care, mobility,eye care, signs and symptoms of hyperglycaemia
            </p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p><b>EPILEPSY and SEIZURES SECTION</b></p>
        </div>
        <div class="col-md-7 mb-4 form-text">
            <p-checkbox name="ChkMonthlyReview" [binary]="true" inputId="binary"></p-checkbox>
        </div>
      
        <div class="col-md-4 labelcontent">
            <p>Epilepsy and Seizures</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">What type of seizures, what happens during a seizure, triggers and warning signs ,frequency,
                what help does the resident need</p>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Strategies to manage the residents medication needs</p>
        </div>
        <div class="col-md-7 form-text">
            <p-dropdown placeholder="Select" [style]="{ width: '100%' }">
            </p-dropdown>
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Are there any other identified risks relating to medication, healthcare or treatments</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
            <p class="mb-4">Specify any other risks that have not been identified above</p>
        </div>

        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>Action(s) to manage additional identified risks</p>
        </div>
        <div class="col-md-7 form-text">
            <input pInputText type="text" required name="chartheadname" class="form-control" />
        </div>
        <div class="col-md-1 form-icon ">
            <i class="fa-solid fa-info"></i>
        </div>
        <div class="col-md-4 labelcontent">
            <p>MONTHLY REVIEW (or before)</p>
        </div>
        <div class="col-md-7 mb-4 form-text">
            <p-checkbox name="ChkMonthlyReview" [binary]="true" inputId="binary"></p-checkbox>

            <p class="mb-4">This form should be reviewed EVERY MONTH or before if there are significant changes. Enter
                review date below.</p>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Save as Unfinished"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
            <div>
                <span class="p-ml-left mr-4">
                    <button pButton title="New" label="Complete"></button>
                    <span class="total-txt"></span>
                </span>
            </div>
        </div>
    </div>
</div>