<div class="card">
  <div class="row">
    <div class="formheader">
      <h4>New observation</h4>
    </div>
    <div class="col-md-4 mt-4">
      <label class="form-label"> Date<span class="required">*</span></label>
      <p-calendar name="" [showIcon]="true" inputId="icon" class="iconcal" [readonlyInput]="true" appendTo="body"
        [maxDate]="" #dobref="" [(ngModel)]="ActivitiesChartFormData.Date"></p-calendar>
    </div>
    <div class="col-md-4 mt-4">
      <label class="form-label">Time<span class="required">*</span></label>
      <input pInputText type="time" required name="ActivitiesChartFormData.Time" class="form-control mr-4"
        [(ngModel)]="ActivitiesChartFormData.Time" />
    </div>
    <div class="col-md-4 mt-4">
      <label class="form-label">Care Given <span class="required">*</span></label>
      <p-dropdown [required]="true" name="ActivitiesChartFormData.CareGiven" placeholder="--Select--"
        [style]="{ width: '100%' }" [options]="stLstYesNoOptions" optionValue="optionId" optionLabel="optionValue"
        [(ngModel)]="ActivitiesChartFormData.CareGiven" (onChange)="openAndClose()">
      </p-dropdown>
    </div>
    <div *ngIf="inputFields" class="row">
      <div class="col-md-4">
        <label class="form-label">Activity <span class="required">*</span></label>
        <p-dropdown [required]="true" name="ActivitiesChartFormData.Activity" placeholder="Select"
          [style]="{ width: '100%' }" [(ngModel)]="ActivitiesChartFormData.Activity" [options]="lstActivity"
          optionLabel="optionName" optionValue="optionId">
        </p-dropdown>
      </div>

      <div class="col-md-4">
        <label class="form-label">Attendance<span class="required">*</span></label>
        <p-dropdown [required]="true" name="ActivitiesChartFormData.Attendance" placeholder="Select"
          [style]="{ width: '100%' }" [options]="stLstAttendanceOptions" optionValue="optionId"
          optionLabel="optionValue" [(ngModel)]="ActivitiesChartFormData.Attendance">
        </p-dropdown>
      </div>

      <div class="col-md-4">
        <label class="form-label">Purpose of activity<span class="required">*</span></label>
        <p-dropdown [required]="true" name="ActivitiesChartFormData.PurposeOfActivity" placeholder="Select"
          [style]="{ width: '100%' }" [(ngModel)]="ActivitiesChartFormData.PurposeOfActivity"
          [options]="lstPurposeOfActivity" optionLabel="optionName" optionValue="optionId">
        </p-dropdown>
      </div>
      <div class="col-md-4">
        <label class="form-label">Duration (minutes)<span class="required">*</span></label>
        <input pInputText type="time" required name="ActivitiesChartFormData.Duration" class="form-control mr-4"
          [(ngModel)]="ActivitiesChartFormData.Duration" />
      </div>
    </div>
    <h5 class="formheader">Additional information</h5>
    <div class="col-md-4">
      <label class="form-label">Status of skin - skin inspection comments<span class="required">*</span></label>
      <input type="text" pInputText name="ActivitiesChartFormData.AdditionalInformation" [required]="true"
        [style]="{ width: '100%' }" [(ngModel)]="ActivitiesChartFormData.AdditionalInformation" />
    </div>

    <div class="d-flex justify-content-end mt-4">
      <div>
        <span class="p-ml-left mr-4">
          <button pButton title="Clear all field" label="Clear all feild"></button>
          <span class="total-txt"></span>
        </span>
      </div>
      <div>
        <span class="p-ml-left mr-4">
          <button pButton title="save" label="Save" (click)="completeForm()"></button>
          <span class="total-txt"></span>
        </span>
      </div>
    </div>
  </div>
</div>