<div class="card">
    <p-table #dt [value]="AlertList" responsiveLayout="scroll" styleClass="p-datatable-striped" [rowHover]="true"
        [globalFilterFields]="['AlertName','ResidentName']" [scrollable]="true" scrollHeight="calc(100vh - 155px)"
        [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <span class="p-ml-left">
                    <span class="total-txt">
                        {{AlertList?.length>0?'Total Records:
                        '+AlertList.length:''}} </span>
                </span>
                <span class="p-ml-auto">
                    <button pButton title="Export Data" label=" " class="p-button-outlined mr-2" icon="pi pi-download"
                        (click)="exportToItemExcel();"></button>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input #filtr pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                            placeholder="Search..." /></span>

                    <span class="m-3">
                        <button pButton title="Filters" label="Filters" class="p-button-outlined mr-2"
                            icon="pi pi-filter" (click)="ShowFilters()" style="height: 40px; width: 100px;"></button>
                    </span>
                </span>
            </div>

            <div *ngIf="isAlertList">
                <app-filteration [ComponentName]="ComponentName"
                    (FiltrationOutputData)="GetAlertListFilterData($event)"></app-filteration>
            </div>

        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns?.length">
                    No records found
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Resident Name</th>
                <th>Alert Name</th>
                <th>Observation</th>
                <th>Recorded Date/Time</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dt let-i="rowIndex">
            <tr>
                <td>
                    <img [src]="dt.ProfileImage" class="w-4 mx-2">
                    <p class="bold">{{dt.ResidentName}}<br>{{dt.DOB|date:'dd-MM-yyyy'}}<br>({{ calculateAge(dt.DOB)}}y)
                    </p>

                </td>
                <td>
                    <div>
                        <label class="bold text-danger fs-5"> {{dt.AlertName}} </label>
                        <label> {{GetHeadline(dt.alertMasterId)}} </label>
                    </div>

                </td>
                <td *ngIf="dt.AlertName=='Blood pressure alert'">
                    <div>
                        <label class="text-danger">{{dt.value}}</label> {{alertUnit}} <br>
                        <label class="bold" *ngIf="dt.alertMasterId == alertTypes.BloodPressureAlert">Baseline Value
                            Ranges :-- <br> Systolic Range (mmHg) = {{dt.MinSystolic}} - {{dt.MaxSystolic}}
                            <br>
                            Diastolic Range (mmHg) = {{dt.MinDiastolic}} -
                            {{dt.MaxDiastolic}}</label>
                        <label class="bold" *ngIf="dt.alertMasterId == alertTypes.WeightAlert">Baseline Value Range =
                            {{dt.MinWeight}} - {{dt.MaxWeight}}</label>
                        <label class="bold" *ngIf="dt.alertMasterId == alertTypes.BloodGlucoseAlert">Baseline Value
                            Range = {{dt.MinWeight}} - {{dt.MaxWeight}}</label>
                    </div>
                </td>
                <td *ngIf="dt.isPulseNewsAlert==true&&dt.isOxygenNewsAlert==false">
                    <div>
                        <label class="text-danger">{{dt.value}}</label> {{GetUnit(dt.alertMasterId)}} <br>
                        <label class="bold" *ngIf="dt.alertMasterId == alertTypes.NEWS2Alert">Baseline Value Range =
                            {{dt.MinPulse}} - {{dt.MaxPulse}}</label>
                    </div>
                </td>
                <td *ngIf="dt.isOxygenNewsAlert==true&&dt.isPulseNewsAlert==false">
                    <div>
                        <label class="text-danger">{{dt.value}}</label>{{GetUnit(dt.alertMasterId)}} <br>
                        <label class="bold" *ngIf="dt.alertMasterId == alertTypes.NEWS2Alert">Baseline Value Range =
                            {{dt.MinOxygen}} - {{dt.MaxOxygen}}</label>
                    </div>
                </td>
                <td *ngIf="dt.AlertName=='Blood glucose alert'">
                    <div>
                        <label class="text-danger">{{dt.value}}</label> {{alertUnit}} <br>
                        <label class="bold" *ngIf="dt.alertMasterId == alertTypes.BloodGlucoseAlert">Baseline Value Range =
                            {{dt.MinGlucose}} - {{dt.MaxGlucose}}</label>
                    </div>
                </td>
                <td>
                    <div>
                        <label>{{dt.createdOn | date:customDateFormat.DEF_DATE_TIME}}</label> <br>
                        <label>Observed By -- {{dt.CreatedBy}} </label>
                    </div>
                </td>
                <td>
                    <div>
                        <p-button *ngIf="!dt.isActionTaken"
                            (click)="showPopup(dt.dailyVitalsAlertId,dt)">Action</p-button>

                        <div *ngIf="dt.isActionTaken">
                            <label>Actioned By -- {{dt.ActionBy}} </label> <br>
                            <label>Actioned On -- {{dt.actionOn | date:customDateFormat.DEF_DATE_TIME}}</label> <br>
                        </div>

                        <hr *ngIf="dt.actionRemarks != null" style="border: 1px solid black;">

                        <div *ngIf="dt.actionRemarks != null">
                            <label class="bold">{{dt.actionRemarks}}</label>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="isShowActionTakenPopup" class="card flex justify-content-center">
        <p-dialog [closable]="true" header="Action this alert" [(visible)]="isShowActionTakenPopup" [modal]="true"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '40vw' }" [draggable]="false"
            [resizable]="false">
            <div *ngIf="isShowActionTakenPopup">
                <app-action-taken-popup [ActionTakenData]="ActionTakenData" (ActionTakenCheck)="Changes($event)"
                    (EmitUpdateAlert)="AlertChanges($event)"></app-action-taken-popup>
            </div>
        </p-dialog>
    </div>
</div>