<div class="row mt-4">
    <div class="col-md-9">
        <button pButton type="button" label="Summary Care plan" class="mr-2"
            (click)="showData('SummaryCarePlan')"></button>
        <button pButton type="button" label="Extended Care plan" class="mr-2"
            (click)="showData('ExtendedCarePlan')"></button>
        <button pButton type="button" label="Evaluate" class="mr-2" (click)="showData('Evaluate')"></button>
    </div>
    <div class="col-md-3">
        <button pButton type="button" label="Download" class="btn mr-2"></button>
        <button pButton type="button" label="Print View" class="btn"></button>
    </div>
</div>



<div *ngIf="isEvaluate">
    <div class="row mt-5">
        <div class="col-md-12">
            <h4>Care Plan</h4>
        </div>
    </div>
    <p-accordion [multiple]="true">
        <p-accordionTab header="Evaluate Care Plan">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </p-accordionTab>
    </p-accordion>
</div>



<div class="row mt-5">
    <div class="col-md-12">
        <h4>Care Domains</h4>
    </div>
</div>
<div class="row p-3">
    <div class="col-md-11" *ngIf="isSummaryCarePlan">
        <div class="bg-white border border-1 border-block mb-4">
            <div class="card-header">
                My Infection Prevention and Control Support Plan
            </div>
            <div class="formheader">
                Goal
            </div>
            <div class="d-flex justify-content-between align-items-center p-3">
                <div class="col-md-4">
                    <div class="dotted-line"></div>
                </div>
                <div class="col-md-4 text-center mt-3">
                    <h4>Acute Care and Infection Control Plan</h4>
                </div>
                <div class="col-md-4">
                    <div class="dotted-line"></div>
                </div>
            </div>
            <div class="formheader m-3 p-3">
                all is well
            </div>
        </div>

        <div class="bg-white border border-1 border-block ">
            <div class="card-header">
                My Maintaining a safe Environment Support Plan
            </div>
            <div class="formheader">
                Goal
            </div>
            <div class="d-flex justify-content-between align-items-center p-3">
                <div class="col-md-4">
                    <div class="dotted-line"></div>
                </div>
                <div class="col-md-4 text-center mt-3">
                    <h4>Person Centered Information</h4>
                </div>
                <div class="col-md-4">
                    <div class="dotted-line"></div>
                </div>
            </div>


            <div class="d-flex justify-content-between align-items-center p-3">
                <div class="col-md-4">
                    <div class="dotted-line"></div>
                </div>
                <div class="col-md-4 text-center mt-3">
                    <h4>Risk Score for Evacuation</h4>
                </div>
                <div class="col-md-4">
                    <div class="dotted-line"></div>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center p-3">
                <div class="col-md-4">
                    <div class="dotted-line"></div>
                </div>
                <div class="col-md-4 text-center mt-3">
                    <h4>Personal Emergency Evacuation Plan</h4>
                </div>
                <div class="col-md-4">
                    <div class="dotted-line"></div>
                </div>
            </div>
            <div class="formheader m-3 p-3">
                all is well
            </div>
        </div>
    </div>

    <div class="row note mt-1" *ngIf="isExtendedCarePlan||isEvaluate">
        <p-accordion [multiple]="true">
            <p-accordionTab header="My Infection Prevention and Control Support Plan">
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My Maintaining a Safe Environment Support Plan">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My Medication, Healthcare, Treatment and Management Support Plan">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My on the move and falls Risk Awareness Support Plan">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My Communicatin Support Plan">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My Personal care and Projection of self image,oral care,foot Support Plan">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My Skin care Support Plan">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My Nutrition and Hydration Support Plan">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My Mental health and well being support plan">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="My Activities and intersts,community inclusion and cultural support plan">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="Care plan detail">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>